[2022-01-14 15:41] artlogic commented on #109
Are tests being done in production? I can prioritize getting dev set up if that's needed.

[2022-01-14 16:03] wdet30 commented on #109
Let's get rolling on that. I will hold off test and dev until we get dev setup and cloned.

Thank you @***@***.******@***.***>

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Friday, January 14, 2022 10:41:40 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/

[2022-01-18 16:00] dorothyhernandez commented on #109
The headlines and excerpts are now being pulled in for social posts.

[2022-01-18 16:05] #104 closed

[2022-01-18 19:10] dorothyhernandez commented on #109
Reopening because when I try to post links in Teams, the copy says "WDET 101.9FM WDET is Detroit's Public Radio Station where it would usually have the headline.

What it used to look like:
<img width="756" alt="Screen Shot 2022-01-18 at 2 10 06 PM" src="https://user-images.githubusercontent.com/91985309/150002839-40318657-d8ee-4503-bbf5-83ea4035771b.png">

What it looks like now:
<img width="753"

[2022-01-19 16:28] dorothyhernandez opened #116 "Optimize website for mobile devices"
Clean up formatting of website on mobile devices.

Current issues:
- Nav bar doesn't have "shows, podcasts, series" etc.
- Banner ad cut off
- Probably don't need "recent" section because the same posts are repeated below so it might seem redundant, maybe just a "latest" section and all of the recent posts show up
-
<img width="345" alt="Screen Shot 2022-01-19 at 11 27 44 AM" src="https://user-ima

[2022-01-19 19:32] dorothyhernandez commented on #116
Got another comment on mobile formatting so I'll add them here as I get them.

From Eli Newman:
The first thing that stands out is that there is no easy access to a “listen“ button for the stream. And there is some strange formatting that occurs with ads and article, mainly cutting off headlines. You can also scroll to the right where it’s blank.

<img width="302" alt="Screen Shot 2022-01-19 at 2

[2022-01-20 17:45] dorothyhernandez commented on #69
@wdet30 Credit/source still not displaying on the front end even though we are filling in the Credit field. I can figure out a workaround for the inline images but the featured images really need to have the credits showing up.

[2022-01-20 17:48] artlogic commented on #69
I'm sorry this issue isn't resolved yet - please don't use workarounds as it may result in the credit/source being displayed twice. I will be working on this issue over the next few days.

[2022-01-20 17:49] artlogic commented on #109
Removing myself for now - let me know if you need a hand @wdet30.

[2022-01-20 17:50] artlogic commented on #106
Removing myself for now - let me know if you need a hand @wdet30.

[2022-01-20 17:51] artlogic commented on #93
I don't believe I have any more work on this one - removing myself.

[2022-01-20 17:52] dorothyhernandez commented on #69
@artlogic copy that, thanks!

[2022-01-20 18:10] artlogic commented on #103
@wdet30

I updated github with theme changes to make the nav centering official and to change the donate centered - but I noticed that github appears to be out of date, so you may want to look at my commits and apply them piecemeal - where are you keeping the official version of the theme?

[2022-01-20 18:19] artlogic commented on #103
Last piece of this puzzle - the following site should solve the top to bottom nav centering:

[code]

Removing myself from this - please re-add me if any of this doesn't work.

[2022-01-22 00:52] dorothyhernandez commented on #109
When uploading urls to social scheduling and social platforms, the image pulled in is the author photo and not the featured image. Not sure if that is a website issue but flagging it here because prior to the launch of the new site this was never an issue.

<img width="685" alt="Screen Shot 2022-01-21 at 7 52 37 PM" src="https://user-images.githubusercontent.com/91985309/150617853-f968fe18-908b-47

[2022-01-24 16:15] dmsanderswdet opened #117 "Download Link-Past Shows"
Listener was unable to find the link for past shows.  (Ann Delisi and Rob Reinhart-Essential Music)

[2022-01-24 18:05] artlogic commented on #117
I'm going to assign this to @dorothyhernandez for now - please feel free to re-assign as needed.

[2022-01-24 18:22] dorothyhernandez commented on #107
@wdet30 Where did we land on this? Should I start creating redirects for the 404s as they come up or will we do option no 2? The hyphen is the only issue that I know of as of right now.

[2022-01-24 18:24] dorothyhernandez commented on #109
Per the Web Launch Status meeting 01.24.22, I am flagging the top 3 priorities. This is one of them.

[2022-01-24 18:25] dorothyhernandez commented on #109
Per the Web Launch Status meeting 01.24.22, I am flagging the top 3 priorities. This is one of them.

[2022-01-24 18:25] dorothyhernandez commented on #107
Per the Web Launch Status meeting 01.24.22, I am flagging the top 3 priorities. This is one of them.

[2022-01-24 18:36] dorothyhernandez commented on #114
Per the Web Launch Status meeting on 01.24.22, flagging this as one of the top priorities since I have been avoiding using my admin account because I don't want to further mess up links but that means I can't use Elementor.

[2022-01-24 19:15] artlogic commented on #69
I'm currently waiting to hear back from Advanced Custom Field plug-in support. Roughly speaking, the custom fields we set aren't available using the API I'd prefer to use - but they should be. Hopefully support can provide a work-around.

[2022-01-25 18:07] dmsanderswdet opened #118 "No Listen Button"

[2022-01-25 18:11] artlogic commented on #118
We're going to need more details here. Platform or device. Browser. Screenshots. Who reported this?

[2022-01-25 18:14] dmsanderswdet commented on #118
It came through the feedback portal.  I can see the "Listen Button" on my computer.  I haven't tried streaming it on the mobile app

Diane

Listen Live at  wdet.org<http://www.wdet.org/> or in the WDET mobile app<https://wdet.org/mobile/>

[cid:5088abf5-2547-42cb-878c-f043261c9670]

________________________________
From: James Kruth ***@***.***>
Sent: Tuesday, January 25, 2022 1:11 PM
To: arsmenti

[2022-01-25 18:16] artlogic commented on #118
Issues like this are pretty difficult to track down without further details. Are you able to reach out to the person who gave this feedback?

[2022-01-25 18:28] dmsanderswdet commented on #118
The message was received through a feedback portal.  I am able to see the "Listen" button on my computer

[2022-01-25 18:50] artlogic commented on #118
I don't know what a feedback portal is, but it sounds like you have no way of communicating with people that use it? That will make tracking down these issues very difficult.

I'm going to assume the person is talking about the lack of a listen button in the header of the mobile site, but I can't be sure.

[2022-01-26 18:47] dmsanderswdet opened #119 "Mobile Issues"
I'm concerned that this website was launched too quickly without concern for our listeners or website users. It's not utilized for mobile at all -- you can't even stream the station from the mobile website because it removes the play icon (this is the main reason people come to our website). This is 2022 -- everything is about mobile interface. It may have marginally improved the backend, but ther

[2022-01-26 18:50] dmsanderswdet opened #120 "AudioFile Upload Error"
error message while trying to upload an audio file into wordpress. I tried uploading it multiple times and checked if it appeared and it did not. (Laura Herberg)

[2022-01-26 18:51] artlogic commented on #120
I need the associated screenshot - we're still waiting on Laura to get back to us, but I cannot access it.

[2022-01-26 18:52] artlogic commented on #119
This needs to be broken out into multiple issues - one for each point brought up. We also need to follow-up with the person who submitted this for more clarity.

[2022-01-27 00:44] artlogic commented on #119
This listen button is already documented in issue #118. The other issues need to be broken up and followed up on.

[2022-01-27 00:45] artlogic commented on #120
Received more info from Laura:

I've asked for clarification and a step by step reproduction.

[2022-01-27 00:47] artlogic commented on #109
@wdet30 has indicated the new theme will resolve this - are we ready for testing on wdetdev yet?

[2022-01-27 00:48] artlogic commented on #114
@dorothyhernandez can we schedule a meeting tomorrow sometime so we can do a screen share and attempt to get this resolved?

[2022-01-27 00:51] artlogic commented on #116
There's a lot of overlap here with #119 and #118 - I think we need to sort these issues out into individual issues - would that be something that either @dorothyhernandez or @dmsanderswdet can do?

I'm happy to do it, but I assume you would want to be paying me to do more technical work.

[2022-01-27 00:54] dorothyhernandez opened #121 "Headlines and excerpts not showing up in Google search"
I was doing a Google search for something else and this showed up: the headline and excerpt are not optimized (the headline says "WDET 101.9FM WDET is Detroit's Public Radio Station" instead of the actual headline, which is "Pandemic Reveals Issues Already Prevalent for Older Adults Such as Loneliness, Holistic Health Care." The the excerpt is a jumbled mash of the headline and excerpt.

<img widt

[2022-01-27 00:57] artlogic commented on #107
@dorothyhernandez I'm going to make the call on this - there have been nearly 30,000 404s since launch. It needs to be someone's (your?) job to check the page daily and deal with issues. I would group by URL so you can see the worst cases: https://wdet.org/wp-admin/tools.php?page=redirection.php&sub=404s&groupby=url

You obviously aren't going to be able to fix everything, but I would certainly fi

[2022-01-27 00:58] artlogic commented on #121
This is a theme issue - hopefully @wdet30 is close on the new theme.

[2022-01-27 01:02] dorothyhernandez commented on #116
@artlogic I can break them out. So just to make sure I am doing this in the most efficient way and to streamline these issues, create a separate issue each for:
1) Listen button on mobile
2) Banner ad cut off on mobile
3) HMTL code from photos being pulled into copy on mobile
4) Headlines cut off on the front page on mobile

[2022-01-27 01:04] artlogic commented on #116
Yes - that's perfect - we've already got #118 for the listen button (which has a workaround in place but doesn't strike me as fixed exactly).

Could you also break out #119 while you're at it - then you can tag these issues in the child issues and close the parents.

Thank you!

[2022-01-27 01:05] dorothyhernandez commented on #116
@artlogic Got it, will clean this up.

[2022-01-27 01:14] dorothyhernandez commented on #114
@artlogic I'm trying to replicate it but now the permalinks are not changing. Not sure how it happened before (it happened a handful of times) but I can't do it again. I guess I'll close this for now and then reopen if it happens again.

[2022-01-27 01:14] #114 closed

[2022-01-27 01:19] dorothyhernandez commented on #119
Closing this to break out into individual issues.

[2022-01-27 01:19] #119 closed

[2022-01-27 01:25] dorothyhernandez opened #122 "HTML code from photos pulled into the description"
Per survey feedback submitted on 01.25.2022. Trying to find an example. Will update with a screenshot.

[2022-01-27 01:30] dorothyhernandez opened #123 "Mobile issues: Headlines at top of the front page"
Per survey feedback submitted on 01.25.2022. Headlines are cut off or are too long and cover the entire image. See below for example.

![WDET 101 9FM -](https://user-images.githubusercontent.com/91985309/151275155-080c7de9-1af9-4edf-a60d-c1295dd2a4ae.png)
.

[2022-01-27 01:38] artlogic commented on #114
Sounds good - lmk if it happens again!

[2022-01-27 01:42] dorothyhernandez commented on #118
@artlogic I can't tell who submitted it (maybe @dmsanderswdet we can change the survey to make it required people put their contact info) I'm 99% sure this is in reference to the lack of a listen button in the header of the mobile site. This is what it looked like on the old site:

![WDET](https://user-images.githubusercontent.com/91985309/151276214-ffc43849-5e2d-4424-a501-22e3577ea734.png)

Now t

[2022-01-27 01:44] dorothyhernandez commented on #116
Closing this to break out into individual issues.

[2022-01-27 01:44] #116 closed

[2022-01-27 01:46] dorothyhernandez opened #124 "Mobile issues: Nav bar doesn't have "shows, podcasts, series" etc."
<img width="345" alt="150172937-517cb0d0-6dda-423c-843a-3064d2f18760" src="https://user-images.githubusercontent.com/91985309/151276672-546d1c13-5e57-4290-8936-69c15e958745.png">

[2022-01-27 01:48] dorothyhernandez commented on #124
Whoops, just realized this is essentially the same as Styling issue - mobile nav #106 so I'll close this one.

[2022-01-27 01:48] #124 closed

[2022-01-27 01:49] dorothyhernandez opened #125 "Mobile issues: Banner ad cut off"
<img width="342" alt="150173011-037a8b08-793f-4e03-a3d2-e59246a06b73" src="https://user-images.githubusercontent.com/91985309/151276992-016b2b8a-94e4-49b5-8996-2e03cef55311.png">

[2022-01-27 08:07] artlogic commented on #69
The following will need to be added to functions.php to bring the proper fields into the REST API:

register_post_meta( 'attachment', 'credit', array(
    'type'         => 'string',
    'description'  => 'A meta key associated with a string meta value.',
    'single'       => true,
    'show_in_rest' => true,
) );

register_post_meta( 'attachment', 'source_license_url', array(
    'type'

[2022-01-27 15:27] wdet30 commented on #125
![Screenshot_20220125-172234](https://user-images.githubusercontent.com/84190532/151389546-79d184ac-d9c6-4d5d-aefa-07f93fb427c2.png)

Here is the latest this has been resolved.

[2022-01-27 15:27] #125 closed

[2022-01-27 16:33] wdet30 commented on #121
Here is my search result
![search1](https://user-images.githubusercontent.com/84190532/151402109-15a2077e-bc1d-4da7-9617-2de470136867.png)
.

[2022-01-27 16:49] dorothyhernandez commented on #121
This is what I see when I Google "State of the State Michigan" and click on "News" (vs "All")

<img width="682" alt="Screen Shot 2022-01-27 at 11 48 02 AM" src="https://user-images.githubusercontent.com/91985309/151404814-2a4d4867-b346-42f1-aed7-ae96b1e75a95.png">

In some instances it's not pulling in the Excerpt but rather content that's in the body.

[2022-01-27 19:18] #117 closed

[2022-01-27 19:23] artlogic commented on #113
https://wdet.org/wp-admin/edit.php?category_name=wdet-org

[2022-01-27 19:25] #113 closed

[2022-01-27 19:29] artlogic commented on #108
Closing in favor of #111 and fixing the admin accounts.

[2022-01-27 19:29] #108 closed

[2022-01-27 19:37] #106 closed

[2022-01-27 19:39] #60 closed

[2022-01-27 19:41] #97 closed

[2022-01-28 16:38] wdet30 commented on #28
All set @dmsanderswdet @dorothyhernandez @artlogic

https://wdet.org/events/

Now live

[2022-01-28 16:38] #28 closed

[2022-01-28 19:02] artlogic opened #126 "Remove CSS references to controls.svg"
This is causing a lot of 404s, making managing redirects an issue.

[2022-01-31 03:16] wdet30 commented on #126
All set here.

[2022-01-31 03:45] artlogic commented on #126
Still seeing a reference here:

[code]

[2022-01-31 03:47] wdet30 commented on #126
Is that in the CSS or headers?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Sunday, January 30, 2022 10:45:53 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; State change ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Remove CSS references to controls.svg (Issue #126)

[EXTERNAL]

Still seei

[2022-01-31 03:48] artlogic commented on #126
Embedded CSS in the page header.

[2022-01-31 07:11] wdet30 commented on #123
Resolved
![Screenshot_20220131-020922](https://user-images.githubusercontent.com/84190532/151752552-e7503889-7c83-498a-9bb6-623a2b8595c5.png)
d

[2022-01-31 07:11] #123 closed

[2022-01-31 07:11] wdet30 commented on #122
Resolved

[2022-01-31 07:11] #122 closed

[2022-01-31 07:14] wdet30 commented on #121
Resolved from 1 day ago.
![screen2581](https://user-images.githubusercontent.com/84190532/151752857-04535394-3b0c-4f6f-a974-a160e845f47f.png)

[2022-01-31 07:14] #121 closed

[2022-01-31 07:17] wdet30 commented on #118
Resolved, in mobile there is no more listen button. There is a page. It can be accessed in the site navigation, this will take you to a listen player.

Try on your phone.
https://wdet.org/listen-live/

[2022-01-31 07:20] wdet30 commented on #109
Resolved please see screenshot.
![screen2281](https://user-images.githubusercontent.com/84190532/151753460-6bf6f3a9-7d96-4afd-99fc-cf7d08f9363b.png)

[2022-01-31 07:21] wdet30 commented on #103
Resolved with updated.

[2022-01-31 07:21] wdet30 commented on #93
Resolved

[2022-01-31 07:21] #93 closed

[2022-01-31 07:43] wdet30 commented on #126
I removed some more references to .svg.

Also note: I have moved all of the old CSS from the old site to style.css in the child theme that is active right now. (Wdet3.5).

[2022-01-31 13:59] dorothyhernandez opened #127 "Excerpts showing up twice on posts"
We only need the excerpt between the blue lines not the one in italics.

<img width="559" alt="Screen Shot 2022-01-31 at 8 55 52 AM" src="https://user-images.githubusercontent.com/91985309/151806309-6aa4bbc8-f213-47e6-b064-26b1ab5bfb09.png">

[2022-01-31 14:01] wdet30 commented on #127
@***@***.******@***.***> this is what I'm going to need your help on I'm not sure how this is called in. Please help out on this. Thanks

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: dorothy ***@***.***>
Sent: Monday, January 31, 2022 9:00:07 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: [arsmentis/

[2022-01-31 14:02] dorothyhernandez opened #128 "Remove double bylines"
There are two places where author(s) names are appearing. The one next to the date looks better but the one underneath the photo has more accurate because it shows all of the authors who contributed to a post.

<img width="564" alt="Screen Shot 2022-01-31 at 9 01 16 AM" src="https://user-images.githubusercontent.com/91985309/151807147-e6e4632e-ef25-46a0-b9eb-ee8ec564fcaf.png">

[2022-01-31 16:03] dorothyhernandez opened #129 "Remove audio player on top of photos"
See screenshot (showing up on content under "More stories" at the post level)

<img width="585" alt="Screen Shot 2022-01-31 at 11 02 48 AM" src="https://user-images.githubusercontent.com/91985309/151828594-e6b12705-b593-45db-b7ce-a7e556d7d272.png">

[2022-01-31 18:53] dmsanderswdet opened #130 "Update Jobs Page"
Per Tony's email.

[2022-02-03 14:23] dorothyhernandez commented on #127
@artlogic Is this something you could help me with while Tony is out?

[2022-02-03 14:35] artlogic commented on #127
I'll look into it today.

[2022-02-03 14:38] dorothyhernandez commented on #128
@artlogic Is this something you could help me with? The name by the date appears to be the one who created the post in the CMS but the one under the photo is the correct information. My preference would be to have the authors' names currently appearing under the photo (because that makes it seem like it's a photo credit) where the name is currently by the date but if it's easier to just delete the

[2022-02-03 15:20] dorothyhernandez commented on #118
Reopening this to see if there is room for discussion on this topic. A more easily accessible Listen button would enhance the user experience. Eli Newman says the station did a heat map a few years back that showed that the radio stream feature is one of the most used features on the site.

[2022-02-03 15:32] dorothyhernandez opened #131 "Hamburger button not working on mobile"
Per feedback received 02.03.22 from WDET reporter and producer Eli Newman: "the three line button (I presume a dropdown menu) is not functioning on mobile."

I just tested it out and indeed when you tap on it, nothing happens.

![WDET 101 9FM » Watch Live President Biden delivers remarks on a U S  military raid that killed ISIS leader](https://user-images.githubusercontent.com/91985309/152374353-3

[2022-02-03 19:09] artlogic commented on #103
Doesn't appear to be entirely fixed.

[2022-02-03 19:10] artlogic commented on #122
Did anyone actually find an example of this?

[2022-02-03 20:11] artlogic opened #132 "Events plugin is generating SQL errors - investigate and fix/replace"

[2022-02-04 22:21] dorothyhernandez opened #133 "Wrong name on author page"
The wrong name is appearing as the author title in Laura Herberg's author bio page (not sure if it's happening for other authors, I need to go through more posts to see if this is an ongoing issue or just something that happened with this particular author page).

<img width="1379" alt="Screen Shot 2022-02-04 at 5 18 43 PM" src="https://user-images.githubusercontent.com/91985309/152610764-4294e9af

[2022-02-08 18:02] artlogic commented on #133
https://wdet.org/wp-admin/post.php?post=125335&action=edit

Why can't I add an author?

[2022-02-08 18:04] artlogic commented on #131
waiting to hear back from @dorothyhernandez

[2022-02-08 18:23] artlogic opened #134 "Adjust nginx log permissions so npr-automation can access them"

[2022-02-08 18:24] artlogic opened #135 "Update theme in github to match reality"

[2022-02-09 18:08] dorothyhernandez commented on #131
Thank you to our designer (who is apparently a web developer!!!!) Nikki Roach, we have figured out the problem. I followed up with Eli on the hamburger button functionality and he said it still wasn't working. He also has an iPhone. But then Nikki told me you have to tap to the right of the hamburger button and then it works.

From Nikki: Essentially, tapping the hamburger and exit button is not e

[2022-02-10 07:24] artlogic commented on #131
I can confirm I'm seeing this on some (not all) Apple devices. I'll look into it further.

[2022-02-21 17:33] codingforapps commented on #133
Is this resolved? I checked out several of the author pages and they looked to have the right titles.

[2022-02-21 17:38] dorothyhernandez commented on #133
No, it happened again (thanks for responding to this I totally forgot about posting about this last week).

When you click on Hooper's name in this [post](https://wdet.org/2022/02/16/independent-restaurant-coalition-calls-for-congress-to-refill-the-restaurant-revitalization-fund/), you see LaToya's name on the page.
https://wdet.org/author/rhooper/

<img width="447" alt="Screen Shot 2022-02-18 at

[2022-02-21 17:41] artlogic commented on #133
Thanks for the example. I'll look into this.

[2022-02-21 17:46] codingforapps commented on #133
Ok @dorothyhernandez  I'm curious how Laura's page (the first example) did have this issue... and now doesn't.
@artlogic You did not change anything regarding this?

[2022-02-21 17:48] artlogic commented on #133
Not at all. Does this also happen in dev?

[2022-02-21 17:50] codingforapps commented on #133
No in Dev, Ryan's page is correct it says "Ryan Patrick Hooper"

[2022-02-25 19:31] codingforapps commented on #131
This is an issue with the Safari browser. The **margin-left: auto;** on the icon is ignored by other browsers but safari uses it to apply a - (negative) left margin, moving the icon. This snippet was added to the CSS on the dev site and it solved the problem.

[code]

[2022-02-25 19:33] artlogic commented on #131
How was it added?

[2022-02-25 19:37] codingforapps commented on #131
Into the massive CSS in the customizer... which is massive and idk how it's organized.
Would you prefer it be added into the styles.css of the child theme? That is small its like 22 lines.

[2022-02-25 19:41] artlogic commented on #131
I just needed to know how it was done so I can apply it consistently to production. I think cleaning up the customizer is probably a future task.

[2022-02-25 20:23] codingforapps opened #138 "missing icons on "featured" carousel"
With the CoverNews theme, there are < > buttons intended above the featured section.

<img width="438" alt="Screen Shot 2022-02-25 at 2 46 10 PM" src="https://user-images.githubusercontent.com/6656745/155785244-23986152-e7b5-417f-8955-9c770581a2c6.png">

I noticed this because in Firefox, I'm seeing "k" "o" because font-awesome cannot insert < > icons.

<img width="627" alt="Screen Shot 2022-02-21

[2022-03-01 16:22] artlogic commented on #134
Completed.

[2022-03-01 16:22] #134 closed

[2022-03-01 16:27] artlogic commented on #131
Should be resolved - can you please test this in production @codingforapps and @dorothyhernandez? Thanks.

[2022-03-01 16:45] artlogic commented on #126
Seems to have been resolved.

[2022-03-01 16:45] #126 closed

[2022-03-01 16:46] artlogic opened #140 "Move CSS from customizer to theme files"
* Easier to manage
* Better caching

[2022-03-01 16:49] artlogic commented on #135
Done.

[2022-03-01 16:49] #135 closed

[2022-03-01 16:53] artlogic commented on #120
No updates on this issue over the past 30 days - is this still happening? Should this be closed, or moved to a different milestone?

[2022-03-01 16:59] artlogic commented on #67
I spent a bit of time looking at this, and it appears there's more to using typography.com than just that. I'll continue to look into this unless someone else would like to.

[2022-03-01 17:02] dorothyhernandez commented on #128
The placement of the name looks good but depending on the post the author name/byline is not going to be correct.

For example, the content of this [post](https://wdet.org/2022/02/08/whitmer-to-present-spending-plan-this-week/) was authored by Rick Pluta, but his name doesn't appear at all on this post because mine, as the person who loaded the content into the CMS, is the one that appears.

The c

[2022-03-01 17:02] artlogic commented on #133
I'm going to take a database dump and see if I can find the root cause of this - please don't attempt to fix prior.

[2022-03-01 17:06] dorothyhernandez commented on #107
I've been trying to fix redirects when I can but I fell behind. I'll go in and clean it up now.

[2022-03-01 17:08] codingforapps commented on #67
I added wdetdev.wdet.org into the project domains on typography.com and then inserted the CSS link into the header.php on the child theme in dev site. I waited for the fonts to propagate but they didn't. My next step is to call/email their support line.

[2022-03-01 17:08] dorothyhernandez commented on #127
This looks good.

[2022-03-01 17:11] dorothyhernandez commented on #131
It's working on my iPhone on Safari and Chrome.

[2022-03-01 17:15] artlogic commented on #131
I think we're good.

[2022-03-01 17:15] #131 closed

[2022-03-01 17:15] artlogic commented on #67
Thanks - I'll assign this directly to you.

[2022-03-01 17:20] codingforapps commented on #138
supposedly that was the fix, but the font-awesome CSS overwrites it. normally i would avoid important declarations, but that worked well, there are < > icons now.
[code]

let me know if we think they are too small.

[2022-03-01 17:29] artlogic commented on #138
@dorothyhernandez can you check this on dev and verify this looks OK to you?

[2022-03-01 17:48] #120 closed

[2022-03-01 18:16] dorothyhernandez commented on #138
This looks good.

[2022-03-01 19:00] artlogic commented on #127
Fixed in prod.

[2022-03-01 19:00] #127 closed

[2022-03-01 19:02] artlogic opened #141 "Resync dev with production"

[2022-03-01 19:03] artlogic opened #142 "Create an admin account for Tony"

[2022-03-01 19:04] artlogic opened #143 "Remove inactive plugins and themes"

[2022-03-01 19:04] codingforapps opened #144 "two "click-to-top" graphics"
<img width="700" alt="Screen Shot 2022-02-28 at 6 27 21 PM" src="https://user-images.githubusercontent.com/6656745/156231116-d24a41f8-9efb-45f5-8f5d-2ca8c66849dd.png">

In wdetdev I've deactivated the plugin "clip to top" and now there is only the blue one.

This is fixed in dev.

I cross-checked on mobile and other browsers too.

FYI —This button would pry not be necessary if it were not for the

[2022-03-01 19:05] artlogic commented on #118
@wdet30 This issue is specifically about no listen button in the header on the mobile site. The direction is that we need something that's not hidden behind a hamburger menu. I'm sure @dmsanderswdet can provide more context from prior meeting minutes.

[2022-03-01 19:06] artlogic commented on #144
@wdet30 can you confirm this looks good in dev, and then deactivate in production? Thanks!

[2022-03-01 19:07] wdet30 commented on #118
I will have this resolved in a day or so.

Thanks,

Anthony Brown
WDET, Digital Distribution Manager
(o) 313-577-8748
www.wdet.org
[cid:9090e72a-95db-4f32-90ec-8d3ab3076d75]
________________________________
From: James Kruth ***@***.***>
Sent: Tuesday, March 1, 2022 2:06 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-con

[2022-03-01 19:09] artlogic commented on #138
@codingforapps can you update this file with the changes you made? https://github.com/arsmentis/wdet-conversion/blob/main/theme/Additional%20CSS.css

Thanks!

[2022-03-01 19:16] codingforapps commented on #138
@artlogic that is done.

[2022-03-01 19:22] codingforapps commented on #67
From what i gathered from our conversation @artlogic the webfonts are not in the place we think they are?

On typography.com, I was able to generate the zip file attached.

Can you upload its contents to the server? specifically at:

https://wdet.org/static/wdet/fonts

[841169.zip](https://github.com/arsmentis/wdet-conversion/files/8164186/841169.zip)

AND if you think they should be stored somewh

[2022-03-01 19:24] artlogic commented on #138
Production updated.

[2022-03-01 19:24] #138 closed

[2022-03-01 19:31] artlogic commented on #67
Should I upload the zip file, or the contents of the zip?

[2022-03-01 19:34] codingforapps commented on #67
Unpack and upload the folder actually.

https://wdet.org/static/wdet/fonts/841176

Their phone# didnt work its actually confusing I'll still email them.
Confusing because you have to go back to step 1 after step 3 but then its asking you to regenerate new fonts

It

[2022-03-01 19:35] artlogic commented on #128
This will involve a careful reading of the theme source code and perhaps an override - it'll take time to actually resolve.

[2022-03-01 19:35] codingforapps commented on #67
this file
[841176.zip](https://github.com/arsmentis/wdet-conversion/files/8164301/841176.zip)

[2022-03-01 19:37] artlogic commented on #67
I'll see about getting this done later tonight. I'm out of time to work on this for the afternoon.

[2022-03-01 19:41] codingforapps commented on #67
in that case, since it'll log me out before i can confirm the installation.... i'm wondering if you can rename the folder to what it says below, that might work.

<img width="803" alt="Screen Shot 2022-03-01 at 2 40 13 PM" src="https://user-images.githubusercontent.com/6656745/156237081-bcb021ca-6ad8-4c12-be29-4d15249427c1.png">

[2022-03-01 20:11] artlogic commented on #67
I'll make sure to use that updated path, but I do think I'll have to change the URL a bit. I'll let you know.

[2022-03-01 20:22] codingforapps opened #145 "favicon update"
I've updated the favicon in wdetdev to reflect the old one.

Comparing it here (white) to the old one (green)
![Image](https://user-images.githubusercontent.com/6656745/156240861-104ae380-7233-4cf9-97bc-df273dd8cbcd.jpeg)
![Image2](https://user-images.githubusercontent.com/6656745/156240867-307debb8-68fb-4989-b917-c1f5c3e95e36.png)

here's my browser too lol
<img width="113" alt="Screen Shot 2022-

[2022-03-01 20:25] artlogic commented on #145
@codingforapps please assign issues to someone (probably you) and add the to a milestone when making them. Can you explain how you made this change?

@dorothyhernandez can you verify this is ok to promote to prod?

[2022-03-01 20:38] codingforapps commented on #145
@artlogic sure i can apply those labels when creating issues

changed in Customizer > Site Identity

there's a place in Elementor too for this, but the Customizer had content populated into it already, so I didn't experiment.

i can put the graphic here too.

[2022-03-04 18:47] artlogic commented on #130
@wdet30 can you clarify?

[2022-03-04 18:49] artlogic commented on #98
Done

[2022-03-04 18:49] #98 closed

[2022-03-04 18:50] artlogic commented on #130
Fixed per @wdet30

[2022-03-04 18:50] #130 closed

[2022-03-04 18:50] dmsanderswdet commented on #130
James,

The positions are appearing twice.  Tony and I are working on it.

Diane

Listen Live at  wdet.org<http://www.wdet.org/> or in the WDET mobile app<https://wdet.org/mobile/>

[cid:5088abf5-2547-42cb-878c-f043261c9670]

________________________________
From: James Kruth ***@***.***>
Sent: Friday, March 4, 2022 1:47 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Diane Sanders ***@***.***>;

[2022-03-04 18:51] artlogic commented on #59
Closing until more need appears.

[2022-03-04 18:51] #59 closed

[2022-03-04 18:52] artlogic commented on #82
@dorothyhernandez is this something we still need?

[2022-03-04 18:53] artlogic commented on #103
@codingforapps can you take a look at this and resolve on dev?

[2022-03-04 18:53] artlogic commented on #111
Closing until needed.

[2022-03-04 18:53] #111 closed

[2022-03-04 18:59] artlogic commented on #143
Let's plan time to do an audit of dev

[2022-03-04 19:04] dorothyhernandez commented on #82
@artlogic Yes. I am not sure what to do on my end so please let me know what I can do to facilitate this.

[2022-03-04 19:05] artlogic commented on #144
Fixed. Closing.

[2022-03-04 19:05] #144 closed

[2022-03-04 19:08] artlogic commented on #82
@dorothyhernandez I think @wdet30 can help you get started. Please reach out to him.

[2022-03-07 17:51] wdet30 opened #147 "Update Current Theme - CoverNews Pro!"
I have entered the license key a few times on both servers and it's not taking the key.

CoverNews Pro!

We may need to switch to vanilla Wordpres for a couple of hours to resolve this issue. It may have to happen over the next night or so to resolve.

So far I found this and will update it over the next 36 hours.

https://freemius.com/help/documentation/wordpress-sdk/license-activation-issues/

[2022-03-07 17:57] wdet30 commented on #147
I was able to update the key on both. I would like to still switch to vanilla Wordpres to update the theme one night this week.

[2022-03-07 18:13] wdet30 commented on #118
Update 3/7/22: Sorry, I should have a fix soon.

[2022-03-07 18:32] dorothyhernandez commented on #107
@wdet30 is purchasing the full version of the redirect plugin so we can link from the current site to the archive site. I should be able to clean up a lot of those 404s especially for the old shows.

[2022-03-07 18:48] artlogic commented on #107
There is no pro version of the redirect plugin we're using. What's going on here @wdet30?

[2022-03-07 18:58] wdet30 commented on #107
There is a pro version. We are going to purchase Tuesday.

T

Anthony Brown
WDET, Digital Distribution Manager
(o) 313-577-8748
www.wdet.org
[cid:1fdad01c-96fc-47a7-a42c-6a087c69d917]
________________________________
From: James Kruth ***@***.***>
Sent: Monday, March 7, 2022 1:48 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis

[2022-03-07 19:09] artlogic commented on #107
No, there is not. From the site:

[code]

But it seems that an additional redirection plugin was enabled that should be disabled. We should not have two.

[2022-03-07 19:14] artlogic commented on #107
We'd better have a meeting about this. There's no such limitation in the current redirect plugin.

[2022-03-07 19:52] wdet30 commented on #143
Please send over time that works. TB

[2022-03-07 19:57] artlogic commented on #143
I have availability in the afternoons of this week.

[2022-03-07 19:59] wdet30 commented on #143
Wednesday after 4p? Please book

Anthony Brown
WDET, Digital Distribution Manager
(o) 313-577-8748
www.wdet.org
[cid:617ad5d4-8f9a-459c-a57a-5eec23cb1e48]
________________________________
From: James Kruth ***@***.***>
Sent: Monday, March 7, 2022 2:57 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Remove inact

[2022-03-07 23:14] artlogic commented on #143
5-6 okay?

- James

On Mon, Mar 7, 2022, 14:59 wdet30 ***@***.***> wrote:

[2022-03-07 23:17] artlogic commented on #147
Why is that needed?

[2022-03-07 23:23] wdet30 commented on #143
Yes please

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Monday, March 7, 2022 6:14:17 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Remove inactive plugins and themes (Issue #143)

5-6 okay?

- James

On Mon, Mar 7, 2022, 14:59 wdet30 *

[2022-03-07 23:24] wdet30 commented on #147
Can we go over this in our meeting tomorrow Friday? I think it's best you advise me on how we should move forward with updating the theme. Let me know thanks.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Monday, March 7, 2022 6:17:45 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.**

[2022-03-09 17:43] artlogic commented on #145
@wdet30 approved this - I will add to production

[2022-03-09 22:31] artlogic commented on #147
We need to update to 2.6.1 (from 2.6.0) in prod. It's been done in dev, but it wasn't seamless. We'll need to schedule time to take a snapshot and then do this during off hours.

@wdet30 is going to check to make sure this isn't a security update and schedule time based on the priority.

[2022-03-09 22:35] artlogic opened #148 "Restrict dev site to VPN only"

[2022-03-09 22:52] artlogic commented on #143
Plugins we're reviewing:
* All in One SEO
* Hide Title

[2022-03-09 22:57] artlogic commented on #143
Inactive themes removed from prod.

[2022-03-09 22:59] artlogic commented on #141
This will happen in the next few days - I will be making scripts to make this easier to do.

[2022-03-09 23:00] artlogic commented on #132
No longer occurring.

[2022-03-09 23:00] #132 closed

[2022-03-09 23:06] artlogic commented on #142
Account created in dev - we're testing it and will promote to prod in the next day or two

[2022-03-10 18:57] artlogic commented on #148
Completed.

[2022-03-10 18:57] #148 closed

[2022-03-10 18:59] artlogic commented on #145
Completed.

[2022-03-10 18:59] #145 closed

[2022-03-10 22:20] wdet30 commented on #118
@artlogic about to make some changes here in style.css. Just testing.

[2022-03-10 22:49] artlogic commented on #118
To dev, correct?

[2022-03-10 22:50] wdet30 commented on #118
Yes, things are going great.

Anthony Brown
WDET, Digital Distribution Manager
(o) 313-577-8748
www.wdet.org
[cid:93ebe35b-889b-4bb7-b75d-f7031e94040f]
________________________________
From: James Kruth ***@***.***>
Sent: Thursday, March 10, 2022 5:49 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] No Listen B

[2022-03-10 23:56] wdet30 commented on #147
@artlogic , couldn't find any updated info on the latest patch. I will send an email to support for info.

[2022-03-15 02:14] artlogic commented on #147
Done

[2022-03-15 02:14] #147 closed

[2022-03-15 02:17] artlogic commented on #142
Done

[2022-03-15 02:17] #142 closed

[2022-03-15 02:18] artlogic commented on #143
Hide title has been deactivated in prod. Please let me know if there are any issues with this.

[2022-03-15 02:41] artlogic commented on #67
@codingforapps I've uploaded the proper files to dev. However, I had to change the path slightly. Let me know if this works:

https://wdetdev.wdet.org/media/static/wdet/fonts/841176

[2022-03-15 17:51] dmsanderswdet opened #149 "Playlist Search Function not working"
The playlist search function has never worked property I’ve tested using every filed by searching for titles that I know have aired and they don’t come up in the search. It’s been basically worthless. E-mail from JMosier

[2022-03-15 17:55] dmsanderswdet opened #150 "Streaming player won’t work with Safari"
Streaming player won’t work with Safari 15.3 on Mac OS 10.15 (It does work on Chrome). E-mail from JMosier

[2022-03-15 19:27] artlogic commented on #149
@dmsanderswdet please assign this to a person and a milestone

[2022-03-15 19:27] artlogic commented on #150
@dmsanderswdet please assign this to a person and a milestone

[2022-03-15 19:32] artlogic commented on #149
OK - we'll leave these unassigned until we meet next or until they can be triaged.

[2022-03-17 00:20] codingforapps commented on #67
update: let's just do this together when we can later!

the problem is their tool. we give the url (step1) before it produces the unique files (step2) for our server, then wants to verify their in place (step3) but it'll log me out if their not uploaded immanently... i cannot just do step1 or go back to step 1 without making unique files again...

so my solution is to meet to decide where were put

[2022-03-17 14:16] dorothyhernandez commented on #133
Any updates on this? Ryan just messaged me to say LaToya's name is still at the top of his author page. https://wdet.org/author/Rhooper/

[2022-03-17 16:57] artlogic commented on #67
I understand - please let me know what works for you can we can do this on a call. Thanks.

[2022-03-18 18:12] codingforapps commented on #118
we have a working version updated on production site that we moved from dev. essentially there's two buttons appearing on mobile version now: donate and listen. we checked them across browser and device. we also took 'contact us' off the navigation since its excessively long (save that a future discussion) it is more straightforward. this meets our needs for the fundraiser.

updates in the nearest

[2022-03-18 18:28] artlogic commented on #118
@codingforapps I've been asked to review this work - but I don't see any updates to the repo here, and while I could start diffing the two sites, that's going to eat up hours. Can you please provide a detailed list of the code changes you made and update the repo accordingly?

[2022-03-18 18:31] codingforapps commented on #118
no need to review or diff check. the changes should be consistent on both production and dev. i havent been updating the git repo, but if you need that I can investigate that. OR i can drop the code we added here in the thread?

[2022-03-18 18:36] wdet30 commented on #118
I suggest James give a look as well. You never know.

[2022-03-18 18:45] artlogic commented on #118
I've got a couple of questions:

1. Are we abandoning the idea of a copy of the theme in version control?
2. What (if anything) do I actually need to review. I literally have no idea what you've changed.

[2022-03-18 18:49] codingforapps commented on #118
@artlogic i think i mentioned what we changed but if you want to connect on the phone for clarification 3134043020 it's easier for me.

[2022-03-18 19:01] artlogic commented on #118
All I need is a list of files, preferably with diffs. You'd like to communicate that verbally instead of here?

[2022-03-18 19:06] codingforapps commented on #118
header.php
styles.css

yes because i hate clarifying Qs within this thread

[2022-03-18 19:49] artlogic commented on #118
@codingforapps and I spoke at length - she'll make the changes to the files in github, and I'm going to be comparing those with what's currently in production to see where we actually stand. I will then review those and make sure everything looks OK.

I'll email outside this issue with comments on the general process.

[2022-03-19 06:49] artlogic commented on #71
This functionality was lost when we switched to the new theme - maybe it's not an issue? @wdet30 @dorothyhernandez - can you provide guidance here?

Example: https://wdet.org/2021/12/10/detroit-launches-workforce-program-skills-for-life/

[2022-03-21 05:21] artlogic commented on #118
@codingforapps header.php in production doesn't match what is in github (and I assume dev, I haven't checked). I've linked the production version here. Can you please resolve the differences and update github? Thanks.

https://gist.github.com/artlogic/9244b10e0cc4909064a1415dcaf3d4d3

[2022-03-21 05:38] artlogic commented on #128
@dorothyhernandez I've removed the incorrect byline in dev - can you review: https://wdetdev.wdet.org/2022/02/07/political-storylines-to-watch-this-year-in-michigan/

[2022-03-21 17:21] dorothyhernandez commented on #128
@artlogic this is correct now but is it possible to have the author(s)' names by where the date is? The placement of the author(s)' names now is a bit unclear (like it looks like it's a photo credit since it's underneath the photo). Maybe if it said "By Dorothy Hernandez" instead of just "Dorothy Hernandez" that would help signal to the reader that it's a byline.

[2022-03-22 17:19] wdet30 commented on #118
@codingforapps , the buttons are not hiding on a 13inch screen. Can you adjust the CSS to compensate? This was taken from a 13inch mac book pro.
<img width="1440" alt="MicrosoftTeams-image" src="https://user-images.githubusercontent.com/84190532/159538466-a84c25e5-189e-4436-80eb-67a30247b26c.png">

[2022-03-23 00:14] codingforapps commented on #118
@artlogic Can you do a hard refresh on the page? I have a 13" macbook and checked Chrome like I see here.

Shift-Command-R

[2022-03-23 00:41] artlogic commented on #118
@codingforapps Unfortunately I've been directed by management to do no further work on this project until I receive confirmation from Mary that I can continue. Perhaps @wdet30 can help.

[2022-03-23 15:56] wdet30 commented on #118
It worked thanks. @artlogic

[2022-03-24 15:00] wdet30 commented on #118
@artlogic @codingforapps , we have gone as far as we can with the resources and the theme on this ticket.

[2022-03-24 15:00] #118 closed

[2022-03-24 16:05] dorothyhernandez commented on #82
@wdet30 what was the solution to this? Unless I'm missing something, I'm still seeing deviations of tags on the same topic, e.g. #covid, #Covid-19, COVID, COVID19, Covid 19

[2022-03-30 16:56] dmsanderswdet opened #152 "Webpage Scrolling"
Reaching the footer takes a long time.  Stories repeating

[2022-04-06 14:13] #150 closed, assigned to wdet30

[2022-04-06 14:31] wdet30 commented on #149
This is not an issue. The user was not able to reproduce the issue.

[2022-04-06 14:31] #149 closed

[2022-04-07 12:38] dmsanderswdet opened #155 "LHerberg - Author Page"
Not to be vain but when you click on my author link at the bottom of my pages web posts it says page not found.

[2022-04-07 12:39] dmsanderswdet opened #156 "LHerberg - Staff bio"
My bio on the staff bio page (https://proxy.qualtrics.com/proxy/?url=https%3A%2F%2Fwdet.org%2Fwdet-staff%2F&token=B6M%2BCVHVm7r2LnUQpfv7uIZQTp4JBW%2FnkND4rwA4Tqs%3D) needs to be updated. We need to lose the second sentence because it's no longer true.

[2022-04-11 14:06] #156 closed

[2022-04-11 14:07] #155 closed

[2022-04-11 14:12] wdet30 commented on #152
@Fw7424 @dorothyhernandez @codingforapps
Log onto the VPN and give a look at the dev site. Please let me know if we should present this to Jerome? We need to get him to make these calls. When it comes to how we present the news etc. https://wdetdev.wdet.org/

[2022-04-11 14:30] wdet30 commented on #152
Notes to self: "feature only three posts up top (because these are posts we want to highlight for our audience whether it's breaking news or a new podcast, etc.) we don't need featured and news and Detroit today. That would also help with the repeating posts"

[2022-04-13 16:54] Fw7424 commented on #152
Solutions presented. limit post count to 12 and removing the you may have missed section.

[2022-04-13 17:04] codingforapps commented on #152
presentation for page length issue
![wdet-longpage-presentation-01](https://user-images.githubusercontent.com/6656745/163232879-e5c79f14-62aa-4bea-8ff3-f91e75acf291.png)
![wdet-longpage-presentation-02](https://user-images.githubusercontent.com/6656745/163232893-6c93f164-1b69-420b-9e00-bee64215da78.png)
![wdet-longpage-presentation-03](https://user-images.githubusercontent.com/6656745/163232897-ab

[2022-04-15 20:39] codingforapps commented on #152
Tony and I worked today on the proposed changes which are executed in the dev site. The post display is limited to 12 and the 'you may have missed' section is removed. The amount of scrolling is at a more comfortable level.

[2022-04-19 13:18] wdet30 commented on #152
I made the changes on the live site. What do you think?
Anthony Brown
WDET, Digital Distribution Manager
(o) 313-577-8748
www.wdet.org
[cid:34d8347a-c4c2-486a-8433-51a2597083e7]
________________________________
From: Nikki Roach ***@***.***>
Sent: Friday, April 15, 2022 4:40 PM
To: wdetdigital/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [wdetdigital/w

[2022-04-19 13:22] wdet30 commented on #152
Please reopen if this needs more work.

[2022-04-19 13:22] #152 closed

[2022-04-21 15:15] Fw7424 commented on #128
I reviewed this issue. I see on the development site, the top (native) byline has been removed. I'm assuming this is a configurable option within Wordpress and didn't require a code change. But I think the goal is to move the byline that comes from the plugin.

Related files
covernews > inc > template-tags.php - built-in byline code is here
wdet35 > functions.php - secondary byline code - from plu

[2022-04-21 15:19] Fw7424 commented on #133
Looks like this was resolved. @dorothyhernandez can you confirm, and close if you feel it has been resolved?

[2022-04-21 15:26] #133 closed

[2022-04-21 15:39] Fw7424 commented on #140
I think we should start by moving the css we know for sure needs to be present into new style sheet. This will take a while but we can over time knock this out in a month of consistent work.

[2022-04-21 15:41] Fw7424 commented on #129
Looks like this complete. @dorothyhernandez if you feel this is complete can you confirm and close?

@codingforapps I know you mentioned wanted to have some sort of icon for the posts with Audio. Can you create a separate issue for to explore that option?

[2022-04-21 16:01] Fw7424 opened #158 "The text color is not consistent across the website/Accessibility"
The paragraph text across the site is not consistent. Also fails accessibility for contrast in many cases.

![Screen Shot 2022-04-21 at 11 57 23 AM](https://user-images.githubusercontent.com/41925609/164502395-bacf19cc-0885-426d-8112-78ad639bc0be.png)
![Screen Shot 2022-04-21 at 11 59 03 AM](https://user-images.githubusercontent.com/41925609/164502400-42b8fc6e-58c7-4f37-8b94-79df5bff68d1.png)
![Sc

[2022-04-21 16:59] wdet30 opened #159 "Remove the category off images - Hide Feature Post"

[2022-04-21 17:00] wdet30 commented on #159
I will update with screenshots

[2022-04-22 16:12] codingforapps commented on #67
Where we left off with this — James and i communicated in this thread that we'd work over a call to upload the fonts. That was right before he exited / involvement changed. I need this to be one of the specific things we have him work on. I'm unsure how we proceed with that, or who is responsible for managing James' work — if anyone can assist, I would be grateful.

[2022-04-25 14:00] wdet30 commented on #67
Ryan can help with getting work to James. Olu came up with the idea of sticking with standard web fonts. This sounds like a great idea. We would be able to close this ticket and move on.

T

Anthony Brown
WDET, Digital Distribution Manager
(o) 313-577-8748
www.wdet.org
[cid:bcd8ec6c-3809-436b-b688-254c28bff8ed]
________________________________
From: Nikki Roach ***@***.***>
Sent: Friday, April 22,

[2022-04-25 18:38] dorothyhernandez commented on #67
Before this ticket is closed, will there be any discussion on my previous comment and question? Is getting Gotham impossible? I would strongly advocate for Gotham over web safe fonts because it is part of WDET's brand and identity. This particular font was chosen for its friendly, conversational qualities.

[2022-04-25 18:50] wdet30 commented on #67
Please feel free to keep the ticket open not going to close it.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: dorothy ***@***.***>
Sent: Monday, April 25, 2022 2:38:48 PM
To: wdetdigital/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [wdetdigital/wdet-conversion] Font Breakdown (Issue #67)

[EXTERNAL]

Before th

[2022-04-27 16:38] Fw7424 commented on #158
This change can be made via theme pages. this doesn't need to be done first on development.

[2022-04-27 18:59] #159 closed

[2022-04-29 13:08] dorothyhernandez commented on #109
Reopening this because the issue is not resolved. Author's image still being pulled in instead of the featured image. Please see screenshot of what it looks like in Buffer, which is what we use to schedule posts. Note: This is not related to posting links directly in the Facebook platform, which is another issue but I want to resolve this one first..

<img width="678" alt="Screen Shot 2022-04-28 a

[2022-04-29 13:46] dmsanderswdet commented on #109
Hi Tony,

Why are you assigning #109 to me?

Diane M. Sanders, MBA

Executive Assistant/Internship Coordinator

***@***.***

(o) 313-577-3039

4600 Cass Avenue

Detroit, MI  48201

Listen Live at  wdet.org<http://www.wdet.org/> or in the WDET mobile app<https://wdet.org/mobile/>

[cid:5088abf5-2547-42cb-878c-f043261c9670]

________________________________
From: wdet30 ***@***.***>
Sent: Friday, Ap

[2022-05-04 18:22] codingforapps commented on #103
before shot (what's in production site) for reference. please only pay attention to the styles and not the differences in menu items/order. these screenshots are from firefox on my mac, but i have also cross-referenced Safari and Chrome.
<img width="1279" alt="Screen Shot 2022-05-04 at 2 03 15 PM" src="https://user-images.githubusercontent.com/6656745/166787892-5bf0c6fd-5fd0-444d-ada7-7566e0490a35

[2022-05-11 09:29] #158 closed

[2022-05-11 16:01] #67 closed

[2022-05-11 16:15] codingforapps commented on #129
i can confirm, this issue was resolved when we resolved the "long scrolling on page" issue

[2022-05-11 16:15] #129 closed

[2022-05-31 16:57] artlogic opened #163 "Install and configure audit log plugin"

[2022-05-31 16:57] artlogic opened #164 "WordPress 6.0 Upgrade"

[2022-06-02 14:01] dorothyhernandez commented on #109
Dropping in this feedback re: posts on Twitter not pulling in post data. Photo is not showing up when links are shared.

<img width="581" alt="Screen Shot 2022-06-02 at 9 56 26 AM" src="https://user-images.githubusercontent.com/91985309/171645853-3a3fdbc5-52ee-485a-aa26-4f7d85537f33.png">

[2022-06-22 02:34] Fw7424 commented on #163
https://wordpress.org/plugins/simple-history/
Some of the highlights are side-by-side change comparison and user/type filtering

[2022-06-27 08:31] artlogic commented on #163
Installed in dev

[2022-06-27 08:31] artlogic commented on #164
Updated in recently synced dev

[2022-06-27 08:32] artlogic commented on #141
Done

[2022-06-27 08:32] artlogic commented on #103
Changes applied in prodiuction, @codingforapps can you confirm?

[2022-06-27 16:01] codingforapps commented on #103
@artlogic i'm seeing the changes are made and now this issue can be closed

[2022-06-27 16:01] #103 closed

[2022-06-27 18:59] artlogic commented on #128
Waiting on PublishPress Authors Pro license info and CoverPress Pro 3.0 to hit prod.

[2022-06-27 18:59] artlogic opened #165 "Re-org this repo"
This repo is kind of a mess of things - it should be split into the conversion repo and theme repo.

[2022-06-28 15:57] artlogic opened #167 "Audit Plugins"
Do we need all 17 - can we remove some?

[2022-06-28 16:00] artlogic commented on #163
@Fw7424 please let me know what you find about creating a backend log using this plugin - thanks.

[2022-07-08 04:30] Fw7424 commented on #163
https://anchor.host/email-triggers-for-simple-history/

[2022-07-08 04:47] Fw7424 commented on #163
Ryan signed off, with pending questions about if we could use multiple emails. I think we could use a foreach loop for the things that need triggers. Looks like a trigger will need to be set in this code.

[2022-07-12 02:28] artlogic commented on #163
Agreed, however it looks like we'll need to identify which message types to send emails on - I'm pretty sure it'll get too noisy if we send on every type.

[2022-07-12 02:42] artlogic commented on #165
New repo is https://github.com/wdetdigital/wordpress-theme

[2022-07-12 04:28] artlogic commented on #165
Done

[2022-07-12 04:28] #165 closed