[2021-05-14 07:04] artlogic opened #1 "Draft/Private Content"
Don't import content that's not marked public.

[2021-06-14 17:20] wdet30 opened #2 "Setup new Wordpress Hooks"

[2021-06-14 17:22] wdet30 commented on #1
This here

[2021-06-14 17:27] wdet30 opened #3 "Site Footer."
<?php
/**
 * The template for displaying the header
 *
 * Displays all of the head element and everything upto navigation menu.
 *
 * @link https://developer.wordpress.org/themes/basics/template-files/#template-partials
 */
?>
<!DOCTYPE html>
<html>
     <head <?php language_attributes(); ?>>
          <meta charset="<?php bloginfo( 'charset' ); ?>">

          <meta name="viewport" content="width

[2021-06-14 17:54] artlogic opened #4 "How to transition post metadata audio player?"
Posts on the wdet.org site have a audio player that appears before a featured image: https://wdet.org/posts/2021/06/14/91073-secretary-of-state-benson-defends-controversial-changes-at-branch-offices/

We need to figure out how that audio will be displayed in the new WordPress theme. Please do a couple of experiments and let @artlogic know what you'd like to do.

[2021-06-14 17:54] artlogic commented on #3
This is just a test issue. Closing.

[2021-08-09 19:15] metastange opened #5 "Pulling in incorrect image for post "thumbnails""
Some posts are pulling in ads that are or were currently running on the site for the post thumbnail.

Examples:
https://layout.wdet.org/2021/06/07/why-hiring-is-so-difficult-right-now/

[2021-08-09 19:22] metastange opened #6 "Thumbnails from old content are not being pulled in"
Thumbnail images from old posts are not being pulled into the thumbnail/header image container on the new site for some posts.

EXAMPLES:
old - https://wdet.org/posts/2015/09/25/81613-the-pope-talks-to-congress/
new - https://layout.wdet.org/2015/09/25/the-pope-talks-to-congress/?preview=true

old - https://wdet.org/posts/2015/10/05/81686-lake-erie-algae-bloom-weakens-as-weather-changes/
new - htt

[2021-08-09 19:28] metastange opened #7 "Inline images not pulling in"
Some in-text images are not being pulled over from the old site to the new site:

EXAMPLES:
old - https://wdet.org/posts/2015/09/26/81620-knudsen-park-receives-100000-upgrade/
new - https://layout.wdet.org/2015/09/26/knudsen-park-receives-100-000-upgrade/

old - https://wdet.org/posts/2015/09/22/81578-michigan-united-wants-power-restored-to-detroit-board-of-police-commissioners/
new - https://layo

[2021-08-09 19:29] metastange opened #8 "Authors on post pages"
All posts are attributed to "wdetadmin" - if we add all the authors onto the new site, will they be properly assigned during future data imports?

[2021-08-09 19:31] metastange opened #9 "Style update - hyperlinks"
Hyperlinks are pulling over in-post correctly, just making a note that they should match the formatting of the current site if possible.
<img width="789" alt="Screen Shot 2021-08-09 at 3 30 48 PM" src="https://user-images.githubusercontent.com/85897115/128763339-cbfc68a0-9da5-4896-a820-4068d2e757e6.png">

[2021-08-09 19:36] metastange opened #10 "Topics on new posts"
All of the categories are "News" on the imported posts, if we add tags Categories that align with the topics currently on the site, will they be included on the new site?

[2021-08-09 19:37] metastange commented on #10
This might also be a bigger conversation about taxonomy and how we delineate between shows, categories, tags, etc.

[2021-08-09 19:43] metastange opened #11 "Lead-ins"
Lead-ins are being pulled into the preview on the homepage, but not shown on the post itself. Is it possible to pull them into the posts? And how can this data be edited on the backend?

[2021-08-27 17:11] metastange opened #12 "Audio player pulling in incorrect logo"
Correct audio pulled into this post but it's showing a logo that it shouldn't be (Rooted post, showing Ann Delisi's Essential Cooking logo)

https://layout.wdet.org/2021/07/16/deeply-rooted-produce-works-to-transform-detroits-food-system-with-hyperlocal-produce-delivery/

[2021-08-27 17:14] metastange opened #13 "Center styling did not transfer"
Podcast subscribe call to action is hard coded to center-align. It is populating left-aligned.

Examples:
https://layout.wdet.org/2021/07/16/ida-mae-brings-british-americana-across-the-pond/
https://layout.wdet.org/2021/06/02/science-of-grief-exploring-unexpected-loss/

[2021-08-27 17:16] metastange opened #14 "Style & Layout"
Currently, all content being pulled in with H3 styling is being converted to a weird font. Update H3 font on layout site.

[2021-08-27 17:18] metastange opened #15 "Question - How are "related posts" determined"
Screenshot of posts determined as "related content" to a post about [flood disaster declaration](https://layout.wdet.org/2021/07/15/biden-oks-disaster-declaration-after-detroit-area-flooding/). I know this isn't fully set up yet, but made me wonder how we determine what related content is pulled in. Tagging
![Screen Shot 2021-08-27 at 1 16 32 PM](https://user-images.githubusercontent.com/85897115/

[2021-08-27 17:21] metastange opened #16 "Style update - headlines"
Underline styling on in-post headlines is distracting; remove.

https://layout.wdet.org/2021/07/16/how-to-summer-explore-murals-and-art-in-eastern-market-and-the-dequindre-cut-with-jason-hall/

[2021-08-27 17:22] metastange opened #17 "Style update - global nave"
Remove 60 Years of Ed Love

[2021-08-27 17:27] metastange opened #18 "Style update - views"
There's currently a "views" counter on post pages. Reminder to remove for public facing site, update sharing options to be icon buttons.

[2021-08-27 17:28] metastange opened #19 "Audio imports"
It appears that audio that was manually embedded in posts is being pulled over to the new site however the audio in the current site's native audio players is not being pulled into the layout site.

[2021-08-27 20:33] #19 closed, assigned to artlogic, wdet30

[2021-08-30 14:20] artlogic commented on #10
Here's the plan:

Tags -> Tags
Topics -> Categories->Topics (top level with all items as subs)
Series -> Categories->Series  (top level with all items as subs)
Shows -> Categories->Shows  (top level with all items as subs)

[2021-08-30 14:26] artlogic commented on #11
We're going to leave these as excerpts. This is just a styling issue at this point.

[2021-09-13 17:29] artlogic commented on #8
Users will be imported with no rights and manually transitioned to editors by WDET staff.

[2021-09-20 05:57] artlogic opened #20 "How to deal with multi-author posts?"
There are roughly 600 stories in the system that have more than one author. How do you want to deal with this?

[2021-09-20 19:11] wdet30 commented on #20
Create a user named "WDET Newsroom" push all post to that. Can we add the name of the Authors to the post anyway?

I would like to use a plugin for this.
https://wordpress.org/plugins/co-authors-plus/

Please advise on above?

[2021-09-20 19:27] artlogic commented on #20
I would suggest going with the plugin for the import as well (assuming this is the plugin you want for sure). It's probably better to keep things consistent.

Can you create a few multi author test posts on the layout site using that plugin?

[2021-09-20 19:29] wdet30 commented on #20
I will do.

I will have that running Tuesday eve or overnight.

________________________________
From: James Kruth ***@***.***>
Sent: Monday, September 20, 2021 3:28 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] How to deal with multi-author posts? (#20)

[EXTERNAL]

I would suggest going with the plugin for

[2021-09-21 13:12] wdet30 commented on #20
I was able to address this issue overnight. There are two things I'll be testing today one will be a custom taxonomy. And a plug-in. If the job takes less than 7 hours I will create the custom taxonomy and have that ready for tomorrow. If not we will go with the plugin

Tony
________________________________
From: James Kruth ***@***.***>
Sent: Monday, September 20, 2021 1:57:43 AM
To: arsmentis/wd

[2021-09-22 04:45] artlogic commented on #8
Waiting on #20

[2021-09-22 20:31] wdet30 commented on #20
@artlogic, I have stup the plugin and reqest for pro version You are copied on the email. See it in action here:

Bottom of post
https://layout.wdet.org/2021/09/22/james-wins-big-at-summit-climb/

And here

https://layout.wdet.org/2021/09/22/wordpress-co-authors-multiple-authors-and-guest-authors-in-an-author-box/

TB

[2021-09-24 17:19] wdet30 opened #21 "Hourly News upload - solution needed"
James, we will need to make a basic form that a user can upload a .mp4 to this path:
"https://wdet.org/media/wdet/news_update.mp4" It was built into the current CMS.

- [ ]  I will check for plugin, but an upload form will work as-well.

[2021-09-24 17:27] artlogic commented on #21
Questions:
* Is there a reason why the path is important?
* Does the form need authentication?
* Could we just use the wordpress media upload?

[2021-09-24 17:29] wdet30 commented on #21
I'm looking into that now.

TB

________________________________
From: James Kruth ***@***.***>
Sent: Friday, September 24, 2021 1:27 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Hourly News upload - solution needed (#21)

[EXTERNAL]

Questions:

  *   Is there a reason why the path is important?
  *   Does

[2021-09-24 17:32] artlogic commented on #20
Here's the plugin we're using: https://publishpress.com/authors/

Here's are some example posts:
* https://layout.wdet.org/2020/11/06/between-takes-the-brief-mysterious-life-of-bassist-james-jamerson/
* https://layout.wdet.org/2021/09/23/fight-over-custer-statue-in-monroe-michigan-comes-to-a-standstill/

Assigning to myself to sort out for the import.

[2021-09-24 17:32] wdet30 commented on #21
We can move the location. It will need to be the same path and filename.mp4 every upload. 3x a day.

[2021-09-24 17:38] artlogic commented on #21
If there was a way to edit the permalink for a media item it seems like that would do it - but I don't see a way. We might be able to do it with a redirect.

[2021-09-24 20:14] wdet30 commented on #21
Looing at updating a file. I will test.

[2021-09-27 17:38] wdet30 commented on #21
This will need to be an upload to an SFTP folder setup on the server. It does not need to to live in the WordPress directory.  Please setup a directory using path below. We will need to setup a user for this directory and get Pat and Team video on how to upload. This we need to loop in Ryan to make sure each user can get there laptop setup.

WDET.org/newsupdates

Or can we do a upload form?

Pleas

[2021-09-28 05:52] artlogic commented on #21
It's probably easiest to have this be done with an SFTP client if that's acceptable, rather than trying to create a standalone form. Let me know if that's going to be too much of a training issue.

[2021-09-28 11:17] wdet30 commented on #21
This works yes
SFTP client.

________________________________
From: James Kruth ***@***.***>
Sent: Tuesday, September 28, 2021, 1:52 AM
To: arsmentis/wdet-conversion
Cc: Tony Brown; Assign
Subject: Re: [arsmentis/wdet-conversion] Hourly News upload - solution needed (#21)

[EXTERNAL]

It's probably easiest to have this be done with an SFTP client if that's acceptable, rather than trying to create

[2021-09-29 20:37] artlogic commented on #21
Please let me know if I need to do anything else here.

[2021-09-29 20:39] artlogic opened #22 "Should users be mapped to authors (via the PublishPress Author plugin?)"
This is an extra step to the import and I need to know if users should be mapped to authors - if they are not, I don't believe I can do multi-author posts with that user. Please advise, and if so, should the user info be kept in the author profile, or the user profile?

[2021-09-29 20:39] wdet30 commented on #21
Nothing, moving this to Ryan

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, September 29, 2021 4:37:51 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Hourly News upload - solution needed (#21)

[EXTERNAL]

Please let me know if

[2021-09-29 20:42] artlogic commented on #21
Unassigning myself then.

[2021-09-29 21:10] artlogic commented on #22
It looks like the authors plugin also completely overrides user profile data, so if you want wordpress generated profiles, users must be mapped.

[2021-09-29 22:04] wdet30 commented on #22
Going back to the reason we wanted the multi-user plug into a sign more than one user to a post. We are unable to do that with just the WordPress user setup. The best practice would be if we can map to both is that possible? If not then the preferred method would use the author plug-in. For the reason of assigning multiple authors to a post.

Get Outlook for Android<https://aka.ms/AAb9ysg>

______

[2021-09-29 22:06] artlogic commented on #22
I don't understand what you mean by map to both? Can you show me an example on wdetcms?

[2021-09-29 22:07] wdet30 commented on #22
Yes

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, September 29, 2021 6:06:50 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Should users be mapped to authors (via the PublishPress Author plugin?) (#22)

[EXTERNAL]

I don't unde

[2021-09-29 22:35] artlogic commented on #22
Here's the outcome of this:

* For each person being pulled over, create a user and an author.
* Put profile information in both the user and author objects as it's not certain we'll stick with this plugin

[2021-09-29 22:36] artlogic commented on #20
* For each person being pulled over, create a user and an author.
  * Put profile information in both the user and author objects as it's not certain we'll stick with this plugin

[2021-09-29 22:36] artlogic commented on #22
Closing for #20

[2021-09-29 22:36] #22 closed

[2021-09-29 22:59] artlogic opened #23 "Review Tag Import"
Please review the tag import and let me know if changes need to be made or if tags need to be cleaned up:

https://wdetcms.wdet.org/wp-admin/edit-tags.php?taxonomy=post_tag

Looks like we imported about 4000 tags from the old site.

@metastange you may need an ID to access the site - @wdet30 can help you with that, but you may lose access as more imports occur. Please work with me and @wdet30 to c

[2021-09-30 05:31] artlogic commented on #4
What's the update here @wdet30?

[2021-09-30 06:24] artlogic opened #24 "Review Category Import"
Please review the category import here: https://wdetcms.wdet.org/wp-admin/edit-tags.php?taxonomy=category

Also please review the category page redirects and verify they are working: https://wdetcms.wdet.org/wp-admin/tools.php?page=redirection.php

[2021-09-30 06:54] artlogic opened #25 "How to transition page sidebars"
Page sidebars are separate from the page content in the old CMS. How should be be handled in wordpress?

[2021-09-30 11:33] wdet30 commented on #25
I will get the sidebar today. No need to import.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Thursday, September 30, 2021 2:54:12 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] How to transition page sidebars (#25)

[EXTERNAL]

Assigned

[2021-09-30 13:18] artlogic commented on #25
They're different for each page. Are you going to manually create each one? How do you want me to associate a particular sidebar with a page?

[2021-09-30 14:08] wdet30 commented on #23
I was able to clean these up. We can manage these after launch. We will have to see if they are going to stick to the post when you bring them over. If not we will blow them out and start fresh with the Wordpress build.

T

[2021-09-30 14:09] wdet30 commented on #17
All set

[2021-09-30 14:09] #17 closed

[2021-09-30 14:31] #12 closed

[2021-09-30 15:34] artlogic commented on #25
Got it - I will ignore the existing sidebars.

[2021-09-30 15:41] artlogic opened #26 "How to deal with inactive topics, series, and shows"
Several of the imported topics, series and shows are marked inactive in the old CMS which appears to mean that while there's there still content, they aren't available for adding new content (not available in choosers or dropdowns). I don't know of any way to deactivate a category like this in wordpress. Choices I see:

1. Find a plugin to replicate this.
2. Allow the category chooser to container

[2021-09-30 17:59] wdet30 commented on #23
It seems so many tags was created in funky ways to prevent duplicates. Please don't import any unused tags if possible.  I think that would be the best way. Please advise. TB

[2021-09-30 18:28] artlogic commented on #23
No problem - I can easily ignore inactive tags. Does anything else need to be done?

Keep in mind that if you remove/merge tags on the existing CMS, you may end yup with 404s due to the missing tags. I can't automatically generate redirects for those.

[2021-09-30 18:35] wdet30 commented on #23
404 will be updated with search and main blog feed and menu links.

[2021-09-30 18:37] wdet30 commented on #26
I will get back on 10/1/21

[2021-09-30 18:42] wdet30 opened #27 "Dealing with People / Staff Page"
We will manually move these over on a case by case bias after launch. This is more of a staff section which can be easily created by and editor.

Link to section in CMS
https://wdet.org/admin/wdet/person/

[2021-09-30 18:47] wdet30 opened #28 "Events Page- Solution"
There will be a plugin for events. Please don't create any pages or import data from events. These can be setup and running after launch and the site style.CSS is in a final version.

It will take 1 hour to setup. TB

[2021-09-30 18:49] wdet30 commented on #20
Yes, please go to the plugin first for the purpose of preserving the multi-author issue. We can sync users from the plugin.

[2021-09-30 18:49] artlogic commented on #28
OK - I just want to verify, my action item here is to do nothing? If so, I'll remove my assignment.

[2021-09-30 18:51] wdet30 commented on #28
Yes, thanks. T
________________________________
From: James Kruth ***@***.***>
Sent: Thursday, September 30, 2021 2:49 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Events Page- Solution (#28)

[EXTERNAL]

OK - I just want to verify, my action item here is to do nothing? If so, I'll remove my assignment.

—
Y

[2021-09-30 18:53] artlogic commented on #20
This work still needs to be done. Re-opening.

[2021-09-30 18:55] wdet30 commented on #20
Copy

[2021-09-30 19:00] wdet30 commented on #25
Update, creating custom sidebar for music and support pages.

[2021-09-30 19:00] #25 closed

[2021-09-30 19:01] artlogic commented on #27
Profiles will be created automatically by the authors plugin. I don't think there's anyway to turn this off, but I don't know the plugin well. Can you advise @wdet30?

[2021-09-30 19:17] wdet30 commented on #27
It's off now. I just created Tony News by email, and he came in as a guest author I'm ok with that. He didn't show up as a user.

Please, look at the options here and let me now if you think we should bring them over a different way?

https://wdetcms.wdet.org/wp-admin/admin.php?page=ppma-modules-settings

That's fine, we can manually add them as a user and connect them to the plugin.

Tony

______

[2021-09-30 21:27] metastange commented on #24
@wdet30 can you help me with an ID for the site? I've lost access.

[2021-09-30 21:28] wdet30 commented on #24
Yes

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: metastange ***@***.***>
Sent: Thursday, September 30, 2021 5:27:14 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Review Category Import (#24)

[EXTERNAL]

@wdet30<https://github.com/wdet30> can you help me with an ID

[2021-10-01 03:35] artlogic commented on #27
Yes, but that person still automatically was given an author page: https://wdetcms.wdet.org/author/tony-news/

So I think, unless you can somehow turn these profiles off, we should probably use then. I'll be pulling over all the author data, so each author will have a page automatically generated. The choices are this:

1. Pull over authors and try to populate the profile as completely as possible

[2021-10-01 03:47] wdet30 commented on #27
The question is where to pull them to Categories? Please advise if you can. T

________________________________
From: James Kruth ***@***.***>
Sent: Thursday, September 30, 2021, 11:36 PM
To: arsmentis/wdet-conversion
Cc: Tony Brown; Mention
Subject: Re: [arsmentis/wdet-conversion] Dealing with People / Staff Page (#27)

[EXTERNAL]

Yes, but that person still automatically was given an author page

[2021-10-01 03:52] artlogic commented on #27
I don't know that it's possible (with this plugin) to apply a category to an author. Are you looking for some way to list current staff vs. previous staff and guest authors?

[2021-10-01 04:09] wdet30 commented on #27
We can make a staff category and go that route. That would work. Staff can be different from authors and users and have both Yes.

Hopefully we won't be changing staff information much.
________________________________
From: James Kruth ***@***.***>
Sent: Thursday, September 30, 2021 11:53:01 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: R

[2021-10-01 04:16] artlogic commented on #27
If make staff a category, then I think you'd have to manually make pages for each staff member, then make redirects to those pages from the automatically created author profiles. Is that what you're thinking?

[2021-10-01 04:18] wdet30 commented on #27
I have also seen stations use slightly styled WordPress site for staff and linked to it. That may be and idea.

________________________________
From: Tony Brown ***@***.***>
Sent: Friday, October 1, 2021 12:09:39 AM
To: arsmentis/wdet-conversion ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Dealing with People / Staff Page (#27)

 We can make a staff category and go that route. That would

[2021-10-01 04:27] artlogic commented on #27
I'm going to hold off on importing anything but the bare minimum for authors until this is determined. Please let me know what you decide.

[2021-10-01 04:33] wdet30 commented on #27
We did the same thing at Michigan Radio. WordPress site for staff and sponsorship department. I want to go that route for the staff pages. T

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Friday, October 1, 2021 12:27:57 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re

[2021-10-01 04:36] wdet30 commented on #27
See here: https://sponsorship.michiganradio.org/

________________________________
From: Tony Brown ***@***.***>
Sent: Friday, October 1, 2021 12:33:15 AM
To: arsmentis/wdet-conversion ***@***.***>; arsmentis/wdet-conversion ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Dealing with People / Staff Page (#27)

We did the same thing at Michigan Radio. WordPress site

[2021-10-01 04:50] artlogic commented on #27
So I'm assuming you plan to setup redirects from the built in author profiles to this separate WordPress site? You'll handle all that manually after the import?

[2021-10-03 20:59] wdet30 commented on #27
Yes we can link to their employee page on the other site. What will we lose if we don't Import the people into the new WordPress site?

[2021-10-03 21:01] wdet30 commented on #18
All set.

[2021-10-03 21:01] #18 closed

[2021-10-03 21:03] wdet30 commented on #15
@metastange, here is the answer to this.

The Related Posts feature pulls relevant content from your blog to display at the bottom of your posts. It uses your post content, tags, and categories to automatically generate a list of relevant posts on your site.

https://wordpress.com/support/related-posts/

[2021-10-03 21:03] #15 closed

[2021-10-03 21:03] wdet30 commented on #16
All set.

[2021-10-03 21:03] #16 closed

[2021-10-03 21:04] wdet30 commented on #14
Fonts, will be updated this week in the final versions of the CSS.

[2021-10-03 21:06] wdet30 commented on #13
This is resolved. If you find this issues again please create new ticket with example links.

[2021-10-03 21:06] #13 closed

[2021-10-03 21:07] #2 closed

[2021-10-03 21:07] #9 closed

[2021-10-03 21:09] wdet30 commented on #8
Closing this to be address in #20

[2021-10-03 21:09] wdet30 commented on #10
So far looks ok, just to many of them.

[2021-10-03 21:14] artlogic commented on #8
Re-opening as this is my issue and I'm using it to track my task.

[2021-10-03 21:18] artlogic commented on #27
I have to import authors, unless you don't want authors on posts. Maybe we should have a quick conversation about this?

[2021-10-03 21:26] wdet30 commented on #27
Authors are fine. I'm talking about the people section that hold our staff bio info etc.

This section will go to another WP build for staff only.
https://wdet.org/admin/wdet/person/

I want to be clear that we don't need this section, and it's not tied to authors, post, and we won't lose any news content if we don't import them.

Please advise

[2021-10-03 21:39] artlogic commented on #27
My theory is that the way we do this is by creating redirects that cause the author profile links that are linked to every article to instead go to the separate site. The other option would be to override the profile links somehow via a plugin (or maybe the authors plugin already does this?)

I think we would want to test this before we settle on using a secondary site.

[2021-10-03 21:42] wdet30 commented on #27
Let's try it. I'm down to test.  FYI,  they do want a second site for the staff page.

________________________________
From: James Kruth ***@***.***>
Sent: Sunday, October 3, 2021 5:39 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Dealing with People / Staff Page (#27)

[EXTERNAL]

My theory is that the way

[2021-10-03 22:36] artlogic commented on #27
Are you able to override the profile links? That's the cleaner option.

[2021-10-03 22:42] wdet30 commented on #27
When you say profile, you're referring to the person as in the people listings? We can go in and turn those listings off and make them non-active. Is that the question? Yes we can make people inactive and turn your profile / person off first.

________________________________
From: James Kruth ***@***.***>
Sent: Sunday, October 3, 2021 6:36:13 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony

[2021-10-03 22:47] artlogic commented on #27
See the author section at the bottom of this article? https://layout.wdet.org/solving-mysteries-in-music-history-with-dso-librarian-robert-stiles-2/

That's the concern. How do you want to handle that?

[2021-10-04 12:53] wdet30 opened #29 "What plugins are we using?"
I was able to reduce the number of Plugin we are using. I will update the plugin document and upload here.

[2021-10-04 13:11] wdet30 opened #30 "Sidebars for Pages ready"
Hello, we do have a solution for Sidebars.

[2021-10-04 13:13] wdet30 commented on #30
Working on this now.

[2021-10-04 21:03] wdet30 commented on #27
It looks like we can manually connect them to each author profiles manually.

[2021-10-04 23:51] wdet30 opened #31 "Verify The use of Playlist function in CMS"
Verify The use of Playlist function in CMS

[2021-10-06 15:56] wdet30 opened #32 "Solution Needed for "Now Playing""
This ticket is for me. I will need to come up with a solution on where and how to display the Now Playing widget.

Here is the code:

  <iframe src="http://composer.nprstations.org/widgets/iframe/now.html?v=5.13.1&station=5182d007e1c809685c190ee6" width="100%" height="140" frameborder="0" seamless></iframe>

[2021-10-06 17:08] artlogic commented on #26
I actually don't think the `inactive` field is being respected from what I can see. I think this is a non-issue. I'm going to close it.

[2021-10-07 09:11] artlogic commented on #27
Still working on images (they're tricky to get right and represent a large chunk of the total work). I'll post another update around noon today.

[2021-10-07 18:39] wdet30 opened #33 "Verify Dev Server Online"
Checking to see if the Dev server is online? Looking to move layout there next week. I will ad Ryan to this when we get his username.

[2021-10-10 21:31] artlogic commented on #33
Dev server is online.

[2021-10-10 21:34] artlogic opened #34 "What to do about duplicate authors (people)"
We've got a small number of authors with duplicate names:

[code]

In each case it appears as if the person may have had two roles at the station and instead of updating the existing person profile, a new profile was created. Unfortunately the WordPress plugin we're using for authors cannot handle two authors with the same exact name, or the same author with multiple profiles.

How shall I handle

[2021-10-11 01:38] wdet30 opened #35 "Determine next steps on staff page layout/import"
I have been working on the latest update to the theme. I should have it done around 4pm on Monday. I still need to workaround the "Now Playing" section. That should be tight by Wednesday

I hope to have two layouts to look at.

[2021-10-11 01:41] wdet30 opened #36 "Series + show pages manually built"
This is on target for the Monday eve update.

TB

[2021-10-11 01:47] wdet30 commented on #24
@metastange, would you please give a look at the categories they don't look right. Please advise @artlogic

https://wdetcms.wdet.org/wp-admin/edit-tags.php?taxonomy=category

Thanks

[2021-10-11 02:25] artlogic commented on #36
I would suggest doing samples of these in layout for review. I expect a few more resets of the wdetcms site.

[2021-10-11 02:43] wdet30 commented on #36
Done

________________________________
From: James Kruth ***@***.***>
Sent: Sunday, October 10, 2021 10:25:33 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Series + show pages manually built (#36)

[EXTERNAL]

I would suggest doing samples of these in layout for review. I expect a few more resets of the wdetc

[2021-10-11 07:22] artlogic opened #37 "Podcast Episode Transition"
I just want to verify that for podcast episodes, the only requirement is to move the .mp3 files, and that all other content associated with them will not be moved.

[2021-10-11 13:55] metastange commented on #34
You're correct - the duplicates were caused when contributors had different roles or re-joined staff at a later date. I've cleaned up the following:
-Reassigned associated posts to Nina Misuraca Ignaczak, deleted duplicate account
-Reassigned associated posts for Candice Fortman, deleted duplicate account
-Reassigned associated posts for Dorothy Hernandez, deleted duplicate account

Here's how to

[2021-10-11 16:07] artlogic commented on #34
Here's the content I show associated with Tia Graham's intern profile:

[code]

Are you asking me to reassign and remove this content during the import, or will you be doing it prior to the import?

Will you be doing that in the old CMS or do you need me to take care of that?

[2021-10-11 18:22] #34 closed, assigned to wdet30, metastange

[2021-10-11 18:43] wdet30 opened #38 "Dealing with Assets and Files (Media Folders)"
I'm coming across a lot of pages and post that have direct links to the asset folders. Please make sure that you copy all assets and media files over to the exact paths the old CMS and site was referring to.

https://wdet.org/media/wdet/assets/2020/ and so on

https://wdet.org/media/wdet/assets/2020/11/19/Banner_1000x300_CreatedEqual.jpg"

Please let me know we are good here. I don't want to use r

[2021-10-11 19:46] artlogic commented on #38
I think we'd better discuss this as I'm literally just about to start on this and I want everyone to be on the same page. We have several options:

1. Import every asset and podcast episode into the WordPress media library. Rewrite URLs in posts and other imported HTML to use the new media paths. Create redirects from the old /media/ URLs to the new WordPress URLs to handle anything missed or dire

[2021-10-11 21:28] wdet30 commented on #38
Lets go with Option 1. That will work fine for the static pages anyway. I'm having to download and upload the images and clean up the HTML anyway. If there is audio, I will do the same. The post have links to most assets so lets go with option 1 to make sure we get most of everything into Wordpress eco.

Thanks,

[2021-10-12 01:07] artlogic commented on #36
What will the URLs for these pages be?

[2021-10-12 01:08] artlogic commented on #7
Related to #38

[2021-10-12 01:09] #33 closed, assigned to artlogic, wdet30

[2021-10-12 15:57] metastange commented on #36
All text. See attached for layout on current site:

![Screen Shot 2021-10-12 at 11 56 58 AM](https://user-images.githubusercontent.com/85897115/136989806-b96300ac-0bbb-4f4b-86e9-07ac29c23e77.png)

[2021-10-12 15:58] artlogic commented on #36
I just pulled long_description - if there's a problem I suspect it's with the data in the old CMS

[2021-10-12 19:02] artlogic opened #39 "Review Redirect Import"
Please verify that redirects from the current CMS (as of July) are present in the new CMS.

https://wdetcms.wdet.org/wp-admin/tools.php?page=redirection.php

[2021-10-12 19:04] artlogic opened #40 "Review User Import"
Users were imported from the existing site - some of these users may not be needed but may be tied to content, so they've all been imported.

https://wdetcms.wdet.org/wp-admin/users.php

[2021-10-12 19:07] artlogic opened #41 "Review Author/Person Import"
Review the author/person import from the old site, verifying the following:

- [x] Imported people are correctly represented (including bio info) as authors
- [x] Redirects from old author URLs to new author URLs work properly
- [x] Authors who are also users in the system are associated correctly

https://wdetcms.wdet.org/wp-admin/edit-tags.php?taxonomy=author

[2021-10-12 19:10] artlogic opened #42 "Review Asset Import - stage 1"
Over half of the assets in the old CMS are being imported as a byproduct of importing authors and posts. Please verify:

- [x] Images with the same title in the old CMS are actually the same image
- [x] Image metadata is correct and matches the old CMS

https://wdetcms.wdet.org/wp-admin/upload.php

[2021-10-12 19:14] artlogic opened #43 "Investigate author linking issues"
It looks like some posts are improperly linked from an authorship perspective (at least in the dashboard). Investigate. Likely an easy fix.

[2021-10-12 19:19] artlogic opened #44 "Review Post Import"
Please review the following:

- [ ] Did the post title, content and excerpt pull over properly (remember to turn on the excerpt view in the WordPress editor)
- [ ] Is the post authorship information correct, including multi-author posts?
- [ ] Are shows, series, and topics linked correctly?
- [ ] Are tags linked correctly?
- [ ] Is the featured image linked correctly?
- [ ] Does the publish time m

[2021-10-12 23:44] artlogic opened #45 "Category Import Shows Incomplete (but isn't)"
Here's a screenshot: https://github.com/arsmentis/wdet-conversion/issues/24#issuecomment-941603695

One theory - this is because the import didn't complete - but I think that's unlikely.

I clicked update on one category, but didn't actually make any changes and the problem resolved itself.

[2021-10-13 17:09] artlogic opened #46 "Consider splitting the XML"
This would solve a small number of issues including #45. Additionally it would make the import less likely to time out (but require a multi-step process).

[2021-10-14 15:41] #36 closed

[2021-10-14 18:08] wdet30 opened #47 "Show Pages review"
Hello, I'm looking to get get Q&A going on the show pages only.

A description of a show page is a product that is on air. A show page is a static page with the description of the show with a link to the staff page or syndicated website. A show can have a podcast attached to it.  The main elements of a show landing page below.
**Looking to verify:**
• Show banner
• Show times
• Description of show

[2021-10-14 19:19] wdet30 commented on #47
Copy

________________________________
From: metastange ***@***.***>
Sent: Thursday, October 14, 2021 3:17:39 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Show Pages review (#47)

[EXTERNAL]

@dorothyhernandez<https://github.com/dorothyhernandez> Please use the google doc linked above when you start reviewin

[2021-10-15 14:57] metastange commented on #47
@wdet30 I've completed my desktop review of all available shows (as noted in the doc, the page is currently missing all shows that come alphabetically after "The Moth" - The Treatment, This American Life, This Island Earth, Wait Wait Don't Tell Me, Weekend Edition).

So everyone is on the same page: there are a LOT of updates that @dorothyhernandez and/or I can take care of that I'm flagging now b

[2021-10-15 15:01] metastange commented on #27
@artlogic - i'm noticing issues with the author urls (for example, Alex Trajano's author url is ccampbell). Do you want me to document them here or manually change them myself? also at this point in the import process, should there be posts associated with the authors?

[2021-10-15 15:18] metastange commented on #40
Ok so if I remove Amy Miller (user) that should not impact the content created by Amy Miller (author)? Just want to double check before I start scrubbing.

[2021-10-15 16:37] artlogic commented on #39
Yup, those 74 redirects are exactly what I'm talking about.

[2021-10-15 16:48] metastange commented on #41
Oops, sorry @artlogic, I'm working from the bottom up, so I put notes on this on issue #27. Moving notes here.

[2021-10-15 17:48] wdet30 commented on #24
Series are imported as categories. So if there was a web post going to a series in the old system we would need to keep that series as a category in the new system.this is  so that the post will go to the appropriate category. I hope that makes sense. So if you remove mishmash which is a series on the old system, but is a category on the new you may not want to remove that.  The post won't know wh

[2021-10-15 18:09] metastange commented on #24
In the case of MichMash specifically, it was both a series and a show on the old site, but it has only been a show since early August, when I made the series inactive. Content was tagged both "series" and "show" michmash, so even without the series, shouldn't it go to the show? (Although the show is not on the new cms, as flagged above.)

Re: "if there was a web post going to a series in the old s

[2021-10-15 19:36] artlogic commented on #24
I think we should discuss what the goal would be of making it not a series - would this just be to update the menu on the site? To update the administrative interface? Something else?

[2021-10-15 20:00] artlogic commented on #41
No worries - I've gone ahead and added the notes here:

This looks like a problem on my end - I will look into it.

I don't see an author by the name of Anthony Spak - could you give me a link?

Please document any issues you find here and I'll look into them. Posts should be associated with authors.

[2021-10-15 20:02] artlogic commented on #42
6000 is a lot - I would suggest spot checking a certain percentage - I would think maybe just 1% would be enough, along with checking posts as well.

Can you be more specific? Is this the same as #7 ?

[2021-10-15 20:08] artlogic commented on #40
Users represent the list of all users that created content on the old site - including inactive ones. You'll notice everyone except a few people are set to subscribers which means they effectively have no access. You can see for yourself by changing the email address to yours, requesting a password reset and seeing what that user can do.

If you remove those users, internally wordpress will reassi

[2021-10-15 20:15] metastange commented on #24
Was not aware this was an incomplete import, will keep that in mind for further reviews.

Yes, basically I want to know what this will look like for the user. We have a fair amount of series that were transferred over that should not be available as categories because they are inactive; do I have to delete them? I don't see an option to have them there but not selectable.

Copy that!

Copy that! R

[2021-10-15 20:16] metastange commented on #39
Ope, yep, that was also a post-July addition (sorry, I didn't remember doing it). So we're all set on all fronts here!

[2021-10-15 20:37] artlogic commented on #42
How are you determining the association?

[2021-10-15 20:43] #39 closed

[2021-10-16 21:22] artlogic commented on #44
I see that - I'm not sure what's going on there - I'm going to look into it.

[2021-10-18 00:58] dorothyhernandez commented on #47
I need edit access to the Google doc, not the CMS (I'm in the CMS rn without any problems).

https://docs.google.com/spreadsheets/d/1Mn3GE9EvKJ2Mokv0kmrI4HsnmTZu_zTXYrq8uK150sw/edit#gid=1308127726

[2021-10-18 01:21] wdet30 commented on #47
@dorothyhernandez , having trouble with your WDET email. Please hit me with your Gmail address

[2021-10-18 03:16] dorothyhernandez commented on #47
@wdet30 sorry I just saw this. It's dlhernandez@gmail.com

[2021-10-18 03:20] dorothyhernandez commented on #41
Question: Should WDET staffers e.g. Russ McNamara be listed as a guest author? I saw a bunch like that but wanted to check before I added to my list.

I compiled all of the issues I saw in this Google doc (too much to dump into comments here). It's mostly of profiles not linked to the right user e.g. Pat Batcheller is linked to mapped user Quinn Klinefelter and when you hit the author url it goes

[2021-10-18 05:44] artlogic commented on #41
In the data dump I have (from July) Russ's person profile is not linked to a user. That's why he's showing up as a guest author. I would suggest linking him properly in the CMS.

I will be pulling a new data dump soon, and running a new import. That should resolve this issue as long as the old CMS is updated.

[2021-10-18 16:11] artlogic commented on #47
Let's try to align this with the next data dump/import. After I complete my import, you can install your theme and copy over the show/series pages.

[2021-10-18 16:21] artlogic commented on #47
I think that's going to be up to @metastange and @dorothyhernandez - I will send out an update within the hour.

[2021-10-18 16:43] metastange commented on #40
@artlogic If I provide a list of usernames, are you able to run a query on site content to see if there is content associated with that user, like you did for Tia Graham last week? That would help me determine who can be removed entirely and who has bylines that need to remain intact.

[2021-10-18 18:03] metastange commented on #40
See attached for full list.

[wdet user content verification.xlsx](https://github.com/arsmentis/wdet-conversion/files/7367593/wdet.user.content.verification.xlsx)
.

[2021-10-18 19:55] wdet30 opened #48 "Hide Feature image in Post or Page"
Making this a ticket for follow up.

[2021-10-19 14:37] wdet30 commented on #14
@wdet30 , I'm moving styling to this thread here.

[2021-10-19 17:46] wdet30 opened #49 "Series conversions to Pages"
Since the styling of category landing pages are limited. Please, give make  list of what series we should give landing page layouts to.
@metastange

[2021-10-19 18:56] metastange commented on #40
Got it, no need to apologize, I'd rather understand this and work through it now than be surprised by something later!

We created a test user (CMSTest21) and created an unpublished test post (CMS Test A). Tony then deleted the user which, it appears on my end, also eliminated the post.

To that end, I will not remove users on the current CMS in order to ensure the content remains intact. Once we'

[2021-10-19 20:42] #48 closed, assigned to wdet30, metastange

[2021-10-19 20:48] wdet30 commented on #47
@metastange @dorothyhernandez @Jazzyhunt, we have made a list of changes to just the Show pages. You are free to edit them.

FYI: We have not updated the grid.

Please do and updated Q&A and edit, only on these pages linked on this WDET Shows Landing page.
 https://layout.wdet.org/wdet_shows/
Thanks

[2021-10-19 22:21] wdet30 opened #50 "Podcast pages for review"
Hello @metastange @dorothyhernandez,. looking to Q&A our podcast pages and the landing page.
https://layout.wdet.org/wdet-podcasts/

Please feel free to edit.

Looking to verify:
• Show banner
• Show times
• Description of show
• Link to show and or host.
• Blog post widget. (Querying the latest posts of the show or podcast. IE: blog post to category)
• Playlist widget if it is a show.
• Donation

[2021-10-20 14:04] wdet30 commented on #50
@wdet30 on this now.

[2021-10-20 14:38] wdet30 commented on #50
all set

[2021-10-20 15:45] metastange commented on #47
@wdet30 - I've conducted an updated QA. I don't know why the "copy" column was removed from the QA document, but it had information that I planned to implement on the new pages; moving forward can you let me know if you're going to remove information from QA documents so I can save that info on my side?

Just confirming - you want me to edit show pages on the layout site? If yes, I can make copy a

[2021-10-20 15:59] wdet30 opened #51 "Series pages ready for review"
@metastange @dorothyhernandez , it seems these pages need some TLC.

https://layout.wdet.org/series/

Looking to verify:
• Series banner
• Series times
• Description of Series
• Link to Series and or host.
• Blog post widget. (Querying the latest posts of the Series or podcast. IE: blog post to category)
• Playlist widget if it is a Series.
• Donation template
• Please report any styling issues or

[2021-10-20 22:12] wdet30 opened #52 "Station Pages - Easy link"
Hello everyone, here is a link to all the station related pages. This will make it easy to Q&A and find pages that are not show, podcast or series pages.

Here is the link. https://layout.wdet.org/station-pages/

[2021-10-21 17:18] metastange commented on #51
My QA notes have been added to the doc. Most updates are really minor, just spacing issues and missing content blocks.

One large outstanding question I have applies to series, show and podcast landing pages:
The short descriptions on the show landing page does not match what we have on the current site; it appears it is just pulling in the text from the page. Are we able to customize the text tha

[2021-10-21 17:28] wdet30 commented on #51
Looking on this now

[2021-10-21 17:44] metastange commented on #14
Here are my additional styling notes. Let me know if you need these in some other format:

- [ ] Correct fonts
- [ ] Hover state for the WDET logo is weird (switches between two colors)
- [ ] Donate button should all be the same pink color (heart and "donate" currently a different font
- [ ] Missing Search from the top navigation
- [ ] Center align the navigation (currently slightly right of cente

[2021-10-21 18:19] wdet30 commented on #27
The Staff page has been manually created until we come up with a long term solution. We will manually link to their author page on the CMS site. If they are not and Author or User we will create a "Staff" Category and list/post that staff member that way.

https://layout.wdet.org/wdet-staff/

We will link after we move pages to CMS site.

[2021-10-22 01:43] #43 closed, assigned to artlogic

[2021-10-23 05:23] #46 closed, assigned to artlogic

[2021-10-25 16:48] artlogic opened #54 "Review Import Errors"
Please review: https://github.com/arsmentis/wdet-conversion/wiki/Import-Errors

These are 99% errors importing assets and I still have a few additions to make to this list (there's a part 5 and 6 that are currently missing). I would suggest reviewing the particular assets on the old CMS and determining what the problem is, and if it's worth fixing. Here's an example:

1. In the old CMS search for

[2021-10-29 13:41] metastange opened #55 "Donation Module Copy"
**Post Pages:**
[header] Trusted, accurate, up-to-date.

WDET strives to make our journalism accessible to everyone. As a public media institution, we maintain our journalistic integrity through independent support from readers like you. If you value WDET as your source of news, music and conversation, [please make a gift today.](https://wdet.org/give-post)

[Button] Give now »

**Music Show Pages

[2021-10-29 16:16] metastange opened #56 "Users Converted to Authors"
@wdet30 - I've assigned user status to "author" for current content creators but won't we have to re-do this if we do another data import?

[2021-10-29 17:29] #49 closed, assigned to wdet30, metastange

[2021-10-29 17:29] #32 closed, assigned to wdet30

[2021-10-29 17:36] #37 closed, assigned to wdet30

[2021-10-29 19:48] metastange commented on #52
FYI, tracking updates that need to be made in this document:
https://docs.google.com/spreadsheets/d/1Mn3GE9EvKJ2Mokv0kmrI4HsnmTZu_zTXYrq8uK150sw/edit#gid=1898546819

Added an assignment column to more clearly identify what Dorothy and I can manage (and what we need to call in additional team members to weigh-in on).

[2021-10-29 19:50] wdet30 commented on #52
Ok thanks. T

________________________________
From: metastange ***@***.***>
Sent: Friday, October 29, 2021 3:48:56 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Station Pages - Easy link (Issue #52)

[EXTERNAL]

FYI, tracking updates that need to be made in this document:
https://docs.google.com/spreadsheets

[2021-10-29 19:54] metastange commented on #30
@wdet30  - Issue #55 is the donation modules, so I'm unclear how sidebars have been set up with the feedback provided there.

I also do not see any sidebars to review - please clarify where I should be looking.

[2021-10-29 20:01] metastange commented on #41
@artlogic reviewing something different and came across and author issue:

This post is showing up on the backend with "Laura" as the author, but Dorothy is bylined on the front end:

New: https://wdetcms.wdet.org/2021/10/06/detroit-wants-to-restore-historic-home-of-ossian-sweet-to-teach-others-about-housing-discrimination/
Current: https://wdet.org/posts/2021/10/06/91514-detroit-wants-to-restore-

[2021-10-29 20:05] metastange commented on #7
@artlogic Still seeing this as a problem on some posts:

Examples:
New: https://wdetcms.wdet.org/2021/10/19/black-is-beautiful-exhibition-at-detroit-institute-of-arts-highlights-1960s-cultural-movement/
Current: https://wdet.org/posts/2021/10/19/91551-black-is-beautiful-exhibition-at-detroit-institute-of-arts-highlights-1960s-cultural-movement/

New: https://wdetcms.wdet.org/2021/10/06/detroit-wan

[2021-10-29 20:06] metastange commented on #30
Also, adding an additional sidebar request: can we get a "more about WDET" sidebar that can be used on things like the job page, etc?

### More About WDET
Programming & Mission

Ways To Listen

Meet Our Staff

Join Our Team

Ways To Give

Become A Sponsor

Station Blog

Public File

Contact Us

Help/FAQ

[2021-10-29 20:30] wdet30 commented on #30
Got it, will update over the weekend.

________________________________
From: metastange ***@***.***>
Sent: Friday, October 29, 2021 4:06:52 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Sidebars for Pages ready (#30)

[EXTERNAL]

Also, adding an additional sidebar request: can we get a "more about WDET" sid

[2021-10-29 20:37] artlogic commented on #7
For some of these, they are prefixed by `/thumbs/adjust` which needs to be transformed into `/media` - I will have to make a small change to the import and we'll want to test that it works.

In the case of this article, it appears to have been broken at one point on the original CMS, and has now been fixed, so we'll catch it in the next import.

[2021-10-29 20:39] artlogic opened #57 "Scan content and excerpts looking /thumbs/adjust and replace"
It looks like the old CMS uses a `/thumbs/adjust` prefix in some cases to convert images into different sizes. I'm going to try a simple solution and use BeautifulSoup to replace that with /media (or maybe a regex?) and call it good.

Found in #7

[2021-10-29 20:41] artlogic commented on #57
Looks like this can just be a simple string replace for "/thumbs/adjust" with "/media"

[2021-10-29 20:51] artlogic commented on #41
@metastange after investigating, all I can think is that someone manually changed the author on this post after the import. Unfortunately WordPress doesn't have a built in audit trail, so there's no way to know if that actually happened. It's seeming like there might be one more import prior to launch given the few issues we've found. I'd appreciate it if you would keep an eye on this post and let

[2021-10-29 20:53] artlogic commented on #56
@metastange looks like we can close this one?

[2021-10-29 21:18] #56 closed

[2021-10-29 21:22] metastange commented on #41
Wait, that's super weird, it had "Laura Herberg" as the author on the backend when I made this post, but now it's showing Dorothy on both the back and front end. I will keep an eye on this one.

[2021-10-29 21:25] artlogic commented on #41
Most CMSes that are used by many people have some kind of an audit log or trail to prevent just these sort of things. Maybe @wdet30 knows of a good plugin for us to use that will provide that?

[2021-10-31 04:33] #57 closed

[2021-10-31 23:02] artlogic commented on #54
@metastange I successfully was able to import the missing file on my test server and two more issues were reported:

* Failed to import Media “Liesl Clark Michigan EGLE Environment Great Lakes Energy jn”
* Failed to import Media “Christophe Zajac-Denek headshot bust”

I've also updated the wiki page linked above.

[2021-11-01 14:21] wdet30 commented on #30
@metastange @dorothyhernandez , this info will not be available in sidebars anymore:

**Music/Show Pages**
- Show time(s)
- Hosted By
- Social links/email contact (if pertinent)
- Podcast Pages

**Hosted By**
- Pod platform links (Apple Podcast, Spotify, NPR, Google Podcasts)

Moving forward this info will need to be in the body of the page. Underneath the show banner.

Please make task to update

[2021-11-01 14:23] metastange commented on #30
@wdet30 What will be in the sidebars, then?

[2021-11-01 14:25] wdet30 commented on #30
Sidebars are live, I will get you links so you can see what is what. Give me a few.

[2021-11-01 15:12] metastange commented on #54
Updated both on the current site.

[2021-11-01 15:33] artlogic commented on #54
Great! I think we can close this for now.

[2021-11-01 15:33] #54 closed

[2021-11-01 16:24] wdet30 commented on #30
@metastange, I noticed the old site had the show time and host info in the sidebar. I wanted to put tis data underneath banner in the new site. If you need that data in the side bar for every show or series, it will take about a day or so. I can make it happen. please advise.

Here are the current sidebars proposed for launch.

**An example of a post page and sidebar: (Generic sidebar)**
https://w

[2021-11-01 16:34] metastange commented on #30
Are you looking for style feedback or just feedback on the content?

[2021-11-01 16:55] wdet30 commented on #30
I will take both.

[2021-11-01 17:26] metastange commented on #30
It's fine to omit the show time, but would like to include host including pertinent links and contact info in the sidebars if possible. Screenshot of what I have in mind:
![show host sidebar info](https://user-images.githubusercontent.com/85897115/139713700-09d455e5-69c1-41a7-ad8d-98d437d03f85.jpg)

Global:
- Stylistically, not loving the shadowing on the boxes; it makes the pages look disconnecte

[2021-11-01 17:28] wdet30 commented on #30
Got the list.

TB
________________________________
From: metastange ***@***.***>
Sent: Monday, November 1, 2021 1:26 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Sidebars for Pages ready (#30)

[EXTERNAL]

It's fine to omit the show time, but would like to include host including pertinent links and contact

[2021-11-01 18:12] wdet30 commented on #55
@metastange, below are the donation modules templates for [Elementor](https://wdetcms.wdet.org/wp-admin/edit.php?post_type=elementor_library&tabs_group=library). I'm not sure about the styling, please adjust to your taste when you can. Please let me know what needs to be done before we push them to the appropriate pages.

**Post Pages:**
Example:
https://wdetcms.wdet.org/2021/10/18/union-strike-ag

[2021-11-02 17:25] wdet30 opened #58 "Pages and Modules edits"
Hey Team, I'm about to move the updated pages, categories, modules back over to Layout site for final styling and edits. Please hold off on edits until Wednesday at 6am.

Final edits and styling will be here:
https://layout.wdet.org/

There will be no changes to the Q&A final revisions document. We have been working on it and was updated today with some changes.

@artlogic @metastange @dorothyhern

[2021-11-03 15:28] wdet30 commented on #55
I had to update the links back to the layout site.

@metastange, below are the donation modules templates for I'm not sure about the styling, please adjust to your taste when you can. Please let me know what needs to be done before we push them to the appropriate pages.

**Updated:**
**Post Pages:**
Example:

[https://layout.wdet.org/2021/10/18/union-strike-against-kellogg-s-enters-third-week-as-c

[2021-11-03 15:58] metastange commented on #41
This issue has largely been resolved, but would like clarity from @wdet30 on whether there's a plugin for an audit log.

[2021-11-03 15:59] metastange commented on #40
This issue is good on my end and can be closed.

[2021-11-03 15:59] metastange commented on #24
This issue can be closed.

[2021-11-03 16:00] #40 closed

[2021-11-03 16:05] wdet30 commented on #41
I'm going to hold this and do a little more research.

Sorry I don't have the answer at the moment.
________________________________
From: metastange ***@***.***>
Sent: Wednesday, November 3, 2021 11:58:54 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Review Author/Person Import (#41)

[EXTERNAL]

This issue

[2021-11-03 16:14] metastange commented on #55
i do not want the donation modules to have two columns, but can't figure out how to change the configuration. @wdet30
Can you please advise on how to make that change or whether I should just start from scratch?

[2021-11-03 16:18] artlogic commented on #41
Let's close this then, and open a new issue for the audit log plugin if that's OK?

[2021-11-04 13:55] metastange commented on #42
Reviewed asset import and it appears that Source/Licence URLs did not transfer over:
Examples:
old: https://wdet.org/admin/wdet/asset/16353/?_changelist_filters=p%3D3
new: https://wdetcms.wdet.org/wp-admin/upload.php?item=17367

old: https://wdet.org/admin/wdet/asset/1437/?_changelist_filters=q%3Ddetroit%2Bzoo
new: https://wdetcms.wdet.org/wp-admin/upload.php?item=11824

It also appears that tags

[2021-11-04 14:30] #41 closed

[2021-11-04 14:31] metastange opened #59 "Audit Log Plugin"
Source audit log plugin for site.

[2021-11-04 14:36] wdet30 commented on #59
@metastange, would you please let me know what are the three main features or functions you need this plugin to perform? Please advise.

TB

[2021-11-04 14:37] #58 closed

[2021-11-04 14:40] metastange commented on #59
Please refer to issue #41 for additional context. Not sure there are "three main features," just hoping to be better equipped to track changes made on the backend.

[2021-11-04 14:44] wdet30 commented on #14
@metastange, above is the styling changes I'm working off of. If there any other CSS or styling issues please update them on this ticket #14

[2021-11-04 14:47] wdet30 commented on #59
I'm holding off additional plugins at the moment.  There is just to many plugins that are effecting the WP core. I will look at this after launch.

TB

[2021-11-04 14:48] metastange commented on #59
That's fine, I just opened the ticket so it did not get ignored or forgotten post-launch.

[2021-11-04 14:51] artlogic commented on #59
I can help a bit here - the old CMS had an audit log that showed who was responsible for any change to the CMS and at what time. This was not exposed via the admin, but allowed me to review how a particular object had changed. I think the main features would be:

1. There is an audit log of changes to the CMS.
2. It's available via an interface in the admin.

[2021-11-04 14:51] artlogic commented on #59
Would it make sense to re-open this with a "post-launch" tag?

[2021-11-04 14:53] wdet30 commented on #59
Sure
________________________________
From: James Kruth ***@***.***>
Sent: Thursday, November 4, 2021 10:52 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; State change ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Audit Log Plugin (Issue #59)

[EXTERNAL]

Would it make sense to re-open this with a "post-launch" tag?

—
You are receiving this because you modified

[2021-11-04 15:13] metastange commented on #14
@wdet30 screenshotted examples of "Shows, Podcasts and Series should have drop down menu
![Screen Shot 2021-11-04 at 11 11 57 AM](https://user-images.githubusercontent.com/85897115/140342685-eb228638-7dc5-4ab5-a891-3904e2356dcb.png)
![Screen Shot 2021-11-04 at 11 11 43 AM](https://user-images.githubusercontent.com/85897115/140342698-53bc691e-a8b7-475f-96d3-678b3937302c.png)
s"

[2021-11-04 15:14] wdet30 commented on #14
Ahh, nav drop down menu for pages. Got it!

[2021-11-04 15:15] metastange commented on #14
it might be space-prohibitive to list every show we have, so let me know if you want me to provide specific lists of what i'm looking for.

[2021-11-04 15:16] wdet30 commented on #14
I don't see that on the WDET.org

[2021-11-04 15:16] wdet30 commented on #14
Is this something new?

[2021-11-04 15:16] metastange commented on #14
It's not on the current site - this was an improvement we discussed early when I was looped in

[2021-11-04 15:17] artlogic commented on #42
I can transfer these over, but we only have 3 places to put them:
* Alternative Text (probably the wrong choice)
* Caption
* Description

If you want a discrete field for Source/License URL, that may be something to speak with @wdet30 about.

As I've said before, I simply have no way to transfer tagging over. WordPress does not natively allow you to tag media. I was under the impress we were waiti

[2021-11-04 15:17] wdet30 commented on #14
Ok please provide list. Lets see how it looks.

[2021-11-04 15:24] wdet30 opened #60 "Handling Events -Post Launch"
@metastange, the events will be generated by a plugin called events. It's very easy to use but I won't set this up until post launch. I will take about 30min to setup. I use it daily on my personal sites.

Post launch I will wait until we get event content and add link to nav.

[2021-11-04 15:25] metastange commented on #23
Tags were not imported for assets, so assets are not included in the "tagged items" on the new site.
Examples:
old: https://wdet.org/admin/taggit/tag/5106/
new: https://wdetcms.wdet.org/wp-admin/edit-tags.php?taxonomy=post_tag&post_type=post&s=%23detroit

old: https://wdet.org/admin/taggit/tag/3399/?_changelist_filters=p%3D1
new: https://wdetcms.wdet.org/wp-admin/edit-tags.php?taxonomy=post_tag&po

[2021-11-04 15:26] metastange commented on #23
Also, will the theme we're using include the "description" field? (The little disclaimer on the backend says "The description is not prominent by default; however, some themes may show it.")

[2021-11-04 15:27] wdet30 commented on #23
Please shy away from non-standard fields etc.

TB
________________________________
From: metastange ***@***.***>
Sent: Thursday, November 4, 2021 11:26 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Review Tag Import (#23)

[EXTERNAL]

Also, will the theme we're using include the "description" field? (The lit

[2021-11-04 16:04] metastange commented on #11
@wdet30 I am not seeing lead-ins on post pages, please advise.

[2021-11-04 16:05] metastange commented on #4
@wdet30 I am not seeing the native audio on post pages, please advise.

[2021-11-04 17:23] wdet30 opened #61 "Host info & showtimes in sidebar discontinued"
@metastange @dorothyhernandez , we are going to have to discontinue the host & show info in the sidebar. We would have to create and manage a sidebar for very show.

Please see this page on how to resolve this.
1. Create a section in elementor underneath the banner, use the text editor widget and add show information and style to taste.

example:
[https://layout.wdet.org/wdet_shows/ann-delisis-ess

[2021-11-04 18:02] wdet30 commented on #59
@metastange , Are you looking for revision history? Wordpress tracks this in revisions. It's right under the publish settings. Also make sure that you have revisions selected under screen options.

Revisions

[2021-11-04 18:23] metastange commented on #44
Issues on a sampling of posts. Seeing consistent issues with publish _time_ (but not date), thumbnails, and pulling in multiple authors. I know we've discussed thumbnail and multiple authors before, so apologies if this is duplicative. Categories, titles, excerpts and written content of posts (not the inline images, many of which are missing) were all correct in what I reviewed.

Old: https://wdet

[2021-11-04 19:26] wdet30 commented on #14
@metastange: Stylistically, not loving the shadowing on the boxes; it makes the pages look disconnected.
Please give screen of boxes.

[2021-11-04 19:28] metastange commented on #14
Should I do that here or on issue #30 where that issue is listed? This is in reference to sidebars.

[2021-11-04 19:34] wdet30 commented on #14
Please list here @metastange

[2021-11-04 19:38] wdet30 commented on #14
@metastange, if it's styling list it here.

[2021-11-04 19:41] metastange commented on #14
It's a little hard for me to give feedback on this because that note was made in reference to the links provided to review on CMS, which looks different from layout.

CMS (the "shadowing" I was referring to):
![Screen Shot 2021-11-04 at 3 37 20 PM](https://user-images.githubusercontent.com/85897115/140408545-22bfa6a7-76d6-445c-bf57-4ae1c68d1bec.png)

Layout
![Screen Shot 2021-11-04 at 3 37 38 PM](

[2021-11-04 19:42] wdet30 commented on #14
H

Ok, yes I will note that.

[2021-11-04 19:45] wdet30 commented on #14
Got it, support sidebar! Noted as remove white box on support sidebar. In que

[2021-11-04 19:45] metastange commented on #14
This was an issue across all sidebars, not just support, but I just wanted to prvide an apples to apples comparison

[2021-11-04 19:49] wdet30 commented on #14
So you want another color besides white behind the sidebar?

[2021-11-04 19:56] wdet30 commented on #14
@metastange, here is the latest update where we are on styling and CSS. I will have more for you when we meet on Friday.

Pleased see the CSS Tab for updates on #14 #30 [Link to DOC](https://docs.google.com/spreadsheets/d/1Mn3GE9EvKJ2Mokv0kmrI4HsnmTZu_zTXYrq8uK150sw/edit#gid=116921514)

[2021-11-04 19:57] metastange commented on #14
Yes, ideally, I would like it to be as similarly styled to the current site as possible.

Screenshot below and here's the hex: #dedede

![Screen Shot 2021-11-04 at 3 50 39 PM](https://user-images.githubusercontent.com/85897115/140410627-d054c1fd-09ec-49f0-9df4-95e5f4f6f07a.png)

[2021-11-04 20:03] wdet30 commented on #14
That's going to be tuff to pull off.  I will get back to you on this.

________________________________
From: metastange ***@***.***>
Sent: Thursday, November 4, 2021 3:57 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Style & Layout (#14)

[EXTERNAL]

Yes, ideally, I would like it to be as similarly styled t

[2021-11-04 20:04] metastange commented on #14
Did I misunderstand this question? I don't think I understand what information you're looking for. Let's add this to the agenda for tomorrow, please.

[2021-11-04 20:13] metastange commented on #59
Ok, "revision history" only shows up if there actually IS a revision history (which there isn't for most of the posts I've been reviewing since they're being transferred over) which is why I didn't see that before.

That tool should be sufficient, but does not show a revision history for the post that started it all in issue #41 , but I'm willing to just chalk that up to a weird mystery.

[2021-11-04 20:16] artlogic commented on #59
Does changing author info create a new revision? What about categories, or tags? Other metadata?

[2021-11-04 20:18] metastange commented on #61
So that means we're not able to add contact, links or social info either, correct? Those should be manually added to each page?

[2021-11-04 20:22] metastange commented on #23
What makes this a non-standard field? It's built-in to the CMS, I was just looking for clarification as to whether it would show up on the theme we selected.

I also just tested it with #detroit and it appears that the description field DOES show up. This is good to know, as it's an opportunity to provide context to grouped content without creating a whole new series/show/topic.

Here's the backen

[2021-11-04 20:25] wdet30 commented on #61
Nope, need to be in the body. Section need to be created to accommodate.

Tony

________________________________
From: metastange ***@***.***>
Sent: Thursday, November 4, 2021 4:18:18 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Author ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Host info & showtimes in sidebar discontinued (Issue #61)

[EXTERNAL]

So that m

[2021-11-04 20:26] metastange commented on #55
Adding these updates here:

Here is the working donation module: https://layout.wdet.org/wp-admin/post.php?post=23757&action=elementor

Waiting on one outstanding change - updating the "Give Now" text to white. Once that is done, templates for each iteration can be created using the copy above.

[2021-11-04 20:50] artlogic commented on #59
I just verified changing categories, tags, and authorship information does not appear to create a new revision. I would assume changing any content outside the main post body and excerpt doesn't create a revision. Additionally changing tag descriptions, category descriptions, authors, users, media, etc... don't seem to be tracked as well.

@metastange can you confirm none of this is needed in the

[2021-11-04 20:53] metastange commented on #14
**Shows**
- Detroit Today
- CultureShift
- Ann Delisi's Essential Music
- Don Was Motor City Playlist
- Modern Music
- The Progressive Underground
- This Island Earth
- All Things Considered
- Morning Edition
- View all shows

**Podcasts**
- MichMash
- CuriosiD
- Ann Delisi's Essential Cooking
- Science of Grief
- View all podcasts

[2021-11-04 20:55] metastange commented on #59
@dorothyhernandez FYI on the above.

[2021-11-04 21:03] artlogic commented on #44
Author issues you are seeing appear to be because someone (@wdet30?) turned off the authors plugin for all posts, defaulting back to the default WordPress single author infrastructure. I would get that feature turned back on and then see if the the problems with authors persist.

I'm looking into the other issues currently.

[2021-11-04 21:29] wdet30 commented on #44
James please turn them back on.  I'm AFK.

Thanks Tony
________________________________
From: James Kruth ***@***.***>
Sent: Thursday, November 4, 2021 5:03:50 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Review Post Import (#44)

[EXTERNAL]

Author issues you are seeing appear to be because someone ***@***

[2021-11-05 05:32] artlogic commented on #44
I have re-enabled multiple authors for posts. It looks like many of the spot checked posts have lost authorship information and I'm not sure why (this is where an audit log would be handy). On my system, these posts have the correct authors. We should definitely re-check these on re-import. Let me know if it's not clear how to modify author information on posts now that the plugin is re-enabled.

[2021-11-05 06:04] artlogic commented on #44
I've looked into the thumbnail issue and it looks as if the import process is VERY sensitive to the admin being used during the import - even just to view things. I'm going to open a new issue to add some extra safeguards to make sure this doesn't happen, but we'll want to check against the next import.

[2021-11-05 06:08] artlogic opened #62 "Increment post_ids by more than 1"
This should resolve the issue with mismatched thumbnails - it will need some testing.

[2021-11-05 06:27] artlogic opened #63 "Series and Show Linking Review"
I want to verify the following situation is intended and acceptable:

Here's an example of a post that is linked to a show: https://wdetcms.wdet.org/2021/10/19/black-is-beautiful-exhibition-at-detroit-institute-of-arts-highlights-1960s-cultural-movement/

The show link is listed at the top (CultureShift). When you click on it, you end up at the category page, here: https://wdetcms.wdet.org/categor

[2021-11-05 06:41] artlogic commented on #44
I've reviewed the post time issue and I've discovered a bug in time zone handling in the import. I will open a new issue to fix it.

[2021-11-05 06:51] artlogic opened #64 "Publish times are being offset incorrectly"
The old CMS publish times appear to be in Eastern time, however the importer is not interpreting them correctly - for example:

Post: Detroit Police Officer Suspended After Fleeing from Fellow Officers During Traffic Stop
Published on 2021-09-16 16:26:04

[code]

The non UTC dates are being offset as I would expect UTC to be, and the UTC posts are offset by double.

[2021-11-05 12:36] wdet30 commented on #63
Checking

________________________________
From: James Kruth ***@***.***>
Sent: Friday, November 5, 2021, 2:27 AM
To: arsmentis/wdet-conversion
Cc: Tony Brown; Assign
Subject: Re: [arsmentis/wdet-conversion] Series and Show Linking Review (Issue #63)

[EXTERNAL]

Assigned #63<https://github.com/arsmentis/wdet-conversion/issues/63> to @wdet30<https://github.com/wdet30>.

—
You are receiving this be

[2021-11-05 14:15] wdet30 commented on #64
@artlogic, make sure you have the time zone set properly in WordPress before you import. I hope this helps.
https://wdetcms.wdet.org/wp-admin/options-general.php

[2021-11-05 14:17] wdet30 commented on #59
@metastange @artlogic , I have tested a few Audit Plugins. I can impalement over the weekend. Please advise what site should this be setup on?

I hope this helps.

[2021-11-05 14:24] wdet30 opened #65 "Dropdown Menu on Navigation"
Here is the list for the dropdown menu @metastange

Shows

Detroit Today
CultureShift
Ann Delisi's Essential Music
Don Was Motor City Playlist
Modern Music
The Progressive Underground
This Island Earth
All Things Considered
Morning Edition
View all shows
Podcasts

MichMash
CuriosiD
Ann Delisi's Essential Cooking
Science of Grief
View all podcasts

[2021-11-05 14:26] metastange commented on #44
Thank! The author modification process is clear now that the plugin has been reenabled.

[2021-11-05 14:58] wdet30 commented on #14
@metastange, I'm moving the request for Dropdown Menu on Navigation #65 feature request

[2021-11-05 15:04] wdet30 commented on #65
@metastange, This has been implemented.  I notice there is a white background and the text does not show until you hover. This may have to be rolled back until post launch.

https://layout.wdet.org/

[2021-11-05 15:57] artlogic commented on #63
I'll set up an experimental redirect and from the category page to the static show page and we'll see if this is a good solution.

[2021-11-05 16:05] artlogic commented on #59
I would say it should be setup on the layout site - and likely this is not terribly high priority.

[2021-11-05 16:25] metastange commented on #42
Closing the loop on one of the above: Not concerned about the lack of tags on the assets during the import.

[2021-11-05 16:26] #38 closed

[2021-11-05 16:29] #35 closed

[2021-11-05 16:31] #23 closed

[2021-11-05 16:35] metastange commented on #14
- [ ] Add SEARCH to Nav

[2021-11-05 16:53] metastange opened #66 "Tagging Best Practices - Training"
Can you advise on guidelines for tagging for content creators? The old site was all over the place. Do they need to include any quotation marks, #, etc? Any insight you can provide so we can integrate that into training would be great.

[2021-11-05 17:26] wdet30 commented on #4
Working on this.

[2021-11-05 17:48] wdet30 commented on #65
Ad search to Nav

[2021-11-05 17:51] wdet30 commented on #65
@metastange, the search has been added to the nav bar.

[2021-11-05 17:54] artlogic commented on #7
This has been resolved, but is pending the next import to be verified and closed.

[2021-11-05 17:56] wdet30 opened #67 "Font Breakdown"
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Gotham SSm A", "Gotham SSm B", "Gill Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #272727;
}

.site-header {
  font-family: "Gotham SSm A", "Gotham SSm B", "Gill Sans", Helvetica, Arial, sans-serif;
}

"Source Sans Pro", "Gill Sans", Helvetica, Arial, sans-serif;

body {
    font-fami

[2021-11-05 18:16] artlogic opened #68 "Authors are being duplicated at the bottom of articles"

[2021-11-05 18:17] artlogic commented on #63
I will create a few tests on wdetcms to see if we can use redirects to bypass category pages entirely.

[2021-11-05 18:30] wdet30 commented on #63
I'm wondering how that's going to affect pulling data from those categories into side bars grids and modules not limited to RSS feeds.

TB
________________________________
From: James Kruth ***@***.***>
Sent: Friday, November 5, 2021 2:18:08 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Series and Show Linki

[2021-11-05 19:50] wdet30 commented on #68
@artlogic, I have no idea why this is happing. Can you debug a little more and advise?

TB

[2021-11-05 19:52] artlogic opened #69 "Assets: bring credit and license URL into description"
Change the import so that the credit field is used as the link text and the source/license is used as the href.

[2021-11-05 19:53] artlogic opened #70 "Show media descriptions for featured images"
Related to #69

[2021-11-05 19:55] artlogic commented on #42
I created issue #69 for dealing with the source/license URLs

[2021-11-05 19:58] artlogic opened #71 "Inline image captions are missing"
Example here:
* https://wdet.org/posts/2021/09/16/91429-amending-the-us-constitution-is-easier-said-than-done/
* https://wdetcms.wdet.org/2021/09/16/amending-the-u-s-constitution-is-easier-said-than-done/

[2021-11-05 20:07] artlogic commented on #71
It appears there's no real point in importing these images to the media library because wordpress doesn't seem to pull captions automatically from media, but rather it's pulling upon insert to the post. This means that captions need to be pulled and inserted into post bodies. Not cool WordPress 😠.

@wdet30 - can you mock up what inline image captions should look like and I can see if I can import

[2021-11-05 20:12] wdet30 commented on #71
@artlogic , I just updated this post.

https://wdetcms.wdet.org/2021/09/16/amending-the-u-s-constitution-is-easier-said-than-done/

[2021-11-05 20:12] artlogic commented on #71
Dug deeper - the captions are actually already in the source! Looks like this is a theming issue. Here's what I'm seeing:

https://wdetcms.wdet.org/2021/09/16/amending-the-u-s-constitution-is-easier-said-than-done/

If we look at the source around the first inline image, it looks like this:

[code]

You can see that the caption is there - it will just need to be made visible with some JavaScript.

[2021-11-05 20:13] wdet30 commented on #71
Not sure how to implement the JS.
T

[2021-11-05 20:14] artlogic commented on #71
It pretty much had to have been JS on the old site. I would start by looking there and seeing if something is easy to reuse.

[2021-11-05 20:14] artlogic commented on #68
Will do - but this'll be hourly, FYI.

[2021-11-05 20:15] wdet30 commented on #68
Sounds good to me.

TB
________________________________
From: James Kruth ***@***.***>
Sent: Friday, November 5, 2021 4:14 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Authors are being duplicated at the bottom of articles (Issue #68)

[EXTERNAL]

Will do - but this'll be hourly, FYI.

—
You are receiving th

[2021-11-05 20:17] wdet30 commented on #71
Same here if you want to make a fix I'm ok with that. Please feel free to bill us for the service.

T
________________________________
From: James Kruth ***@***.***>
Sent: Friday, November 5, 2021 4:14 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Inline image captions are missing (Issue #71)

[EXTERNAL]

It

[2021-11-05 20:17] artlogic commented on #71
OK - I can look into writing a bit of JS to do this - you are OK with the mockup you made on the linked post? That's how it should look?

[2021-11-05 20:18] wdet30 commented on #71
We are looking for the image credit yes.

TB
________________________________
From: James Kruth ***@***.***>
Sent: Friday, November 5, 2021 4:18 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Inline image captions are missing (Issue #71)

[EXTERNAL]

OK - I can look into writing a bit of JS to do this - you a

[2021-11-05 20:59] wdet30 opened #72 "Dealing with #11 #14 lead in & Metadata"
@artlogic,
It looks like the solution is custom fields WordPress? This applies to both of #11  & #12 . My goal is to have James map both sets of data to separate custom fields in WordPress post. I will try to do an easy **<hr> bold style** for the lead-in. I'm not sure what the audio meta data will look like.

First, I'm hoping you can pull the data in so I can investigate:
Do I need any additiona

[2021-11-05 22:15] artlogic commented on #72
I already pull custom fields into WordPress for the author plugin. It's trivial. But I can't pull in custom fields that I don't know the names of. Are you asking for me to make the decisions here?

Additionally - why do we need a custom field for lead ins? Can't we just use `the_excerpt()` - https://developer.wordpress.org/reference/functions/the_excerpt/ - do you need help getting that themed in?

[2021-11-05 22:24] wdet30 commented on #72
Yes please,

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Friday, November 5, 2021 6:15:41 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Dealing with #11 #14 lead in & Metadata (Issue #72)

[EXTERNAL]

I already pull custom fields into W

[2021-11-05 22:25] artlogic commented on #11
These should be pulled in via https://developer.wordpress.org/reference/functions/the_excerpt/ - I'll see about doing the theming here.

[2021-11-05 22:28] artlogic commented on #72
I'm going to close this issue, and move conversation to #4 because I think #11 is basically a theming issue at this point.

[2021-11-05 22:28] #72 closed

[2021-11-05 22:29] artlogic commented on #4
@wdet30 is thinking we'll do a custom field for this. I'll investigate how custom fields work, decide on a name, set up the import and do some basic theming. It'll probably be 8-12 hours of time.

[2021-11-05 22:31] wdet30 commented on #4
What works best

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Friday, November 5, 2021 6:29:57 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] How to transition post metadata audio player? (#4)

[EXTERNAL]

@wdet30<https://github.com/wdet

[2021-11-05 22:31] wdet30 commented on #4
Yes thanks

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Tony Brown ***@***.***>
Sent: Friday, November 5, 2021 6:31:44 PM
To: arsmentis/wdet-conversion ***@***.***>; arsmentis/wdet-conversion ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] How to transition post metadata audio player? (#4)

What works best

Get Outlook for A

[2021-11-05 22:35] artlogic commented on #70
Looks like this might help: https://napitwptech.com/tutorial/wordpress-development/display-image-caption-added-wordpress/

[2021-11-05 22:40] wdet30 commented on #70
Like this

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Friday, November 5, 2021 6:35:38 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Show media descriptions for featured images (Issue #70)

[EXTERNAL]

Looks like this might help: https

[2021-11-05 23:09] artlogic commented on #69
@metastange I want to tag you here because this will result in a training issue - instead of having discrete fields, your authors will need to be adding proper HTML to asset descriptions, like so:

[code]

[2021-11-06 00:17] wdet30 commented on #70
@artlogic , what do you think of this plugin?
https://wordpress.org/plugins/fsm-custom-featured-image-caption/ will this do the job?

[2021-11-06 00:22] artlogic commented on #70
You'd have to test it. It's unclear how it will work for featured images.

[2021-11-06 00:32] wdet30 commented on #70
ok will test get back to it Sunday am

[2021-11-06 04:57] artlogic commented on #4
@wdet30 I won't be able to run another import until this is solved. I plan to work on it Saturday. Please let me know if you have any plans to work on this.

[2021-11-06 05:22] wdet30 commented on #4
I can't get on it til Sunday morning.

Thoughts?

________________________________
From: James Kruth ***@***.***>
Sent: Saturday, November 6, 2021, 12:57 AM
To: arsmentis/wdet-conversion
Cc: Tony Brown; Mention
Subject: Re: [arsmentis/wdet-conversion] How to transition post metadata audio player? (#4)

[EXTERNAL]

@wdet30<https://github.com/wdet30> I won't be able to run another import until this

[2021-11-06 16:16] artlogic commented on #4
I'll be looking for a solution today.

[2021-11-06 16:24] artlogic commented on #69
I believe there's a plugin that will allow us to handle this in a way that's closer to the old CMS: https://www.advancedcustomfields.com/

I'll be investigating this today.

[2021-11-07 19:02] artlogic commented on #69
It looks like that plugin does allow us to have discrete fields. I'm working on getting this setup today.

[2021-11-08 13:42] metastange commented on #69
Will the plugin eliminate the need for us to put HTML in the asset description? No worries either way, just trying to keep my training notes straight.

[2021-11-08 14:55] wdet30 commented on #66
@metastange, we don't need to add the #hastag or quotes when tagging in WordPress. But, please stress that you should search for a tag before creating a new one.  Tags can easily search or created using the tag field in a post on the right hand side when you are editing or creating a post.

More Info on Tags in Wordpress:
Tags are much more specific topics that you want to use to associate related

[2021-11-08 16:02] wdet30 commented on #67
@metastange , it look like the font type issues has been resolved. Would you please give a look and note any Font type issues?

Here is what is coded:
(Headers)
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
 "Gotham SSm A", "Gotham SSm B", "Gill Sans", Helvetica, Arial, sans-serif;

Body
body (p)
"Source Sans Pro", "Gill Sans", Helvetica, Arial, sans-serif;

Right now only looking at the fo

[2021-11-08 16:05] wdet30 commented on #3
I'm reopening this. I will need to redesign and style the footer. I'm getting to many errors in the transfer of the footer from the old site.
I'm redoing footer.php

[2021-11-08 17:19] artlogic commented on #69
Yes - the plugin will create an interface that's similar to the current CMS. It should be a fairly easy transition.

[2021-11-08 17:37] artlogic opened #73 "Get dev server setup with vanilla WordPress"
Should be done by the 12th.

[2021-11-08 18:15] metastange opened #74 "Lightboxes + Notification Bar"
@wdet30 Can you provide insight about what features on the new site will be similar to the lightboxes/notification bar on our current site?

[2021-11-08 18:16] wdet30 opened #75 "New Site Features"

[2021-11-08 18:28] artlogic commented on #63
@metastange @wdet30  I've added a CultureShift redirect on the WDETCMS site. Please take a look and if this works properly, it should be trivial to add the rest, and it could even be automated. Let me know what you find and I'll explain the full plan once I hear back.

[2021-11-08 19:13] wdet30 commented on #63
ok

________________________________
From: James Kruth ***@***.***>
Sent: Monday, November 8, 2021 1:32 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Series and Show Linking Review (Issue #63)

[EXTERNAL]

How does the link go from category to page or vise versa?

Look at the series / show redirect group.

—

[2021-11-08 19:34] wdet30 commented on #63
@artlogic Working great on site and we are good no issues on the redirects.
Link to RSS feed for category
https://layout.wdet.org/category/shows/cultureshift/rss

[2021-11-08 19:41] artlogic commented on #63
Does the rss still work on CMS?

[2021-11-08 19:49] wdet30 commented on #63
Yep working great:

https://wdetcms.wdet.org/category/shows/cultureshift/feed/

https://wdetcms.wdet.org/category/shows/cultureshift/RSS

[2021-11-08 20:47] metastange commented on #67
@wdet30 I'm not seeing font changes on my end; the headers are not gotham. Do I need to do anything different to see the updates?

[2021-11-08 20:49] metastange commented on #63
Redirect is working for me when I test it on the front-end.

[2021-11-08 20:55] wdet30 commented on #67
Ok thanks for the update. I will hope can resolve this Tuesday.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: metastange ***@***.***>
Sent: Monday, November 8, 2021 3:47:55 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Font Breakdown (Issue #67)

[EXTERNAL]

@wdet30<

[2021-11-09 01:10] artlogic commented on #63
Here's the plan moving forward then:

* I'll make several changes to the import:
   * Stop populating category descriptions
   * Stop redirecting old shows and series to new category pages - but continue to do that with topics
   * Create a new set of redirects that redirect from category pages for series and shows to the old links (essentially the reverse of what I do now).
* I need @wdet30 to ma

[2021-11-09 01:42] wdet30 commented on #63
Absolutely and it'll be the first thing I do in the morning get all those URL set. I actually think I'm good there. But I'll double check and verify.

Thanks

________________________________
From: James Kruth ***@***.***>
Sent: Monday, November 8, 2021 8:10:23 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] S

[2021-11-09 14:00] wdet30 opened #76 "Layout Site Down until 2pm Today"
Hello @artlogic & @metastange, my version 1.2 has gotten buggy once I stared to work on fonts and the footer. I will be doing a rebuild of the layout site today until 2pm today.

You can still edit content but the layout will change 3 times.

Thanks, Tony

[2021-11-09 18:16] wdet30 commented on #76
Sit back up

[2021-11-09 18:16] #76 closed

[2021-11-09 18:20] wdet30 commented on #74
The breaking news feature will be the new notification bar. We can turn on off or change message at your discretion. The lightbox I'm down to 3 will have that installed on Thursday.

[2021-11-09 22:01] wdet30 opened #77 "Help moving theme back to layout"
@artlogic , would you please remove the theme "TonyNews12" from https://layout.wdet.org and replace it with the copy that is on https://wdetcms.wdet.org

Please let me know when done.

Thanks, T

TB

[2021-11-09 22:09] wdet30 commented on #3
@metastange & @artlogic, I'm going to use the native WorPress footer. The footer PHP from the old site it becoming a major setback.

This should be completed Thursday.

[2021-11-10 06:42] artlogic commented on #77
I don't see a theme called TonyNews12 - here's what I see:

[code]

[2021-11-10 13:24] wdet30 commented on #77
@artlogic,  thanks I'm not sure how it was removed. Do you see a version in the CMS?

Thanks T

[2021-11-10 13:39] wdet30 commented on #67
@artlogic @metastange the font issues has been resolved. Please see the attached screen shots on what's computed on my end.
![font2](https://user-images.githubusercontent.com/84190532/141123124-cb2b684f-0579-41fe-a767-619e238af13c.png)
![Font1_](https://user-images.githubusercontent.com/84190532/141123381-63bc0f95-c2ec-4dca-a183-54075c9c3f58.jpg)

[2021-11-10 13:40] #77 closed

[2021-11-10 13:41] wdet30 commented on #61
Closing this.

[2021-11-10 13:41] #61 closed

[2021-11-10 13:52] metastange commented on #67
What do I need to do to see this on my end? Still not populating on the front-end for me.

[2021-11-10 14:00] metastange commented on #67
Cleared my history, checked in an incognito browser and still no dice.

@dorothyhernandez can you check this one on your end too?

[2021-11-10 14:10] metastange commented on #27
I've reviewed and cleaned up the staff page - i'd like to rebuild it to be a little more spiffy, but that can be done post-launch.

[2021-11-10 14:11] wdet30 commented on #67
@artlogic, would you please check what fonts are loaded on layout and show what you are computing.

Thanks,

[2021-11-10 14:12] wdet30 commented on #27
Rebuilt on live site?
________________________________
From: metastange ***@***.***>
Sent: Wednesday, November 10, 2021 9:10 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; State change ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Dealing with People / Staff Page (#27)

[EXTERNAL]

I've reviewed and cleaned up the staff page - i'd like to rebuild it to be a litt

[2021-11-10 14:13] metastange commented on #27
Yes. Can go live as-is though, that's not a pressing project (and is just because I'm seeing all that Elementor can do so think we can make it look a lot nicer!)

[2021-11-10 14:16] metastange commented on #4
Any update on this front?

[2021-11-10 14:29] wdet30 commented on #4
I will get the plugin working tonight.

TB
________________________________
From: metastange ***@***.***>
Sent: Wednesday, November 10, 2021 9:16 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] How to transition post metadata audio player? (#4)

[EXTERNAL]

Any update on this front?

—
You are receiving this b

[2021-11-10 16:52] metastange commented on #50
@wdet30 - I've reformatted all podcast landing pages and made the bulk of the styling/content QA updates listed in the doc. Anything highlighted in RED is what I need additional assistance from you on (mainly adding players and content blocks). Yellow highlights are Dave's deliverables and can be added post-launch.

https://docs.google.com/spreadsheets/d/1Mn3GE9EvKJ2Mokv0kmrI4HsnmTZu_zTXYrq8uK150s

[2021-11-10 19:43] metastange commented on #55
All donation modules have been updated to the correct format and copy. The only outstanding issue is updating the "Give Now" text to white (not a show-stopper).

[2021-11-10 19:49] wdet30 commented on #55
Sweet, thanks for the update
________________________________
From: metastange ***@***.***>
Sent: Wednesday, November 10, 2021 2:43 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Donation Module Copy (Issue #55)

[EXTERNAL]

All donation modules have been updated to the correct format and copy. The only outst

[2021-11-10 21:30] metastange opened #78 "Training - How to Add an Anchor Link to Jump to a Specific Part of a Page"
Clarify process for adding an in-post anchor. Example can be found on the current site here: https://wdet.org/posts/2021/11/02/91651-michigan-november-2-election-results/

[2021-11-10 21:33] metastange opened #79 "Image Captions"
We are using the credit field in the media metadata for image credit. Need to figure out a solution to adding captions to images in specific posts (not across the entire site).

Example: https://wdet.org/posts/2021/09/10/91406-xiao-dong-weis-livonia-home-is-a-celebration-of-music-and-chinese-culture/

This might be related to #71 ; adding @artlogic in case!

[2021-11-10 21:35] metastange opened #80 "Training - Featured posts"
Posts are featured on the homepage based on stickiness and post times; need to determine what happens to "sticky" posts if there are more "sticky" posts than featured spots; on current site, they are hidden from the homepage (which we do not want).

[2021-11-10 21:37] metastange commented on #4
This issue came up during discussion about newsroom training: We want audio players to display below the headline and above the featured image, as they do on the current site, in order to encourage play conversion. We need to figure out how this works so we can train content staff.

Tony looking into plugins but needs approval from Jowana.

[2021-11-10 21:38] metastange opened #81 "Format - Thumbnails"
Need to decide thumbnail format and implement into training/review process.

Would like to come up with a solution based on homepage conversation on 11/11.

[2021-11-10 23:20] artlogic commented on #75
What is this?

[2021-11-11 00:47] artlogic commented on #79
@metastange you can use the caption field in WordPress - go ahead and try this out and see how if it works as you'd expect.

[2021-11-11 00:57] artlogic commented on #4
I'm not sure if we need a plugin beyond ACF (and not the pro version). I'll see if I can get a demo.

[2021-11-11 00:59] wdet30 commented on #4
ACF probably can do both.

Get as far as you can with Demo. I will have full first thing tomorrow. Does that work?

________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, November 10, 2021, 7:57 PM
To: arsmentis/wdet-conversion
Cc: Tony Brown; Mention
Subject: Re: [arsmentis/wdet-conversion] How to transition post metadata audio player? (#4)

[EXTERNAL]

I'm not sure if w

[2021-11-11 01:01] artlogic commented on #4
Works for me.

[2021-11-11 08:07] artlogic commented on #4
Here's an example of the audio being added to a post: https://wdetcms.wdet.org/2021/10/19/michigan-gop-lawmakers-pass-legislation-that-would-create-tax-credits-for-donors-giving-to-scholarship-programs/

Add the following below the `post-meta` div in `template-parts/post/content-parts/content-single.php`

[code]

[2021-11-11 08:09] artlogic commented on #4
The import will require the creation of the custom field, as well as the custom field to be added to each post as required.

[2021-11-11 13:33] metastange commented on #79
Sorry, I misspoke in my original post - the _caption_ field in the media library is being used for image credit and applies to the media sitewide. We need a solution to include individualized image captions that are specific to the post/content.

[2021-11-11 15:13] artlogic commented on #79
The caption field will not be used for image credits on the next import.

I believe you are able to edit/create a caption when you add an image to a post. Have you tried this?

[2021-11-11 15:24] metastange commented on #51
All content/formatting updates have been made. I'm just waiting on assets for Community of Hope, but otherwise we're good to go on our end. @wdet30 I just need you to add the related content blocks. Open items highlighted in red in the QA doc:

https://docs.google.com/spreadsheets/d/1Mn3GE9EvKJ2Mokv0kmrI4HsnmTZu_zTXYrq8uK150sw/edit#gid=1753176895

[2021-11-11 15:29] metastange commented on #79
They'll still be audience-facing though, correct?

That was the point of this ticket - @wdet30 was not immediately able to demonstrate how to do this during training. I will look into it further/experiment later.

[2021-11-11 18:55] #66 closed

[2021-11-11 18:56] metastange opened #82 "Consolidating Tags"
@wdet30 to explore potential plugins to merge duplicative tags.

[2021-11-11 18:57] metastange opened #83 "Categories Search Function"
Make "Categories" a searchable field (like tags) on the backend.

[2021-11-11 19:37] metastange commented on #11
Have we found a theming solution on this front?

[2021-11-11 19:38] artlogic commented on #11
I'll have something for you in about 30 minutes.

[2021-11-11 21:42] artlogic commented on #11
@metastange how's this? https://wdetcms.wdet.org/2021/10/19/economic-historian-details-how-central-banks-helped-evade-financial-collapse-in-2020/

@wdet30 Add the following below the `entry-content` div in `template-parts/post/content-parts/content-single.php`:

[code]

[2021-11-11 21:43] artlogic commented on #4
@metastange waiting for you to review - I'm sure you'll want some style changes - also please review the process of adding featured audio to a post

[2021-11-11 21:44] artlogic commented on #11
This could likely be done more cleanly by adding a filter to `the_content`

[2021-11-11 21:45] artlogic commented on #4
It's possible we could avoid the theme override by adding a filter to `the_title`.

[2021-11-11 22:04] metastange commented on #11
looks good to me!

[2021-11-11 22:11] metastange commented on #4
Sorry, this one completely slipped by me.

Can we make the player the full width of the post? Otherwise it's fine with me.

Re: The process - the process is perf. I just did a test post and uploaded audio and it was simple and similar to the workflow the team is already used to. I also like that the audio will be stored in the media library (right now if you upload the audio tot the post, it's not

[2021-11-11 22:19] metastange commented on #79
Figured this out and will add to training documentation - I still have a question about how credit will be displayed; In the example linked above, the first inline photo has both a credit and a caption. @artlogic, when you import the credits, is this how it will function on the new site as well?

[2021-11-11 22:21] metastange commented on #67
Just came across something weird - the fonts still aren't populating correctly for me on the site, but when i copied and pasted something into a doc, it was the correct font. Not sure if this information helps diagnose the problem, just wanted to let you know!

[2021-11-11 22:22] wdet30 commented on #67
Thanks for this information.

________________________________
From: metastange ***@***.***>
Sent: Thursday, November 11, 2021, 5:21 PM
To: arsmentis/wdet-conversion
Cc: Tony Brown; State change
Subject: Re: [arsmentis/wdet-conversion] Font Breakdown (Issue #67)

[EXTERNAL]

Just came across something weird - the fonts still aren't populating correctly for me on the site, but when i copied and pas

[2021-11-11 22:26] artlogic commented on #79
That's the plan. I will attempt to set up a demo tonight.

[2021-11-12 07:55] artlogic commented on #4
@wdet30

I think we just need to set `<audio>` tags to `width: 100%` here. Any objection?

[2021-11-12 18:55] wdet30 opened #84 "Duplicate page urls from old site - Verify"
Note to self. Make sure the page urls match the same on new site as old site.

[2021-11-12 18:57] wdet30 commented on #78
@dorothyhernandez, are you guys codding the HTML for the anchor text into the post? How are you doing it now?

Thanks, T

[2021-11-12 21:14] artlogic commented on #11
Here's the clean way to do this - add the following to `functions.php`:

[code]

[2021-11-12 21:16] wdet30 commented on #11
Make we add to child theme functions.php Not the base theme.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Friday, November 12, 2021 4:15:01 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Lead-ins (#11)

[EXTERNAL]

Here's the clean way

[2021-11-12 21:18] artlogic commented on #11
Yes, exactly.

[2021-11-12 21:30] artlogic commented on #4
@wdet30

Note that you'll need to add the following CSS to the child theme css:

[code]

@metastange Please take a look and make sure we're good: https://wdetcms.wdet.org/2021/11/11/audio-test/

[2021-11-12 22:18] wdet30 commented on #4
@artlogic All Good on the header audio css.

[2021-11-12 22:29] wdet30 commented on #4
@ line 57

[2021-11-12 22:33] artlogic commented on #4
I will be using a filter for this, please hold

[2021-11-13 06:11] artlogic commented on #4
@wdet30 unfortunately I can't do this with a filter, so we'll need to use the override as documented above.

[2021-11-13 06:20] artlogic commented on #68
@wdet30

Partial fix: turn off "Show single post author bio?" in Single Blog Settings for the theme.

[2021-11-13 06:26] artlogic commented on #68
Actually that's a total fix - along with making sure only one Authors plugin is installed. There were two installed on the CMS site. I disabled one.

@wdet30 - assigning to you. I don't think I have anything else to do here.

[2021-11-13 06:28] artlogic commented on #3
I'm unassigning myself and untagging import issue as this doesn't have anything to do with me or the import process.

[2021-11-13 06:36] #62 closed

[2021-11-13 06:38] wdet30 commented on #3
Nope

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Saturday, November 13, 2021 1:28:39 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; State change ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Site Footer. (#3)

[EXTERNAL]

I'm unassigning myself and untagging import issue as this doesn't h

[2021-11-13 06:38] wdet30 commented on #68
One is the base version and the other is the pro version which unlocks all the features.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Saturday, November 13, 2021 1:26:46 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Authors are being d

[2021-11-13 06:40] artlogic commented on #67
Could I get some clarification on what you need me to confirm?

[2021-11-13 06:42] wdet30 commented on #67
Can you let me know what fonts are being called into your browser on the headers and the paragraph what are you actually computing

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Saturday, November 13, 2021 1:40:51 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; State change ***@***.***>
Subject: Re:

[2021-11-13 06:42] artlogic commented on #68
Well I uninstalled the base version and it's still working OK for me.

[2021-11-13 06:43] wdet30 commented on #68
Yep I think you just need to deactivate it but if it's working fine. Sometimes those base versions need to be on the server but not activated but if it's working we are good.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Saturday, November 13, 2021 1:42:25 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.*

[2021-11-13 06:51] artlogic commented on #68
No need to keep the free version on the server. Deactivated plugins are still a liability.

[2021-11-13 06:57] wdet30 commented on #68
Okay

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Saturday, November 13, 2021 1:51:35 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Authors are being duplicated at the bottom of articles (Issue #68)

[EXTERNAL]

No need to keep the fre

[2021-11-13 07:03] artlogic commented on #67
I'm not seeing a problem with the computed fonts, but I don't think everyone will have those specific fonts available.

[2021-11-13 07:04] wdet30 commented on #67
Copy,
Thanks
________________________________
From: James Kruth ***@***.***>
Sent: Saturday, November 13, 2021 2:03:20 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; State change ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Font Breakdown (Issue #67)

[EXTERNAL]

I'm not seeing a problem with the computed fonts, but I don't think everyone will have those specif

[2021-11-13 21:49] artlogic commented on #11
I don't believe I have anything more to do here. Removing my assignment - this one's all on you now @wdet30

[2021-11-15 01:47] wdet30 commented on #83
@metastange, this has been completed. Please see the attached image for location.
![number_83](https://user-images.githubusercontent.com/84190532/141709671-d661e9c1-e13c-4a35-8c76-424223575e5d.png)

TB

[2021-11-15 01:47] #83 closed

[2021-11-15 02:06] wdet30 commented on #78
There are many ways to do this in WordPress. You can do continue to do so like you did on the old site, or use one of the options below.

Option 1:
[https://layout.wdet.org/2021/11/14/how-to-manually-add-anchor-link-in-classic-editor/](https://layout.wdet.org/2021/11/14/how-to-manually-add-anchor-link-in-classic-editor/)

Option 2:
[https://www.w3docs.com/snippets/html/how-to-create-an-anchor-link

[2021-11-15 02:06] #78 closed

[2021-11-15 13:58] metastange commented on #78
@wdet30 we are not currently coding HTML for anchor text in posts; continuing to do what we do on the old site does not appear to be an option, so we will consider the options provided above. Thanks.

[2021-11-15 14:02] metastange commented on #83
Awesome, thanks!

[2021-11-15 14:05] metastange commented on #79
Checking the status on this issue. Looking for clarity about what field content creators should be adding their photo credit too; we're launching training this week so the sooner I can get that info, the better.

[2021-11-15 14:08] wdet30 commented on #74
Let my know what specs you want to use it's a universal lightbox.

Just just making image and I will be able to turn it into a light box. Provide me the image that you're looking to Popup.

________________________________
From: metastange ***@***.***>
Sent: Monday, November 15, 2021 9:04:27 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re:

[2021-11-15 16:33] artlogic commented on #79
Unfortunately I lost access to the VPN over the weekend and haven't been able to do the work needed to complete this. As soon as I regain access, I'll get this going. Hopefully this evening.

[2021-11-15 16:34] artlogic commented on #79
@metastange one additionally piece of info - it will be a custom field - I will get that part setup now at least.

[2021-11-15 16:42] artlogic commented on #79
@metastange Please try to edit a media item on wdetcms and you should see the new fields - let me know if anything needs to change - I would try a few different variations on how you normally do credit.

[2021-11-15 17:43] metastange commented on #79
@artlogic I'm seeing the new fields (and the process is perfect!) but they are not populating on the front-end. I tried inputting images both in-line and as the thumbnail and am not seeing the credit.

[2021-11-15 17:45] artlogic commented on #79
I can't populate the front end until I regain server access. Hopefully soon
here.

- James

On Mon, Nov 15, 2021, 12:43 metastange ***@***.***> wrote:

[2021-11-15 17:45] metastange commented on #79
oh got it; well the backend is perf, thank you!

[2021-11-15 19:37] wdet30 opened #85 "Update pages from doc - Test"
@Jazzyhunt, this is test.

- [ ] update pages on doc
- [ ] update images where need

[2021-11-15 19:41] wdet30 commented on #85
Here is the doc.
https://docs.google.com/spreadsheets/d/1Mn3GE9EvKJ2Mokv0kmrI4HsnmTZu_zTXYrq8uK150sw/edit#gid=1308127726

[2021-11-15 19:51] wdet30 opened #86 "Support module needs to be updated (content and style)"
Hoping to have this done on Thursday. @metastange

[2021-11-15 19:51] Jazzyhunt commented on #85
testing

[2021-11-15 19:53] metastange commented on #86
Is this different than #55 ?

[2021-11-15 19:53] wdet30 commented on #74
@metastange, making this important due  that you need this buy Tuesday.

[2021-11-15 19:55] #86 closed

[2021-11-15 19:59] wdet30 commented on #55
@metastange updating title on this to accommodate the task.

[2021-11-15 20:00] wdet30 commented on #86
Confused myself it's closed.

T
________________________________
From: metastange ***@***.***>
Sent: Monday, November 15, 2021 2:53 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Support module needs to be updated (content and style) (Issue #86)

[EXTERNAL]

Is this different than #55<https://github.com/arsmen

[2021-11-15 20:22] wdet30 commented on #30
@metastange, just noticed a bug in the sidebars. I'm taking out of Q&A and moving to important bug.

[2021-11-15 20:57] artlogic commented on #69
Be sure to ignore source / license urls that aren't actually urls.

[2021-11-15 21:03] artlogic opened #87 "Run final import and develop timing and checklist"

[2021-11-18 15:43] wdet30 commented on #74
@metastange, here is the link to edit the universal lightbox.

https://layout.wdet.org/wp-admin/post.php?post=24435&action=elementor

[2021-11-18 15:43] #74 closed

[2021-11-18 17:12] metastange commented on #67
Bulleted fonts are bolded; they should be the same as paragraph/body. I don't know if this is an issue because fonts still aren't populating correctly for me or what, just wanted to flag that in case those issues are unrelated.

[2021-11-18 17:16] wdet30 commented on #67
Got this down as a note I'm going to be redrawing the font calls over the weekend hopefully this will resolve this issue.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: metastange ***@***.***>
Sent: Thursday, November 18, 2021 12:12:16 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; State change ***@***.***>
Subject: Re: [arsmenti

[2021-11-22 07:17] artlogic commented on #73
@wdet30 wordpress install is complete

https://wdetdev.wdet.org/

[2021-11-22 14:08] wdet30 commented on #73
Copy

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Monday, November 22, 2021 2:18:10 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Get dev server setup with vanilla WordPress (Issue #73)

[EXTERNAL]

Closed #73<https://github.com/arsmen

[2021-11-22 15:52] wdet30 commented on #73
@artlogic , I'm having trouble installing or making changes to the Dev WordPress build. Please see the screenshot of my error.
![WP-instal-1](https://user-images.githubusercontent.com/84190532/142892674-965ace95-4029-40e3-8088-6616f13dff5a.png)

[2021-11-22 16:23] metastange commented on #47
@wdet30 Show pages have been updated, the only outstanding thing we'll need from your team is to ensure that the content blocks are pulling in the correct show content.

[2021-11-22 16:28] artlogic commented on #87
I've started a checklist here: https://github.com/arsmentis/wdet-conversion/wiki/Transition-Checklist

[2021-11-22 16:28] wdet30 commented on #47
Sounds great,  Thanks.

FYI: I won't connect the show content until we move to the live site. The query won't export, I must set them up manually.

TB

________________________________
From: metastange ***@***.***>
Sent: Monday, November 22, 2021 11:23 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Show Pages

[2021-11-22 16:34] artlogic commented on #73
@wdet30 can you create an ID so I can see what's going on here? It's likely SELinux.

[2021-11-22 16:36] wdet30 commented on #73
What do mean ID? I'm not sure what you are looking for?

TB
________________________________
From: James Kruth ***@***.***>
Sent: Monday, November 22, 2021 11:34 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Get dev server setup with vanilla WordPress (Issue #73)

[EXTERNAL]

@wdet30<https://github.com/wdet3

[2021-11-22 16:38] artlogic commented on #73
A login ID.

[2021-11-22 16:45] wdet30 commented on #73
My bad, all set.

TB
________________________________
From: James Kruth ***@***.***>
Sent: Monday, November 22, 2021 11:38 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Get dev server setup with vanilla WordPress (Issue #73)

[EXTERNAL]

A login ID.

—
You are receiving this because you were mentioned.
Reply

[2021-11-22 17:05] artlogic commented on #73
This should be working now - please confirm.

[2021-11-22 17:07] wdet30 commented on #73
Working like gold in the old west.

[2021-11-22 17:43] wdet30 commented on #73
@artlogic, I hate to do it but I'm still having troubles uploading plugins. I'm getting this:

*The uploaded file exceeds the upload_max_filesize directive in php.ini.**

TB

[2021-11-22 17:59] artlogic commented on #73
What size do you think you need? I can get it updated in an hour or so.

[2021-11-22 18:03] wdet30 commented on #73
How about 5gb. Just in case we Have to upload a big video or 1 hour audio.

Thanks,
Tony
________________________________
From: James Kruth ***@***.***>
Sent: Monday, November 22, 2021 12:59 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; State change ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Get dev server setup with vanilla WordPress (Issue #73)

[EXTERNAL]

[2021-11-22 18:09] wdet30 commented on #85
@Jazzyhunt, how is Github working for you?

[2021-11-22 18:14] Jazzyhunt commented on #85
I think it is working well.

[2021-11-22 18:36] wdet30 opened #88 "Please place blank .html file in /media root"
@artlogic, Please place blank .html file in media root folder so the directories are not easy scanned and accessed.
/opt/www/media
Thanks

[2021-11-22 19:54] artlogic commented on #88
I don't believe this needs to be done. Directory indexing isn't enabled. Are you seeing something different?

[2021-11-22 20:32] artlogic commented on #87
Note to self: limit export to only needed tables - get a list created.

[2021-11-23 00:31] artlogic commented on #4
Data is being included with posts via 821c380488e73ad1e3e7dda3762cf552dd5502c2

[2021-11-23 00:32] artlogic commented on #69
Data is being included with assets via 821c380488e73ad1e3e7dda3762cf552dd5502c2

[2021-11-23 07:27] artlogic commented on #63
My work is done on this issue with the prior linked commit  - removing my assignment. Verification of redirects in particular are still required.

[2021-11-23 07:30] artlogic commented on #73
Please re-open if any further issues.

[2021-11-23 07:35] artlogic commented on #88
Closing - please reopen if any directories are being indexed.

[2021-11-23 07:35] #88 closed

[2021-11-23 07:37] artlogic commented on #79
At this point I believe my portion of this is actually a duplicate of #69. Removing my assignment - please re-add if needed.

[2021-11-23 07:39] artlogic commented on #84
I don't believe this is an import issue (at least not on my end) nor is it something that's on my current list - removing the label and my assignment - please re-add if I'm incorrect.

[2021-11-23 13:47] #79 closed

[2021-11-23 16:54] artlogic commented on #64
Half of this issue is resolved (the UTC times are correct now).

[2021-11-23 17:29] #64 closed

[2021-11-23 19:23] artlogic commented on #4
Config is included with 8afb1e8b69f53644987fa90debca24efa6d41739

This should be complete on my end - removing my assignment - re-add if needed.

[2021-11-23 19:24] artlogic commented on #69
Config is being brought in via 8afb1e8b69f53644987fa90debca24efa6d41739

This is now just a theming issue (getting credit/source to display in the front end, and *maybe* in the editor). Removing import issue tag.

[2021-11-24 15:40] artlogic opened #89 "Allow more filetypes to be uploaded"
Currently on the list are:

* m4a
* mp2

[2021-11-24 15:46] wdet30 commented on #89
We will need . MP3 . MP4 .PDF

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, November 24, 2021 10:40:50 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Allow more filetypes to be uploaded (Issue #89)

[EXTERNAL]

Assigned #89<htt

[2021-11-24 15:47] artlogic commented on #89
I'm fairly certain those already work.

[2021-11-24 15:48] wdet30 commented on #89
Solid

TB
________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, November 24, 2021 10:47:19 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Allow more filetypes to be uploaded (Issue #89)

[EXTERNAL]

I'm fairly certain those already work.

—
You are receiving this because you were me

[2021-11-24 15:52] wdet30 commented on #89
Copy

________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, November 24, 2021 10:47:19 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Allow more filetypes to be uploaded (Issue #89)

[EXTERNAL]

I'm fairly certain those already work.

—
You are receiving this because you were mentio

[2021-11-24 17:24] artlogic commented on #87
My portion of this is done - assigning to @wdet30 and @metastange in case there are things that need to be added that I'm not aware of.

[2021-11-29 16:02] wdet30 opened #90 "Failed to import Media"
Failed to import Media “npr-logo”
Failed to import Media “Spotify_logo_without_text”
Failed to import Media “Podcasts_(iOS)”
Failed to import Media “google-podcasts”
Failed to import Media “A-Logo-19102020.svg”
Failed to import Media “Menu.svg”

[2021-11-29 18:15] wdet30 commented on #90
@Jazzyhunt, would you please update pages that didn't carry over these images.

Mainly Podcast pages.

[2021-11-29 18:16] #52 closed

[2021-11-29 18:19] Jazzyhunt commented on #90
Yes, working on that currently.

[2021-11-29 18:20] wdet30 commented on #90
Did you get the images ok?
________________________________
From: Jazzyhunt ***@***.***>
Sent: Monday, November 29, 2021 1:19 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Failed to import Media (Issue #90)

[EXTERNAL]

Yes, working on that currently.

—
You are receiving this because you were assigned.
Reply

[2021-11-29 18:22] Jazzyhunt commented on #90
Working on MichMash, not sure if you sent that image over. If not, I'm sure I can download it from the old site.

[2021-11-29 18:27] wdet30 commented on #90
Great, thanks TB
________________________________
From: Jazzyhunt ***@***.***>
Sent: Monday, November 29, 2021 1:22 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Failed to import Media (Issue #90)

[EXTERNAL]

Working on MichMash, not sure if you sent that image over. If not, I'm sure I can download it from t

[2021-11-29 18:45] wdet30 commented on #4
@artlogic, I'm looking to ad the updated page to wdetcms. Would you please copy the file below to the child theme?

/opt/www/wordpress/wp-content/themes/tony-brown-news-pro-35/template-parts
File
[content-single.php ](https://github.com/arsmentis/wdet-conversion/commit/87ab3706d2f2b33ceb1d198f7fd940ae10c2baa0)

Thanks

[2021-11-29 20:22] artlogic commented on #4
I'm curious, is this something that can't be added to the child theme's zip file?

[2021-11-29 20:27] wdet30 commented on #4
Man I'm creating the child theme manually from scratch. I don't have permissions to move the file to the server.
________________________________
From: James Kruth ***@***.***>
Sent: Monday, November 29, 2021 3:23:02 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] How to transition post metadata audio player?

[2021-11-29 20:37] artlogic commented on #4
I'll create a zip file and show you how it can be done.

[2021-11-30 15:12] wdet30 commented on #4
I don't really need to do the zip thing because I have been building it up manually. The only thing that needs to be done that I can't do is move that file over. Please let me know if you can get that over that's all I need.

________________________________
From: James Kruth ***@***.***>
Sent: Monday, November 29, 2021, 3:37 PM
To: arsmentis/wdet-conversion
Cc: Tony Brown; Mention
Subject: Re: [a

[2021-11-30 15:13] wdet30 commented on #4
I'm aware of the download the files and zip it up technique I'll give that a try.

________________________________
From: Tony Brown ***@***.***>
Sent: Monday, November 29, 2021 3:27:06 PM
To: arsmentis/wdet-conversion ***@***.***>; arsmentis/wdet-conversion ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] How to transition post metadata audio player? (#4)

Man I'm cr

[2021-11-30 16:12] #90 closed

[2021-11-30 16:18] wdet30 commented on #4
The theme has been updated and converted to zip for ease of use. @artlogic

[2021-11-30 18:46] metastange commented on #87
I am reviewing the content now - at a cursory glance, the data looks correct but there are issues with how it's populating on the front end (ie the native audio is being transferred over, but not showing up on the audience-facing post). Should we use this thread to document those issues? @artlogic @wdet30

[2021-11-30 19:02] wdet30 commented on #87
I guess for me if you have any issues with the pages any data didn't come through with that import another issue would work for me.
But whatever works for both of you.
________________________________
From: metastange ***@***.***>
Sent: Tuesday, November 30, 2021, 1:46 PM
To: arsmentis/wdet-conversion
Cc: Tony Brown; Mention
Subject: Re: [arsmentis/wdet-conversion] Run final import and develop tim

[2021-11-30 19:03] artlogic commented on #87
@metastange if you could open new issues (or use the existing ones) that would be ideal.

[2021-11-30 20:44] metastange commented on #30
@wdet30 has this sidebar bug been resoolved? If so, can we close this?

[2021-11-30 20:45] metastange commented on #42
Closing this since the outstanding issues have individual tickets (#69 #71 )

[2021-11-30 20:45] #42 closed

[2021-11-30 20:46] metastange commented on #44
Closing this following the latest import.

[2021-11-30 20:46] #44 closed

[2021-11-30 20:47] wdet30 commented on #30
Yes resolved

________________________________
From: metastange ***@***.***>
Sent: Tuesday, November 30, 2021 3:45:05 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Sidebars for Pages ready (#30)

[EXTERNAL]

@wdet30<https://github.com/wdet30> has this sidebar bug been resoolved? If so, can we close this?

—

[2021-11-30 20:48] #47 closed

[2021-11-30 20:48] metastange commented on #50
Closing to add one global to-do about adding the related content modules for all show, podcast and series pages

[2021-11-30 20:48] #50 closed

[2021-11-30 20:49] #51 closed

[2021-11-30 20:53] metastange commented on #7
Inline images are now pulling in, but with "no alignment." @artlogic Is it possible to make the default on the import "left-align" so that the text wraps around the image? If not, we can close this issue and @dorothyhernandez will manually update high-traffic posts.

[2021-11-30 20:53] #30 closed

[2021-11-30 20:57] metastange opened #91 "Remove "Author" From Show/Podcast/Series Pages"
Author footer should be removed from show/podcast/series static pages.

Example: https://wdetcms.wdet.org/shows/all-things-considered/

[2021-11-30 20:59] wdet30 commented on #91
Will update when completed.
________________________________
From: metastange ***@***.***>
Sent: Tuesday, November 30, 2021 3:57:20 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: [arsmentis/wdet-conversion] Remove "Author" From Show/Podcast/Series Pages (Issue #91)

[EXTERNAL]

Author footer should be removed from show/podcast/series static

[2021-11-30 20:59] metastange commented on #3
@wdet30 I did not get an assignment to review the footer - is it complete as-is on wdetcms? Is it possible to update it at all? I have some concerns about the look.

[2021-11-30 21:01] wdet30 commented on #91
Please ad this to the post task list.

T

________________________________
From: Tony Brown ***@***.***>
Sent: Tuesday, November 30, 2021, 3:59 PM
To: arsmentis/wdet-conversion; arsmentis/wdet-conversion
Cc: Assign
Subject: Re: [arsmentis/wdet-conversion] Remove "Author" From Show/Podcast/Series Pages (Issue #91)

Will update when completed.
________________________________
From: metastange ***@**

[2021-11-30 21:04] wdet30 commented on #3
Sure please list changes here.

________________________________
From: metastange ***@***.***>
Sent: Tuesday, November 30, 2021, 3:59 PM
To: arsmentis/wdet-conversion
Cc: Tony Brown; Mention
Subject: Re: [arsmentis/wdet-conversion] Site Footer. (#3)

[EXTERNAL]

@wdet30<https://github.com/wdet30> I did not get an assignment to review the footer - is it complete as-is on wdetcms? Is it possible to

[2021-11-30 21:05] metastange commented on #4
@wdet30 audio custom field not showing up on wdetcms (embedded player below the headline). Please advise.

[2021-11-30 21:06] artlogic commented on #89
@wdet30 this is a blocking issue for friday/saturday

[2021-11-30 21:08] wdet30 commented on #4
@***@***.******@***.***> please advise on this did I miss something here.
________________________________
From: metastange ***@***.***>
Sent: Tuesday, November 30, 2021, 4:05 PM
To: arsmentis/wdet-conversion
Cc: Tony Brown; Mention
Subject: Re: [arsmentis/wdet-conversion] How to transition post metadata audio player? (#4)

[EXTERNAL]

Reopened #4<https://github.com/arsmentis/wdet-conversion/issue

[2021-11-30 21:09] metastange commented on #3
- [ ] Possible to change background color? I remember you mentioning something about it, but I can't find any details. If not, can we at least make the copyright text box the same color?
- [ ] WDET and NPR logos should be closer to the same size. Let me know if you want me to provide files.
- [ ] Scale down "Detroit's NPR Station, Your connection to news, music, conversation (currently getting a l

[2021-11-30 21:12] metastange commented on #81
Images should be 1280 x 720; training included in documentation and in-person trainings.

[2021-11-30 21:12] #81 closed

[2021-11-30 21:17] metastange opened #92 "Post Page Missing Data"
- [ ] Missing author byline
- [x] Missing publish date

[2021-11-30 21:20] metastange opened #93 "Author Widget Updates"
- [ ] Not sure how much flexibility we have on the author widget that exists on post pages, but is it possible to only show a "short" description? For reference, compare Ryan's bios:

old site: https://wdet.org/posts/2021/11/29/91720-director-mike-mills-brings-detroit-students-to-big-screen-in-cmon-cmon/
new site: https://wdetcms.wdet.org/2021/11/29/director-mike-mills-brings-detroit-students-to-b

[2021-11-30 21:20] wdet30 commented on #92
Is that on a single post or in blog view?

________________________________
From: metastange ***@***.***>
Sent: Tuesday, November 30, 2021, 4:18 PM
To: arsmentis/wdet-conversion
Cc: Tony Brown; Assign
Subject: Re: [arsmentis/wdet-conversion] Post Page Missing Data (Issue #92)

[EXTERNAL]

Assigned #92<https://github.com/arsmentis/wdet-conversion/issues/92> to @wdet30<https://github.com/wdet30>.

—

[2021-11-30 21:21] metastange commented on #92
All individual posts.

Example: https://wdetcms.wdet.org/2021/11/29/director-mike-mills-brings-detroit-students-to-big-screen-in-c-mon-c-mon/

[2021-11-30 21:35] metastange commented on #87
@artlogic I added my pre-launch review list to the checklist above; i think that's pretty much it but will continue to add if i think of anything else.

[2021-11-30 23:15] artlogic commented on #71
@wdet30 can you please add https://github.com/arsmentis/wdet-conversion/blob/main/theme/captions.js to the theme so that it's included on all pages? Once that's done, this issue can be closed.

[2021-11-30 23:24] artlogic commented on #93
A short bio is available to available to import. It looks like some configuration would need to be done for the authors plugin - this would be a change we would need to implement prior to Friday night - please let me know if we're going to do this (and if you want me to investigate)

[2021-11-30 23:30] artlogic commented on #4
I don't see the file I referenced above: https://github.com/arsmentis/wdet-conversion/issues/4#issuecomment-967702466

[2021-11-30 23:37] artlogic commented on #7
@wdet30 this is a theming issue - and one I can fairly easy fix with the javascript I just mentioned in #79. Shall I add it in, or do you want to take care of it?

Note: looks like `wdet-pull-left` class needs to be added to the figure.

[2021-12-01 00:23] wdet30 commented on #7
Please add it in and let me know where and what line.

TB
________________________________
From: James Kruth ***@***.***>
Sent: Tuesday, November 30, 2021 6:38:06 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Inline images not pulling in (#7)

[EXTERNAL]

@wdet30<https://github.com/wdet30> this is a theming

[2021-12-01 00:51] wdet30 opened #94 "Something weird with authors"
Hey @artlogic, look at the authors for cultureshift it has pulled in some weirdness. Please give a look. I'm not sure what's up here:
Author
https://wdetcms.wdet.org/author/cultureshift/

From post:
https://wdetcms.wdet.org/2021/11/24/this-week-at-the-detroit-film-theatre-the-macaluso-sisters/

[2021-12-01 00:55] wdet30 commented on #91
All set.

**Note: This has to be done in Authors plugin**

https://wdetcms.wdet.org/podcasts/

[2021-12-01 00:55] #91 closed

[2021-12-01 00:56] #85 closed

[2021-12-01 00:57] #65 closed

[2021-12-01 03:48] metastange commented on #93
If it's not going to put us behind, I'd like to move forward. Let me know if you need additional info from me.

[2021-12-01 03:58] artlogic commented on #94
Looks pretty much identical to this: https://wdet.org/author/182/

[2021-12-01 04:00] artlogic commented on #93
I think this ends up being @wdet30's call.

[2021-12-01 06:03] artlogic commented on #7
This has been added to the theme in the repo. See: https://github.com/arsmentis/wdet-conversion/commit/cc6cab7f63f1c49a4f34e90b1a3d8955b987b729

@wdet30 you'll want to upload these changes to wdetcms.

[2021-12-01 06:38] artlogic commented on #4
@wdet30 added the content-single.php to the proper location and committed it.

I don't see a CSS file that you're enqueuing so you will have to add the see I referenced above.

[2021-12-01 15:07] metastange commented on #67
FYI this is still not populating for me correctly; i have cleared my cache and tried in multiple browsers. Let me know if there are additional steps I need to take.
![Screen Shot 2021-12-01 at 10 06 04 AM](https://user-images.githubusercontent.com/85897115/144259535-477afa14-7ba9-4348-9314-27939f02a8de.png)

[2021-12-01 15:18] metastange commented on #11
@wdet30 Excerpts are not being pulled in on the front-end of posts, despite the data being on the backend.

[2021-12-01 15:27] wdet30 commented on #59
I will install this before we go live on Sunday
________________________________
From: metastange ***@***.***>
Sent: Thursday, November 4, 2021 10:31 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: [arsmentis/wdet-conversion] Audit Log Plugin (Issue #59)

[EXTERNAL]

Source audit log plugin for site.

—
You are receiving this because you were

[2021-12-01 16:11] wdet30 commented on #11
I just made a changed to the functions.php. Please check again on this.

TB
________________________________
From: metastange ***@***.***>
Sent: Monday, August 9, 2021 3:43 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: [arsmentis/wdet-conversion] Lead-ins (#11)

[EXTERNAL]

Lead-ins are being pulled into the preview on the homepage, but not

[2021-12-01 16:44] metastange commented on #11
Still not seeing it on my end.

[2021-12-01 16:57] artlogic commented on #71
Ready for review.

[2021-12-01 19:13] wdet30 commented on #89
@artlogic  can you point me where the post with audio in them?
WordPress says that they support m4a.
The mp2 files I will just replace with .mp3 files on current server. Getting on this now.

[2021-12-01 19:22] #84 closed

[2021-12-01 19:26] wdet30 commented on #82
@metastange, here is the best plugin I can find for this solution. Would you please check this over and let me know if you would like me to deploy.

https://wordpress.org/plugins/term-management-tools/

[2021-12-01 19:35] wdet30 commented on #93
@artlogic @metastange still looking into this. Not sure if I have any solutions.

[2021-12-01 19:38] artlogic commented on #89
Here's the mp2 posts:

* Call 911 to Report a Dangerous Pothole in Macomb County
* Ford Exiting Japan, Indonesia
* New Study Will Look at Possible Rail Line from Ann Arbor to Traverse City

Are you able to upload m4a files to the media center? They all failed for me on import.

[2021-12-01 19:39] artlogic commented on #93
The solution I see involves adding custom fields to the author profile and them modifying the display templates. Let me know if this is something you want me to pursue.

[2021-12-01 19:42] artlogic commented on #94
Unassigning myself on this one because I don't think this is an import issue, but a data issue with the old CMS.

[2021-12-01 19:54] artlogic commented on #4
Well - it looks like the way I fixed this before isn't work - I believe that some theme setting is different (probably the heading style). Is there a list of the settings that are being changed within the theme? Especially with us doing theme overrides these can affect things dramatically and break things that were working.

I want to make sure that if I fix this, that it's going to work when we h

[2021-12-01 19:58] wdet30 commented on #4
The only changes made now are:

header.php
custom code.css
the excerpt override in functions

That's all I have now.

________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, December 1, 2021 2:54 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] How to transition post metadata audio play

[2021-12-01 20:08] artlogic commented on #89
Here's one (of the many) m4a posts:

* Retired Detroit Public School Teacher Says Documenters Aids Community Engagement

[2021-12-01 20:10] wdet30 commented on #93
Please do what it takes to make it right.
________________________________
From: James Kruth ***@***.***>
Sent: Tuesday, November 30, 2021 11:00 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Author Widget Updates (Issue #93)

[EXTERNAL]

I think this ends up being @wdet30<https://github.com/wdet30>'s call.

[2021-12-01 20:13] artlogic commented on #4
There are a ton of settings in the Customize section that aren't represented by the theme files. Something has changed from the last deployment. I think we need a list of what's being changed from default here.

My guess is that last deployment the single post heading was set to classic, and now it's set to standard, but I haven't sorted this out yet. I will not be able to look into this deeply un

[2021-12-01 20:24] wdet30 commented on #4
Copy

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, December 1, 2021 3:13:23 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] How to transition post metadata audio player? (#4)

[EXTERNAL]

There are a ton of settings in the Cust

[2021-12-01 20:58] metastange commented on #4
I don't know if this helps or hurts, but here are notes on the settings I used on Customizer for reference. These would not have been included in the last deployment, as the template was created on layout.

Site Header settings
	• Disable Header top bar
	• Logo and Menu - style 2, active sticky menu
	• News ticker visibility - hide
New Box Home Settings
Slider grid settings
	• Home slider grid
	•

[2021-12-01 21:16] metastange commented on #82
Can you tell me how to access Tags and Categories on the wdetcms site? That doesn't appear to be an option for me. Want to take a look to better acquaint myself there before making this call. Screenshot of menu attached for reference in case I missed it:
![Screen Shot 2021-12-01 at 4 16 34 PM](https://user-images.githubusercontent.com/85897115/144315305-d8c3101a-2331-4329-a085-cd1dac0ab159.png)

[2021-12-01 21:27] wdet30 commented on #82
@metastange here you go: https://wdetcms.wdet.org/wp-admin/edit-tags.php?taxonomy=post_tag

[2021-12-01 21:29] metastange opened #95 "Thumbnails on Pages"
Thumbnail images are pulling into landing pages for some show and series landing pages. Let me know if you need a full list or if correcting the styling will correct all pages.

example:
https://wdetcms.wdet.org/series/artist-next-door-2/
https://wdetcms.wdet.org/shows/ann-delisis-essential-music/

[2021-12-01 21:33] metastange commented on #71
I spot-checked a handful and it looked good to me! good to close?

[2021-12-01 21:38] metastange commented on #82
Got it, thanks. Yes, it looks like this will work.

[2021-12-02 04:28] artlogic commented on #4
I'm concerned about this. However this isn't the place to discuss that.

I will need to find another way to make this change that's resilient to theme settings being changed.

[2021-12-02 04:30] artlogic commented on #89
Please let me know if:

1. When the mp2s have been fixed.
2. If you can manually upload m4as
3. If you need me to work on enabling upload of m4as.

[2021-12-02 07:04] wdet30 commented on #89
All set with MP2 files they have been replaced with MP3.

Testing m4a (aac) now
________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, December 1, 2021 11:31 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Allow more filetypes to be uploaded (Issue #89)

[EXTERNAL]

Please let me know

[2021-12-02 07:09] wdet30 commented on #89
@artlogic, here is the fix:

Add New Permitted File Types Using wp-config.php

WordPress includes an ALLOW_UNFILTERED_UPLOADS option that you can enable in your site’s wp-config.php file. Once enabled, you’ll be able to upload any file type to your WordPress Media Library.

dd the following code snippet above the /* That’s all, stop editing! Happy blogging. */ line:

define('ALLOW_UNFILTERED_UPLOA

[2021-12-02 21:14] metastange opened #96 "incorrect content included on show/series landing pages"
There are non-shows/series listed on the shows/series landing pages. See below:
**Not Shows:**
- Auto Supplier Invests $66M, Creates 500+ Jobs in Plymouth
- Committee Approves Income Tax Rollback Despite Concerns About Unknown Repercussions
- Detroit’s Haven for Asylum Seekers Set to Lose Federal Funding
- GOP Strategist Ana Navarro: Time for Republicans to Launch Full Russia Investigation
- State

[2021-12-02 21:17] wdet30 commented on #96
I will give a look is it obvious or is it something I should be looking for?

________________________________
From: metastange ***@***.***>
Sent: Thursday, December 2, 2021, 4:14 PM
To: arsmentis/wdet-conversion
Cc: Tony Brown; Assign
Subject: Re: [arsmentis/wdet-conversion] incorrect content included on show/series landing pages (Issue #96)

[EXTERNAL]

Assigned #96<https://github.com/arsmentis/

[2021-12-02 21:18] metastange commented on #96
It's obvious. They are on the show landing page as though they are shows.

Example:
https://wdetcms.wdet.org/series/

[2021-12-02 21:20] metastange commented on #94
Closing this since it is the same issue as #93.

[2021-12-02 21:20] #94 closed

[2021-12-02 21:20] wdet30 commented on #96
Okay this one I can fix not hard at all. The query tables are broken in elementor. And now I have a better system of backing those up I'll get those fixed tomorrow morning. And then I'll back up the query tables. So I want to leave this open. Thanks for the catch.
________________________________
From: metastange ***@***.***>
Sent: Thursday, December 2, 2021 4:18:35 PM
To: arsmentis/wdet-conversio

[2021-12-02 21:22] #80 closed

[2021-12-02 21:36] metastange commented on #63
i've reviewed all redirects and all look good. There are two categories that have duplicative TAGS (curiosiD and storycorps Detroit) and i've made a note to remove these tags post-launch.

[2021-12-02 21:36] #63 closed

[2021-12-02 21:37] metastange commented on #27
The page itself is fine and I've made a note that this a post-launch improvement opportunity. Closing this ticket.

[2021-12-02 21:37] #27 closed

[2021-12-03 17:06] metastange commented on #87
Added estimated QA timing (1.5-2 hours).

[2021-12-06 18:55] #95 closed

[2021-12-06 19:00] #75 closed

[2021-12-06 19:03] #68 closed

[2021-12-06 20:45] wdet30 commented on #96
@metastange , changes have been made. Please let me know all everything's locks correct. I will create another backup of this update.

[2021-12-06 20:46] wdet30 commented on #92
@artlogic, I'm not sure how to resolve this one. Please give a look if you can no rush.

[2021-12-06 20:51] metastange commented on #3
Reopening this to address the checklist above.

[2021-12-06 20:55] metastange commented on #14
Re-upping the checklist above, removing what has been resolved and noted in the google doc:
- [ ]  Fonts still not populating correctly for me
- [ ] Possible to make the "search" icon in the nav a different color? it doesn't look great the way it is
- [ ]  Donate button should all be the same pink color
- [ ]  Update mailchimp opt-in in sidebar (opt-in copy and style should match what's currently

[2021-12-06 20:58] metastange opened #97 "Sticky Posts - Plug In Needed"
I played with the integrated sticky post function and I don't think it will serve our "featured post" needs as well as I would like; first of all, it seems to be adding posts to the modules when I make them sticky (so, for example, the 4 post module at the top includes 6 posts when i make two older posts sticky, messing with the layout of the homepage). In addition, the sticky posts then become th

[2021-12-06 21:08] metastange commented on #96
Looks good! Closing this ticket; checking this is on the transition timeline/checklist just to verify.

[2021-12-06 21:08] #96 closed

[2021-12-06 21:09] metastange commented on #95
FYI the thumbnails are still on the landing pages:
https://wdetcms.wdet.org/shows/ann-delisis-essential-music/

[2021-12-07 00:55] wdet30 commented on #95
Dang it, was working circling back. Will update soon.

________________________________
From: metastange ***@***.***>
Sent: Monday, December 6, 2021 4:09:24 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; State change ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Thumbnails on Pages (Issue #95)

[EXTERNAL]

FYI the thumbnails are still on the landing pages:
https

[2021-12-07 02:12] wdet30 commented on #95
@metastange, this has been resolved.

https://wdetcms.wdet.org/shows/don-was-motor-city-playlist

and here :

https://wdetcms.wdet.org/shows/ann-delisis-essential-music/

[2021-12-08 17:43] wdet30 opened #98 "Setup Player for DRIS"
Make a player for DRIS Icecast

[2021-12-08 19:08] wdet30 commented on #21
We have a solution for this.

[2021-12-08 19:08] #21 closed

[2021-12-08 19:15] wdet30 commented on #97
@metastange, working on this. The last two plugins I tried didn't workout. I have four more to try.

[2021-12-08 19:19] wdet30 commented on #89
@artlogic, let me know if I should focus on converting the mp4's to mp3 and reupload. If so I will need the url's of the post that have the mp4 files.

Or is it best to turn on the filter above and import the files ad then turn off filter?

Either works for me.

[2021-12-08 19:31] wdet30 commented on #14
@metastange, Working on this on and offline. I hope to have this looking good by Saturday, at least what i can fix in this version.

[2021-12-09 12:52] artlogic commented on #89
I'll drop a list here in a few hours.

- James

On Wed, Dec 8, 2021, 14:19 wdet30 ***@***.***> wrote:

[2021-12-09 16:39] artlogic commented on #89
Here's a list of all the posts from my most recent dump with audio files that aren't mp3 or wav files. Some have likely already been fixed.

[code]

[2021-12-09 16:43] wdet30 commented on #89
Got it, moving to the top of the list.
________________________________
From: James Kruth ***@***.***>
Sent: Thursday, December 9, 2021 11:39 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Allow more filetypes to be uploaded (Issue #89)

[EXTERNAL]

Here's a list of all the posts from my most recent dump with

[2021-12-09 19:20] artlogic commented on #70
I don't believe this is relevant any longer. Closing in favor of #69.

[2021-12-09 19:20] #70 closed

[2021-12-09 19:24] artlogic commented on #87
@wdet30 and @metastange - does the document look to be complete for you? If so let's close this issue, and we can verify the times we recorded next week.

[2021-12-09 19:30] wdet30 commented on #87
Looks good here thanks.

________________________________
From: James Kruth ***@***.***>
Sent: Thursday, December 9, 2021 2:24:50 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Run final import and develop timing and checklist (Issue #87)

[EXTERNAL]

@wdet30<https://github.com/wdet30> and @metastange<https:/

[2021-12-09 19:53] metastange commented on #87
i'm good on my end; closing.

[2021-12-09 19:53] #87 closed

[2021-12-10 05:16] artlogic commented on #11
@wdet30 I've updated functions.php with the proper code. Can you redeploy the theme?

[2021-12-10 06:16] artlogic commented on #92
I don't see any indication that the news box pro theme actually displays bylines at the top of articles, opting for the display below the articles.

If a byline is needed it's going to take a filter or a customization. Let me know how to proceed.

[2021-12-10 07:43] artlogic commented on #93
After the import, the author boxed layout will need to be modified to use `short_bio` instead of `description|raw`.

[2021-12-10 16:53] metastange commented on #92
I would like this included but am unclear who you're asking for direction from.

[2021-12-10 16:58] artlogic commented on #92
Might be a good idea to have a quick meeting.

[2021-12-13 05:14] artlogic commented on #11
@metastange can you verify we're good here and close if we are? Thanks!

[2021-12-13 05:45] artlogic commented on #92
Author bylines have been added.

[2021-12-13 06:12] wdet30 commented on #89
@artlogic All m4a & mp2 files have been removed or replaced with .mp3 files. In some instances there was duplicate files on the same post or the incorrect audio associated with the story. Those files have been removed or updated.

[conetress.xlsx](https://github.com/arsmentis/wdet-conversion/files/7701368/conetress.xlsx)

[2021-12-13 08:12] artlogic commented on #4
Should be working now - but needs verification and styling.

[2021-12-13 08:13] artlogic commented on #93
Tested - just need to update the importer.

[2021-12-13 13:46] #11 closed

[2021-12-13 14:25] metastange commented on #4
Confirming the audio is showing up on post pages. Will this addition be impacted by Customizer?

Not sure how to advise on styling as I'm not sure how customizable this function is.

[2021-12-13 14:29] metastange commented on #93
To confirm - I won't be able to verify that until the next import, correct? Right now the boxes are blank, so just want to make sure.

[2021-12-13 14:32] metastange commented on #92
Confirming I'm seeing this on my end. @wdet30, if we're able to style this at all, it would be great to add "by" to proceed the byline.

[2021-12-13 19:31] artlogic commented on #93
You can manually put short bios in for people right now to test. The next import will have the short bios populated with data.

[2021-12-13 19:49] wdet30 commented on #97
@metastange, i just installed a new plugin for you to try. Please give a look at the screenshot below to find the feature.
![stiky-1](https://user-images.githubusercontent.com/84190532/145878360-f1125dc1-019e-45b2-a318-c462da9c60f7.png)

[2021-12-13 19:57] artlogic commented on #93
My work is done here - just awaiting verified post import.

[2021-12-13 20:08] artlogic opened #99 "Load testing"
The site should be load tested prior to launch at levels that we see for peak events.

[2021-12-13 20:22] wdet30 commented on #4
@artlogic well done.

[2021-12-13 20:30] metastange commented on #55
@wdet30 the text color issue has not been resolved as far as I can tell, which is why this ticket was still open. We can assign it to post-launch, but this needs to be addressed eventually.

[2021-12-13 21:50] wdet30 commented on #55
I will try to resolve this after next data import.
________________________________
From: metastange ***@***.***>
Sent: Monday, December 13, 2021 3:30 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Donation Module Copy (Issue #55)

[EXTERNAL]

@wdet30<https://github.com/wdet30> the text color issue has not be

[2021-12-13 21:54] wdet30 commented on #99
@artlogic, conversation with Marty on this issues is [here.](https://teams.microsoft.com/l/channel/19%3a43ea918d0a284b83920bac6a0e4523f8%40thread.tacv2/General?groupId=faa50dbf-02e8-4735-8ded-09a314fab678&tenantId=e51cdec9-811d-471d-bbe6-dd3d8d54c28b)

I will update here as needed.

[2021-12-13 21:58] wdet30 commented on #99
.@artlogic my backup plan is to use loadster.

[2021-12-17 03:43] artlogic commented on #89
This one was missed:

[code]

[2021-12-17 16:23] wdet30 commented on #89
@artlogic, should I fix it on the old site or just fix on CMS?

[2021-12-17 16:25] artlogic commented on #89
Please fix it on the Django site. That way we don't have to deal with it next import.

[2021-12-17 16:31] wdet30 commented on #89
Sounds great\

[2021-12-17 16:35] wdet30 commented on #89
@artlogic this has been updated.

https://wdet.org/admin/wdet/post/88533/

[2021-12-17 16:52] #89 closed

[2021-12-20 03:44] wdet30 opened #100 "Media for Pages not importing"
Hey @artlogic @metastange, I was trying to import the pages and media for the shows and music pages including podcast pages. I have spent most of the day trying to resolve this.

This is not urgent or a deal breaker.

Solution:
This will require updating the show music series page banner and feature images after data imports.

I'm hoping to get help from @Jazzyhunt on this.

I will bring the solut

[2021-12-20 06:49] artlogic commented on #100
The media needs to come from somewhere. You need to have it hosted somewhere and update the domain/URLs in the XML files to match.

[2021-12-20 06:50] artlogic commented on #69
I expect this issue to be resolved by January 3rd.

[2021-12-20 21:23] wdet30 commented on #100
We have a handle on this now.

[2021-12-20 21:23] #100 closed

[2021-12-22 04:50] artlogic commented on #99
Removing myself from this - it looks like I won't be involved.

[2021-12-22 14:40] wdet30 commented on #99
Your help is needed definitely. Not sure things came out right but we definitely need you.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Tuesday, December 21, 2021 11:50:47 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Load testing (Issu

[2021-12-22 17:38] wdet30 opened #101 "Line added to functions ,PHP"
@artlogic, I have added code to functions .php on the dev site.  This allows for the pages to show the excerpt. How would you like this updated on Github? Should I upload the version I just edited? Let me know how to procced when I make a change to the Theme.

"add_post_type_support( 'page', 'excerpt' );"

[2021-12-22 19:48] artlogic commented on #101
What's the difference between what's in github and the version you just edited? Just a single line?

[2021-12-22 19:49] artlogic commented on #99
Let me know what you need from me.

[2021-12-22 19:52] wdet30 commented on #101
Yes

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, December 22, 2021 2:48:27 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Author ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Line added to functions ,PHP (Issue #101)

[EXTERNAL]

What's the difference between what's in github an

[2021-12-22 19:55] artlogic commented on #101
Add the line using any method you like.

[2021-12-22 19:57] wdet30 commented on #101
I wanted to make sure that it was backed up properly along with your changes.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, December 22, 2021 2:56:01 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Author ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Line added to functions ,PHP (

[2021-12-22 20:01] artlogic commented on #101
What exactly was backed up? GitHub?

[2021-12-22 20:05] wdet30 commented on #101
No I just added the line to the functions.php in the theme. Should I add it anywhere else? I'm not sure if you wanted me to add the line to the functions.php that's in GitHub. Let me know

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, December 22, 2021 3:01:45 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony B

[2021-12-22 20:40] artlogic commented on #101
If you are comfortable managing the theme on your own then I will remove it entirely from github.

[2021-12-22 20:42] wdet30 commented on #101
Nope, I'm sure you made a lot of changes that I don't have a hold of so I'm really just trying to get a hold of all the changes you made. I will need your help.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, December 22, 2021 3:41:04 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Author *

[2021-12-22 20:53] artlogic commented on #101
You can review any changes I made here: https://github.com/arsmentis/wdet-conversion/commits/main/theme/tony-brown-news-pro-35/functions.php

[2021-12-22 20:54] wdet30 commented on #101
Copy

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, December 22, 2021 3:53:36 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Author ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Line added to functions ,PHP (Issue #101)

[EXTERNAL]

You can review any changes I made here: https://

[2021-12-23 17:07] wdet30 commented on #73
@artlogic , I'm having trouble resetting my password on the Dev site.
https://wdetdev.wdet.org/

Would you please please help reset for my user: tony.brown@wdet.org

Thanks

[2021-12-23 17:20] artlogic commented on #73
I have no access beyond either resetting the entire site or resetting the password manually via the database. What do you want me to do?

[2021-12-23 17:30] wdet30 commented on #73
What is the easy way? What works for you?

Let me now. I will text you the password if you want to do database.

[2021-12-23 17:32] artlogic commented on #73
Erasing the entire database is likely a bit easier

[2021-12-23 17:33] wdet30 commented on #73
All good, let me now my next move. T

[2021-12-23 19:13] artlogic commented on #73
Looks like I can't SSH into wdetdev. I'm contacting Marty about this.

[2021-12-23 19:25] wdet30 commented on #73
Copy

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Thursday, December 23, 2021 2:13:48 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; State change ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Get dev server setup with vanilla WordPress (Issue #73)

[EXTERNAL]

Looks like I can't SSH into w

[2021-12-23 20:00] artlogic commented on #73
You should be good to go.

[2021-12-23 21:18] wdet30 commented on #73
@artlogic , when you get a chance no hurry would you please change the upload and import size to 10gb? or as high as you recommend? I'm getting the upload size error.

[2021-12-23 21:21] artlogic commented on #73
10gb is pretty big. I normally recommend only as small as possible.

[2021-12-23 21:22] wdet30 commented on #73
2gb please that's enough for a 20min video.

[2021-12-23 21:25] artlogic commented on #73
Even that size is a security/stability concern. However I'll set it to whatever you like.

[2021-12-23 21:28] #73 closed

[2021-12-23 21:34] wdet30 commented on #73
Thanks again

[2022-01-03 20:07] #101 closed

[2022-01-03 20:07] #99 closed

[2022-01-03 20:50] #14 closed

[2022-01-03 21:01] #92 closed

[2022-01-05 17:25] metastange commented on #67
This issue has not been resolved; fonts that should be gotham on both the new site and, now, on the old site are populating as Gill Sans (screenshots attached).

Our graphic designer says she has found an error and is going to send details via email; will post here once I have that note.
<img width="1234" alt="Screen Shot 2022-01-05 at 12 24 16 PM" src="https://user-images.githubusercontent.com/85

[2022-01-05 17:50] artlogic commented on #67
Can you point out the specific font? Maybe circle it in the image?

[2022-01-05 17:54] metastange commented on #67
All of the blue font in the second image.
<img width="1095" alt="Screen Shot 2022-01-05 at 12 51 43 PM" src="https://user-images.githubusercontent.com/85897115/148265071-7deaa870-ad9e-4091-a216-3778399baa72.png">

[2022-01-05 17:56] artlogic commented on #67
Thank you. I should be able to look into this in an hour or two. Let me know what your graphic designer says

[2022-01-05 17:59] metastange opened #102 "Excerpts on Pages (NOT POSTS.)"
"Excerpts" (in this case, program descriptions) are NOT showing up on the show, podcast or series landing pages, but they ARE displayed on the individual show, podcast and series pages. Screenshots and links below.

Landing page example: https://wdetcms.wdet.org/shows/
![Screen Shot 2022-01-05 at 12 57 05 PM](https://user-images.githubusercontent.com/85897115/148265973-3963ec3b-6285-4b8c-866e-7a83

[2022-01-05 18:03] metastange commented on #93
There are currently two author bios populating on posts. There should one (the short bio version). Screenshot of issue:
![Screen Shot 2022-01-05 at 1 02 09 PM](https://user-images.githubusercontent.com/85897115/148266373-02bf3c65-955e-4732-a18f-f3e38bfcdd02.png)

Also, are we able to customize the formatting of these boxes? I would like them to look cleaner, have the same photo shapes, and be cons

[2022-01-05 20:11] wdet30 commented on #102
@metastange , I think I resolved it. Please verify and close if we are good.

https://wdetcms.wdet.org/shows/1a-jenn-white/

[2022-01-05 20:16] metastange commented on #102
I'm seeing the excerpts on the landing page, which is good, but it's also still showing up on the individual pages, which it shouldn't be.

<img width="884" alt="Screen Shot 2022-01-05 at 3 15 48 PM" src="https://user-images.githubusercontent.com/85897115/148283066-ba377f67-fb39-4d27-b3b7-200913c81bc4.png">

[2022-01-05 20:30] wdet30 commented on #102
Sorry. I neEd to dig deeper. TB

[2022-01-05 22:08] wdet30 commented on #102
@metastange , still working on this. Hello @artlogic is this something we can do since your are calling the excerpt back into the post? Even when I add the "add_post_type_support( 'page', 'excerpt' );" I can't control the excerpt from back into the page. Any idea or help ?

[2022-01-05 22:27] wdet30 commented on #102
@metastange , I have looked around. I'm not sure if we can hide the excerpt on pages and not post. I will wait to hear back from @artlogic on this. I just exhausted my search for a fix.

[2022-01-05 22:46] artlogic commented on #102
I want to clarify a few points here:
1. We want excerpts on posts - we aren't trying to hide those.
2. We don't want excerpts on pages.
3. We do want to see excerpts on the category lists that include pages.

So it looks like we just want to remove the excerpts from the pages - correct?

[2022-01-06 00:49] wdet30 commented on #102
@artlogic Yes sir.

[2022-01-06 00:52] wdet30 commented on #3
Rebuilding and fixing to your notes. Should be done 1/6/21 after 4pm for your look over. @metastange

[2022-01-06 01:39] artlogic commented on #102
What put the excerpts there in the first place?

[2022-01-06 02:05] wdet30 commented on #102
It seems that she's trying to use that to put the program data and do a blog post for preview in the blog view. I had to hard code function.php for the excerpt field just to go to pages. I'm hoping there will be a workaround is there a way we can just keep things the way they are for pages? And excerpts. Can you please explain to James how you want to use them a little bit more. Thanks @Meta ***@*

[2022-01-06 03:38] artlogic commented on #102
What code or configuration caused the excerpts to start appearing on the pages?

[2022-01-06 03:42] wdet30 commented on #102
It's in function.php  add_post_type_support( 'page', 'excerpt' ); @artlogic

Thanks

[2022-01-06 03:43] artlogic commented on #102
What happens if that's removed?

[2022-01-06 03:45] wdet30 commented on #102
Then the excerpt field does not show up in pages.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Wednesday, January 5, 2022 10:43:28 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Excerpts on Pages (NOT POSTS.) (Issue #102)

[EXTERNAL]

Wh

[2022-01-06 03:47] artlogic commented on #102
In the admin, on the site, or both?

[2022-01-06 06:14] artlogic commented on #93
@metastange I believe you're handling the theme customization, but if I'm wrong please let me know.

You need to disable the second bio by unchecking "Show single post author bio?" in "Customizing ▸ Site blog settings Single Blog settings". This should be added to the customization notes (where they are being kept).

[2022-01-06 06:26] artlogic commented on #93
You can change the template the author info on posts is made with by editing the boxed layout here: https://wdetcms.wdet.org/wp-admin/edit.php?post_type=ppmacf_layout

[2022-01-06 07:09] artlogic commented on #102
@metastange this should be resolved - can you please verify

[2022-01-06 07:27] artlogic commented on #67
Gothan is not a free font. In order to have it included in the site you'll need to purchase a license from typography.com: https://www.typography.com/fonts/gotham/styles

You'll have to choose a license for websites based on your monthly page views and the styles of Gothan you need. Licensing is yearly.

[2022-01-06 13:42] metastange commented on #102
@artlogic - yes, looks correct on my end. is the update documented elsewhere, am i good to close this issue?

[2022-01-06 13:44] metastange commented on #67
@wdet30 Gotham was used on the site until about three weeks ago - do you have any information on previously-purchased licenses?

[2022-01-06 13:54] metastange commented on #93
@artlogic ok, thanks.

@wdet30 please advise on how you want me to document my theme customization notes for posterity.

Also, I am not going to mess with the hard code in the template, @wdet30 can you please confirm if you are able change the color of the view all posts and email buttons and make the avatar a uniform shape?

Finally, there's still a large gap between the author bio and "you may a

[2022-01-06 14:05] wdet30 commented on #67
I will look around but not that I know of
________________________________
From: metastange ***@***.***>
Sent: Thursday, January 6, 2022 8:44:51 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Font Breakdown (Issue #67)

[EXTERNAL]

@wdet30<https://github.com/wdet30> Gotham was used on the site until about thr

[2022-01-06 14:45] wdet30 commented on #93
I will check but may not have the answers till later today. Checking

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: metastange ***@***.***>
Sent: Thursday, January 6, 2022 8:54:45 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Author Widget Updates (Issue #93)

[EXTERN

[2022-01-06 15:28] artlogic commented on #67
@metastange did you happen to receive a new computer?

[2022-01-06 15:49] metastange commented on #67
I did in fact get a new computer. But this problem is showing up for @dorothyhernandez as well, who is on the same machine she has been on (screenshots below):
<img width="947" alt="MicrosoftTeams-image (1)" src="https://user-images.githubusercontent.com/85897115/148410171-c2667be6-50e0-40be-90df-8b5ec25bcb9e.png">
<img width="1002" alt="MicrosoftTeams-image" src="https://user-images.githubusercon

[2022-01-06 15:51] artlogic commented on #67
I suspect your old computer had Gotham installed and your new computer does not. There's no sign of a web font reference that I can find on the old or new sites.

Has @dorothyhernandez seen a change in fonts, or have they simply not been Gotham ever?

[2022-01-06 16:17] dorothyhernandez commented on #67
I have seen a change in fonts. A couple of weeks ago (sorry, I didn't document the actual date) I noticed the current site had switched over to Gill Sans after it had been Gotham. I've had the same computer since I started in March 2021 so it's not machine related.

[2022-01-06 16:18] wdet30 commented on #67
We don't have a license for the font it seems.

[2022-01-06 16:26] wdet30 commented on #3
I'm not sure what to do about social icons. These are the ones provided by elementor.  They seem to link to the right pages. What can I do to resolve this?

WDET and NPR logos please provide files you would like.

[2022-01-06 16:40] artlogic commented on #67
@dorothyhernandez do you have Gotham available as a font on your computer?

[2022-01-06 16:40] metastange commented on #3
This is what I'm seeing on the social icons:
<img width="251" alt="Screen Shot 2022-01-06 at 11 39 05 AM" src="https://user-images.githubusercontent.com/85897115/148417610-7c339bb4-7677-4cdc-98c7-6e64f573f18b.png">

I used Elementor provided logos on the podcast page buttons and there was a fair amount of flexibility in formatting. At minimum, the social icons need to be centered in the colored bo

[2022-01-06 16:42] metastange commented on #67
@artlogic FWIW I have gotham on my computer and this was ALSO brought up by our graphic designer who ALSO has gotham on her computer.

[2022-01-06 16:43] dorothyhernandez commented on #67
@artlogic Yes, I have Gotham installed on my computer.

[2022-01-06 16:49] artlogic commented on #67
There are a large number of variants - both websites request "Gotham SSm A" and then "Gotham SSm B". Do you both have those fonts installed? (Those are likely Screen Smart Medium - I'm not sure what the A or B stand for however).

[2022-01-06 17:14] metastange commented on #67
@artlogic would you be able to discuss this with our designer? i feel like we're going in circles here and it's clear we're not articulating the issue as well as we could be. She can provide insight on what she's noticing on the old site and, hopefully, that will help you and @wdet30 diagnose the issue on the new site.

Let me know and I'll connect the two of you via email.

[2022-01-06 17:15] artlogic commented on #67
I just looked at an archive of the site from July, and it is indeed using Gotham. I'm looking into this further.

[2022-01-06 17:27] artlogic commented on #67
It looks like at one time you must have been paying for a license for Gotham. This appears on the old site: `<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6616132/631866/css/fonts.css" />`

Now when I attempt to retrieve that file, it says the account has been deactivated.

The only legal way to get this font back is to pay for a yearly license. There's nothing else to be don

[2022-01-06 17:29] artlogic commented on #102
The linked commit (https://github.com/arsmentis/wdet-conversion/commit/ed89e0bd75160e895a7bfcfc8cc97aa231aa5d19) should be all the documentation needed - assuming @wdet30 creating the theme zip file from github.

[2022-01-06 17:29] #102 closed

[2022-01-06 17:40] wdet30 commented on #3
@metastange , I was able to clean up the footer. One thing we are stuck with the ugly copyright call in the footer. This is calling from the theme general colors. I don't won't modify this until after launch and I get more control of the colors in the upgrade of the theme. Please give a look at the links logos and other items. TY

[2022-01-06 18:01] metastange commented on #3
The same issue is happening with the social icons, but they're round now:
<img width="277" alt="Screen Shot 2022-01-06 at 1 00 08 PM" src="https://user-images.githubusercontent.com/85897115/148428926-57b7701a-5da1-4ee9-b58b-a3026e00f689.png">

Also, the logos I sent over were to size. If they're going to be scaled up (which they are on the updated footer), i can resend higher-res versions; the NPR

[2022-01-06 18:26] artlogic commented on #3
Non-vector images should be sized 3-4 times their display size to account for higher DPI displays. They will look fuzzy otherwise. Ideally use vector images if you can, which don't exhibit this problem.

[2022-01-06 18:29] metastange commented on #3
Thanks @artlogic. @wdet30 I re-sent vector logos via email.

[2022-01-06 18:50] artlogic commented on #4
@metastange customizer shouldn't impact this - let me know if we need anything further here - otherwise I'll close this one.

[2022-01-06 18:51] metastange commented on #4
all set.

[2022-01-06 18:51] #4 closed

[2022-01-06 20:17] wdet30 commented on #3
@metastange, can you please give a look at the social icons and see if you can get them how you like?

Here is the edit link

https://wdetcms.wdet.org/wp-admin/post.php?post=120477&action=elementor

[2022-01-06 20:50] metastange commented on #67
We're working on reinstating the license. Thanks for your time on this.

[2022-01-07 14:40] metastange commented on #67
The license has been renewed so fonts should now be populating correctly on the active site (it's working on my end).

Not sure what steps need to be taken to apply this license to the redesigned site - let me know if you need additional information from me to facilitate.

[2022-01-07 15:13] wdet30 commented on #67
Please move fonts into post launch. I just looked at how to setup.  Once the DNS points to the new site the fonts should work. Would you please verify that the Gotham fonts are working on the current site now? That will tell the story if there is any other integration needed post launch.

Thanks,
Tony

________________________________
From: metastange ***@***.***>
Sent: Friday, January 7, 2022 9:4

[2022-01-07 15:47] #3 closed

[2022-01-07 16:11] metastange commented on #67
Verified in the previous post. Added post-launch tag.

[2022-01-07 16:13] wdet30 commented on #67
Thanks! TB
________________________________
From: metastange ***@***.***>
Sent: Friday, January 7, 2022 11:11 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Font Breakdown (Issue #67)

[EXTERNAL]

Verified in the previous post. Added post-launch tag.

—
Reply to this email directly, view it on GitHub<https://

[2022-01-07 16:34] wdet30 commented on #93
@artlogic there are a few columns after the author widget. Do you know I can delete that space or clean things up for this issue?

I'm not sure who to handle.

[2022-01-07 16:48] wdet30 commented on #93
It's not in the plugin. I turned it off and the issue was still there.

[2022-01-07 17:05] artlogic commented on #93
The styles pushing things down (that you'd want to override) are the following:

[code]

You might actually set the first to simply to not display because they don't seem to be populated.

[2022-01-07 19:53] wdet30 commented on #93
I can't fix it. I will get this in the next version.

[2022-01-09 18:18] wdet30 opened #103 "Help with Nav centering"
Hey @artlogic, would you please give me a hand with the Nav. @metastange has reported the following issues.

Header/Global Nav		Nav does not appear to be centered
Header/Global Nav		"Donate" in nav are not center aligned
Header/Global Nav		Shows, Podcasts... etc. menu not centered top to bottom in blue bar

[2022-01-09 18:43] artlogic commented on #103
I am going to need some screenshots for the first two, with direction as to where you want things to move.

[2022-01-09 18:47] wdet30 commented on #103
@metastange, please direct James how you want this lined up.
TY

[2022-01-09 18:48] metastange commented on #103
Nav issue: Needs to move to the right and down slightly
![Screen Shot 2022-01-09 at 1 45 53 PM](https://user-images.githubusercontent.com/85897115/148696233-a10ebe87-691c-4ddc-9beb-34bbb5de5099.png)

Donate button: "Donate" needs to be moved down
![Screen Shot 2022-01-09 at 1 45 45 PM](https://user-images.githubusercontent.com/85897115/148696246-3327fb9c-1f17-4878-bb93-08d0ff3333e5.png)

[2022-01-09 18:48] metastange commented on #103
The colors are also incorrect for the heart and the word "Donate" - they should match the outline.

[2022-01-09 18:52] artlogic commented on #103
How far to the right?

[2022-01-09 20:12] artlogic commented on #103
Generally you would point out something it should be lining up with, or markup up the imagine with a line showing where the edge should be.

[2022-01-09 20:24] metastange commented on #103
Yellow line is the middle of the nav. It should line up with the center of the page (red line
![navigation alignment](https://user-images.githubusercontent.com/85897115/148699454-b523d21d-4e36-484c-a103-953a5b138a2f.png)
)

[2022-01-09 21:19] artlogic commented on #103
That's no problem, but please be aware that the search button will make this appear to not be centered when it's in that position.

[2022-01-09 21:21] wdet30 commented on #103
@metastange , I can put the search button in the sidebar. It's there now please advise.

[2022-01-09 21:22] wdet30 commented on #103
I will take the search out of the nav

[2022-01-09 21:26] metastange commented on #103
I would prefer to keep the search in the nav, not in the sidebar, otherwise it's not easily accessible in mobile. It was already aligned right in previous iterations of the review, so that's fine.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: wdet30 ***@***.***>
Sent: Sunday, January 9, 2022 4:22:52 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Meta Stange

[2022-01-09 21:27] wdet30 commented on #103
ok rolling it back

[2022-01-10 01:40] artlogic opened #104 "Clone wdet.org to wdetdev.wdet.org"

[2022-01-10 01:47] artlogic commented on #67
We need to add the proper stylesheet from the old wdet.org from the proper Gotham font to be pulled down.

[2022-01-10 01:47] artlogic commented on #103
I commented out my hack and it's good enough - I will update github shortly

[2022-01-10 15:06] metastange opened #105 "Access to Redirects"
@wdet30 @artlogic I am trying to verify some redirects used on the old site (ie wdet.org/artist pointing to artist next door series) and do not appear to be able to access redirects with my user account; can you enable me to do so or point me in the right direction? I might just be missing it.

[2022-01-10 15:30] metastange opened #106 "Styling issue - mobile nav"
Mobile nav needs to be cleaned up, ideally to match the old version, but if that's not feasible, at least remove the large blue bar and drop the search into the hamburger menu.

current:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/85897115/148792236-9894e6bd-2386-4f8e-8abd-d91140e782ae.png)

old version:
![IMG_F69AB9946FAB-1](https://user-images.githubusercontent.com/85897115

[2022-01-10 15:33] metastange opened #107 "Old Post Links Not Working"
Links on the new site are missing a 5 digit post code (91801 in the old link below for reference) in the url, meaning all old links and social post links are broken. Is there a way to ensure that old urls point to the current urls?

old url:
https://wdet.org/posts/2021/12/07/91801-solar-power-bulk-buying-program-allows-homeowners-and-businesses-to-cut-electricity-bills/

new url:
https://wdet.org/

[2022-01-10 16:12] metastange opened #108 "Adding Users/Authors - Editor Permissions Issue"
It appears that with editor access, I am unable to add new users (or even access user data). Sam Corey (sam.corey@wdet.org) is a new employee who needs an author profile.

[2022-01-10 16:38] artlogic commented on #108
I will add in Sam. We need to sort out permissions at the meeting this afternoon.

[2022-01-10 16:41] metastange commented on #108
Thanks, @artlogic! I'll make some notes on permissions to discuss later.

[2022-01-10 16:41] metastange commented on #108
what's sam's username?

[2022-01-10 16:43] artlogic commented on #105
Can you access it here?

https://archive.wdet.org/admin/redirects/redirect/

[2022-01-10 16:47] artlogic commented on #105
Oh, wait - were you talking about redirects on the new site?

Those are plugin settings and likely can only be accessed by administrators. For the time being I'm going to elevate your access. I think we're going to need to have a longer discussion about this soon.

[2022-01-10 16:47] artlogic commented on #105
You should now be an admin.

[2022-01-10 16:47] wdet30 commented on #105
Meta permissions updated.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Monday, January 10, 2022 11:44:01 AM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Access to Redirects (Issue #105)

[EXTERNAL]

Can you access it here?

https://archiv

[2022-01-10 16:48] artlogic commented on #108
He can just login with his email. He should have actually received an email from wordpress.

[2022-01-10 17:05] metastange commented on #108
all set, can you update him to an editor (for now)? He needs to be able to edit a post he did not start.

Adding this to my permissions list questions!

[2022-01-10 17:06] artlogic commented on #108
Done.

[2022-01-10 17:18] artlogic commented on #107
It looks like there was an issue with the case sensitivity of the redirects. I toggled a setting (lucky we had it) and they seem to be working now.

This does concern me - have the other redirects been tested? How did this not get caught?

[2022-01-10 17:26] metastange commented on #107
I reviewed and approved _page_ redirects, but did not receive any information or guidance on how to test that post urls would go to the same posts.

It's not working for me on FB, not sure if that's because FB adds its own line of code to the URL. but old direct links and twitter links appear to be working.

[2022-01-10 17:30] metastange opened #109 "Social Sharing - Not Pulling in Post Data"
When uploading urls to social scheduling and social platforms, the headline and excerpt are not pulled in. Instead, the headline reads "WDET 101.9FM WDET is Detroit' Public Radio Station" and "WDET is Detroit's Public Radio Station. For over 60 years, WDET has provided an independent voice for Detroit through a mix of news, music and cultural programming that's unique as the city and…" The image i

[2022-01-10 18:07] artlogic commented on #109
I'm not seeing any linking data for social networks in posts - I would imagine there's a plugin for this - let's wait for @wdet30 on this one.

[2022-01-10 18:09] metastange commented on #107
Here's an example of the facebook post link:
https://wdet.org/posts/2022/01/07/91891-matching-ids-for-transgender-people-is-life-saving-for-the-community-local-activist-says/?fbclid=IwAR3IFAg0McTv6yO4N-c81YcKQTsq2TQwgoKdK8jgiyHZM9VDLFfqS6eO0wc

[2022-01-10 18:25] metastange commented on #108
admins:
- Tony
- Dorothy

editors:
- Matt Trevethan
- Sam Corey
- Jake Neher
- Ryan Patrick Hooper
- Amanda LeClaire
- LaToya Cross
- Detroit Today intern (maybe DT Intern?)

Is it possible to keep my account as admin until friday before i no longer access it? I need to clean up some redirects and author data.

[2022-01-10 18:41] artlogic commented on #108
This has been taken care of. There are a few outstanding issues:

1. tbrown needs to be demoted to editor or author.
2. We need to make a tbrown_admin ID
3. I'm not sure what the deal is with the wdetdigital admin, but it likely should be removed.
4. Meta's ID will remain an admin for the next 4 days until it's removed.

That should be everything!

[2022-01-10 18:41] #105 closed

[2022-01-10 18:44] artlogic commented on #107
This should be resolved - please confirm. Thanks!

[2022-01-10 18:49] dorothyhernandez commented on #105
@artlogic Can you clarify what I'm looking for author redirects? We're seeing categories and old site redirects under redirection but not sure what I'm supposed to checking for author profiles.

[2022-01-10 18:55] wdet30 commented on #108
Do not remove remove my permissions. They are connected to the theme license

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Monday, January 10, 2022 1:41:10 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Adding Users/Authors - Editor Permi

[2022-01-10 18:57] wdet30 commented on #108
I will deal with permissions don't edit WDET digital as well

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Tony Brown ***@***.***>
Sent: Monday, January 10, 2022 1:55:39 PM
To: arsmentis/wdet-conversion ***@***.***>; arsmentis/wdet-conversion ***@***.***>
Cc: Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Adding Users/Authors - Editor Permiss

[2022-01-10 19:08] artlogic commented on #108
We're waiting for you. That's why they're outstanding. Get some rest.

[2022-01-10 19:08] dmsanderswdet opened #110 "Elementor"
Big area on Elementor or something and wordpress news. I can shrink by pressing the triangle but is there a way to get these two things   off my dashboard?
Submitted by WDET reporter

</body>

</html>

[2022-01-10 19:10] wdet30 commented on #108
Copy that

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Monday, January 10, 2022 2:08:46 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Assign ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Adding Users/Authors - Editor Permissions Issue (Issue #108)

[EXTERNAL]

We're waiting for you. That'

[2022-01-10 19:44] metastange commented on #107
Yes! Thanks @artlogic

[2022-01-10 20:03] artlogic opened #111 "Options for fine grained permissions in wordpress"
Here are some (of I'm sure many) options to give WordPress a permissions system, like Django or Drupal:

https://www.ostraining.com/blog/wordpress/best-permissions-plugins/

[2022-01-11 14:34] metastange commented on #110
This has been addressed with the team. Solutions: Update screen options to remove unwanted content.

[2022-01-11 14:34] #110 closed

[2022-01-11 15:15] metastange opened #112 "Updating Redirects"
@artlogic quick question for you - on the old cms, the format for redirects was /samsjams/ (backslash before and after the path) BUT the redirect worked when users did NOT use the second backslash.

I've gotten multiple questions from users about redirects not working (for context, these are helpful because they're more convenient when sharing links on-air), and it appears that it's because the se

[2022-01-11 15:44] artlogic commented on #112
I just turned on the redirection setting to ignore trailing slashes - let me know if this solves the problem.

[2022-01-11 18:32] metastange commented on #109
FYI, another iteration of this is in tabs - every tab has the same preview.

[2022-01-11 21:19] dorothyhernandez commented on #111
@artlogic Is there a way to add Elementor editing capabilities under my Editor account vs admin? I will need to use that function with every post and from what I understand I should only be logging into my admin account for admin tasks.

[2022-01-11 21:29] wdet30 commented on #111
Yes I can grant editors access to elementor. Do you need it today? Please advise @Dorothy ***@***.***>

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: metastange ***@***.***>
Sent: Tuesday, January 11, 2022 4:20:21 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Options

[2022-01-11 21:32] dorothyhernandez opened #113 "Remove automatic wdet.org category tag on all posts"
We didn't notice it before but there appears to be a wdet.org category tag that's being automatically applied to all new web posts. For the time being I'm just unchecking them all but it would be more efficient to have it taken off.

[2022-01-11 21:33] dorothyhernandez commented on #111
@wdet30 I don't need it today just whenever you get to it. Thanks.

[2022-01-11 21:36] wdet30 commented on #111
I wil go over tickets first thing tomorrow.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: dorothy ***@***.***>
Sent: Tuesday, January 11, 2022 4:33:37 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Options for fine grained permissions in wordpress (Issue #111)

[EXTER

[2022-01-11 21:41] artlogic commented on #111
I believe the issues went beyond Elementor. For instance, there's no way to restrict who can publish articles. There's also no way to grant people access to customizer or redirects without them being an admin (unless you know of a way I'm not).

[2022-01-11 21:43] wdet30 commented on #111
No way only admins can manage plugins.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Tuesday, January 11, 2022 4:41:50 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Options for fine grained permissions in wordpress (Issue #111)

[EXTERN

[2022-01-11 21:50] artlogic commented on #111
I figured as much but several of the plugins listed allow you to manage things like who can publish, who can create certain content types, etc...

[2022-01-11 21:51] wdet30 commented on #111
Yep, we'll chat about that and me you and Ryan and maybe even Martin have a conversation if we really want to use those plugins. I'm game if your game.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Tuesday, January 11, 2022 4:50:12 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>

[2022-01-12 21:04] metastange commented on #109
this is impacting our ability to post on social and share links - can we prioritize this issue tomorrow? @wdet30

[2022-01-12 21:09] wdet30 commented on #113
Hey @dorothyhernandez, this is the fallback for post without a category. What should we name it? It can't be deleted. If someone does not check a category a post will fall to this category by default. What should the name be? Please advise. "News" "wdet something"?
![screen1](https://user-images.githubusercontent.com/84190532/149221334-68420956-5ad9-456a-a723-62fa22451e98.png)

[2022-01-12 21:11] wdet30 commented on #109
I hope to have a solution Thursday. I'm working on it tonight.

Thanks TB
________________________________
From: metastange ***@***.***>
Sent: Wednesday, January 12, 2022 4:04 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Social Sharing - Not Pulling in Post Data (Issue #109)

[EXTERNAL]

this is impacting o

[2022-01-13 14:45] wdet30 commented on #109
@metastange, testing I should have something soon.

[2022-01-13 16:44] metastange commented on #107
Hey @artlogic - sorry, still finding some issues.

Looks like the new site ads additional hyphens in some cases (like U.S.) which is breaking some links. Is there a solution for this? Examples below:

old link
https://wdet.org/posts/2021/07/06/91160-former-us-prosecutor-barbara-mcquade-reflects-on-how-constitution-advances-issues-of-inequality/
new link
https://wdet.org/2021/07/06/former-u-s-prose

[2022-01-13 16:46] wdet30 commented on #107
Just jumping in here with no real solution yet. But I'm thinking, if you have a list of all the old urls versus the new URLs, we can do a import via Excel into the redirect program. Not sure just checking. Is it possible to get a list?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: metastange ***@***.***>
Sent: Thursday, January 13, 2022 11:44:21 AM
To: ars

[2022-01-13 17:43] artlogic commented on #107
There are a couple of ways to deal with this:

1. Deal with 404s as they happen. You can monitor this page for 404s: https://wdet.org/wp-admin/tools.php?page=redirection.php&sub=404s - once you find one, you can create an appropriate redirect (or page) if needed. I would suggest you do this regardless. You want as few 404s as possible.
2. Attack the problem en masse by identifying issues (like the

[2022-01-13 17:45] artlogic commented on #108
@wdet30

I'd like to get this sorted out:

    1. tbrown needs to be demoted to editor or author. (or renamed to tbrown_admin)
    2. We need to make a tbrown_admin ID, or a tbrown ID if the above is renamed.
    3. I'm not sure what the deal is with the wdetdigital admin, can you explain?

Let me know what you're thinking here.

[2022-01-13 18:28] wdet30 commented on #108
Hey I'm looping in Ryan in the email chain we met on this yesterday. Can we please circle back to you tomorrow on this we do have a solution. I'll start demoting accounts and getting all that stuff done tomorrow.

TB

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Kruth ***@***.***>
Sent: Thursday, January 13, 2022 12:45:37 PM
To: arsmentis/wdet-conver

[2022-01-13 19:51] wdet30 commented on #108
Absolutely correct, we are taking your advice. I just need to change the email address on a few license plugins. And I was going to do that tomorrow.

T

________________________________
From: James Kruth ***@***.***>
Sent: Thursday, January 13, 2022 2:39:30 PM
To: arsmentis/wdet-conversion ***@***.***>
Cc: Tony Brown ***@***.***>; Mention ***@***.***>
Subject: Re: [arsmentis/wdet-conversion] Addi

[2022-01-13 20:53] metastange commented on #107
@dorothyhernandez @wdet30 I suggest monitoring 404s as they happen for a week or so and seeing if we're generating enough traffic on those pages to justify creating additional redirects. I will leave this decision to you though.

[2022-01-13 21:42] dorothyhernandez opened #114 "Permalinks changing after posts are updated"
@wdet30 @artlogic Whenever I change the permalinks to something more reader friendly, after I hit save after making the change it goes to a string of numbers and revision1 e.g. https://wdet.org/2022/01/12/123740-revision-v1/.

What I change it to manually
<img width="822" alt="Screen Shot 2022-01-13 at 1 01 17 PM" src="https://user-images.githubusercontent.com/91985309/149384326-7da7c136-92ef-4faa

[2022-01-13 22:10] wdet30 commented on #109
@dorothyhernandez @metastange Sorry, this is taking so long. You will see that I'm testing social sharing tools and trying to resolve our meta data issues.

Sorry for the delay.

[2022-01-14 15:18] metastange commented on #109
@wdet30 Is this related to what you're working on to pull in metadata or a separate issue?
<img width="1166" alt="Screen Shot 2022-01-14 at 10 17 35 AM" src="https://user-images.githubusercontent.com/85897115/149539194-3ec36f2c-ffe0-4460-aeed-cc9f8cd59eff.png">

[2022-01-14 15:20] wdet30 commented on #109
Yes, @Meta ***@***.***> definitely not the solution it's where I left off. I'll be pulling those down and circling back to this issue later on tonight or throughout the day. I'm still having trouble cobbling the metadata and passing it over to aggregators or social media. Sorry for the delay.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: metastange ***@***